.sticky-links-wrapper :is(.my-3) {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem
}

.sticky-links-wrapper :is(.block) {
  display: block
}

.sticky-links-wrapper :is(.w-full) {
  width: 100%
}

.sticky-links-wrapper :is(.border-b) {
  border-bottom-width: 1px
}

.sticky-links-wrapper :is(.border-b-\[\#D8D8D8\]) {
  --tw-border-opacity: 1;
  border-bottom-color: rgb(216 216 216 / var(--tw-border-opacity))
}

.sticky-links-wrapper :is(.py-2) {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem
}

.sticky-links-wrapper :is(.text-sm) {
  font-size: 0.875rem;
  line-height: 1.25rem
}

.sticky-links-wrapper :is(.font-semibold) {
  font-weight: 600
}

.sticky-links-wrapper :is(.uppercase) {
  text-transform: uppercase
}

.sticky-links-wrapper :is(.leading-6) {
  line-height: 1.5rem
}

.sticky-links-wrapper :is(.text-\[\#378189\]) {
  --tw-text-opacity: 1;
  color: rgb(55 129 137 / var(--tw-text-opacity))
}

.sticky-links-wrapper :is(.text-\[\#65797C\]) {
  --tw-text-opacity: 1;
  color: rgb(101 121 124 / var(--tw-text-opacity))
}

.sticky-links-wrapper :is(.hover\:underline:hover) {
  text-decoration-line: underline
}