.sticky-right-navigation :is(.pointer-events-none) {
  pointer-events: none
}

.sticky-right-navigation :is(.absolute) {
  position: absolute
}

.sticky-right-navigation :is(.relative) {
  position: relative
}

.sticky-right-navigation :is(.sticky) {
  position: sticky
}

.sticky-right-navigation :is(.\!sticky) {
  position: sticky !important
}

.sticky-right-navigation :is(.top-10) {
  top: 2.5rem
}

.sticky-right-navigation :is(.\!top-10) {
  top: 2.5rem !important
}

.sticky-right-navigation :is(.top-0) {
  top: 0px
}

.sticky-right-navigation :is(.z-10) {
  z-index: 10
}

.sticky-right-navigation :is(.z-20) {
  z-index: 20
}

.sticky-right-navigation :is(.ml-2) {
  margin-left: 0.5rem
}

.sticky-right-navigation :is(.mt-1) {
  margin-top: 0.25rem
}

.sticky-right-navigation :is(.block) {
  display: block
}

.sticky-right-navigation :is(.flex) {
  display: flex
}

.sticky-right-navigation :is(.hidden) {
  display: none
}

.sticky-right-navigation :is(.w-full) {
  width: 100%
}

.sticky-right-navigation :is(.w-1\/2) {
  width: 50%
}

.sticky-right-navigation :is(.cursor-pointer) {
  cursor: pointer
}

.sticky-right-navigation :is(.items-center) {
  align-items: center
}

.sticky-right-navigation :is(.justify-between) {
  justify-content: space-between
}

.sticky-right-navigation :is(.space-x-4 > :not([hidden]) ~ :not([hidden])) {
  --tw-space-x-reverse: 0;
  margin-right: calc(1rem * var(--tw-space-x-reverse));
  margin-left: calc(1rem * calc(1 - var(--tw-space-x-reverse)))
}

.sticky-right-navigation :is(.rounded-3xl) {
  border-radius: 1.5rem
}

.sticky-right-navigation :is(.rounded-lg) {
  border-radius: 0.5rem
}

.sticky-right-navigation :is(.border) {
  border-width: 1px
}

.sticky-right-navigation :is(.bg-\[\#f2f2f2\]) {
  --tw-bg-opacity: 1;
  background-color: rgb(242 242 242 / var(--tw-bg-opacity))
}

.sticky-right-navigation :is(.bg-white) {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.sticky-right-navigation :is(.p-2) {
  padding: 0.5rem
}

.sticky-right-navigation :is(.pr-8) {
  padding-right: 2rem
}

.sticky-right-navigation :is(.text-\[\#65797c\]) {
  --tw-text-opacity: 1;
  color: rgb(101 121 124 / var(--tw-text-opacity))
}

.sticky-right-navigation :is(.shadow-lg) {
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.sticky-right-navigation :is(.hover\:bg-green-500:hover) {
  --tw-bg-opacity: 1;
  background-color: rgb(34 197 94 / var(--tw-bg-opacity))
}

@media (min-width: 1024px) {
  .sticky-right-navigation :is(.lg\:w-1\/2) {
    width: 50%
  }
}