.table-block-wrapper :is(.\!block) {
  display: block !important
}

.table-block-wrapper :is(.block) {
  display: block
}

.table-block-wrapper :is(.table) {
  display: table
}

.table-block-wrapper :is(.w-full) {
  width: 100%
}

.table-block-wrapper :is(.table-auto) {
  table-layout: auto
}

.table-block-wrapper :is(.table-fixed) {
  table-layout: fixed
}

.table-block-wrapper :is(.content-baseline) {
  align-content: baseline
}

.table-block-wrapper :is(.break-words) {
  overflow-wrap: break-word
}

.table-block-wrapper :is(.border-b-2) {
  border-bottom-width: 2px
}

.table-block-wrapper :is(.border-\[\#e5e7eb\]) {
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity))
}

.table-block-wrapper :is(.py-2) {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem
}

.table-block-wrapper :is(.pb-1) {
  padding-bottom: 0.25rem
}

.table-block-wrapper :is(.pr-2) {
  padding-right: 0.5rem
}

.table-block-wrapper :is(.pt-2) {
  padding-top: 0.5rem
}

.table-block-wrapper :is(.text-left) {
  text-align: left
}

.table-block-wrapper :is(.text-base) {
  font-size: 1rem;
  line-height: 1.5rem
}

.table-block-wrapper :is(.text-xs) {
  font-size: 0.75rem;
  line-height: 1rem
}

.table-block-wrapper :is(.text-\[\#378189\]) {
  --tw-text-opacity: 1;
  color: rgb(55 129 137 / var(--tw-text-opacity))
}

.table-block-wrapper :is(.text-\[\#65797c\]) {
  --tw-text-opacity: 1;
  color: rgb(101 121 124 / var(--tw-text-opacity))
}

.table-block-wrapper :is(.text-black) {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity))
}

.table-block-wrapper :is(.underline) {
  text-decoration-line: underline
}