.sticky-sections-list :is(.absolute) {
  position: absolute
}

.sticky-sections-list :is(.relative) {
  position: relative
}

.sticky-sections-list :is(.sticky) {
  position: sticky
}

.sticky-sections-list :is(.right-0) {
  right: 0px
}

.sticky-sections-list :is(.top-0) {
  top: 0px
}

.sticky-sections-list :is(.top-full) {
  top: 100%
}

.sticky-sections-list :is(.z-10) {
  z-index: 10
}

.sticky-sections-list :is(.z-20) {
  z-index: 20
}

.sticky-sections-list :is(.mx-auto) {
  margin-left: auto;
  margin-right: auto
}

.sticky-sections-list :is(.ml-auto) {
  margin-left: auto
}

.sticky-sections-list :is(.mt-1) {
  margin-top: 0.25rem
}

.sticky-sections-list :is(.block) {
  display: block
}

.sticky-sections-list :is(.flex) {
  display: flex
}

.sticky-sections-list :is(.hidden) {
  display: none
}

.sticky-sections-list :is(.max-h-\[400px\]) {
  max-height: 400px
}

.sticky-sections-list :is(.max-h-screen) {
  max-height: 100vh
}

.sticky-sections-list :is(.min-h-\[40px\]) {
  min-height: 40px
}

.sticky-sections-list :is(.w-28) {
  width: 7rem
}

.sticky-sections-list :is(.w-\[110\%\]) {
  width: 110%
}

.sticky-sections-list :is(.w-full) {
  width: 100%
}

.sticky-sections-list :is(.max-w-7xl) {
  max-width: 80rem
}

.sticky-sections-list :is(.shrink-0) {
  flex-shrink: 0
}

.sticky-sections-list :is(.rotate-180) {
  --tw-rotate: 180deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.sticky-sections-list :is(.cursor-pointer) {
  cursor: pointer
}

.sticky-sections-list :is(.flex-row) {
  flex-direction: row
}

.sticky-sections-list :is(.items-center) {
  align-items: center
}

.sticky-sections-list :is(.gap-x-4) {
  -moz-column-gap: 1rem;
       column-gap: 1rem
}

.sticky-sections-list :is(.overflow-y-auto) {
  overflow-y: auto
}

.sticky-sections-list :is(.rounded-2xl) {
  border-radius: 1rem
}

.sticky-sections-list :is(.rounded-full) {
  border-radius: 9999px
}

.sticky-sections-list :is(.border) {
  border-width: 1px
}

.sticky-sections-list :is(.\!border-b) {
  border-bottom-width: 1px !important
}

.sticky-sections-list :is(.border-\[\#EAECEC\]) {
  --tw-border-opacity: 1;
  border-color: rgb(234 236 236 / var(--tw-border-opacity))
}

.sticky-sections-list :is(.border-b-\[\#D8D8D8\]) {
  --tw-border-opacity: 1;
  border-bottom-color: rgb(216 216 216 / var(--tw-border-opacity))
}

.sticky-sections-list :is(.border-opacity-5) {
  --tw-border-opacity: 0.05
}

.sticky-sections-list :is(.\!bg-\[\#F4F5F5\]) {
  --tw-bg-opacity: 1 !important;
  background-color: rgb(244 245 245 / var(--tw-bg-opacity)) !important
}

.sticky-sections-list :is(.bg-\[\#273F3F\]) {
  --tw-bg-opacity: 1;
  background-color: rgb(39 63 63 / var(--tw-bg-opacity))
}

.sticky-sections-list :is(.bg-white) {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.sticky-sections-list :is(.bg-opacity-10) {
  --tw-bg-opacity: 0.1
}

.sticky-sections-list :is(.bg-opacity-5) {
  --tw-bg-opacity: 0.05
}

.sticky-sections-list :is(.px-6) {
  padding-left: 1.5rem;
  padding-right: 1.5rem
}

.sticky-sections-list :is(.py-3) {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem
}

.sticky-sections-list :is(.py-6) {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem
}

.sticky-sections-list :is(.px-7) {
  padding-left: 1.75rem;
  padding-right: 1.75rem
}

.sticky-sections-list :is(.py-4) {
  padding-top: 1rem;
  padding-bottom: 1rem
}

.sticky-sections-list :is(.pt-5) {
  padding-top: 1.25rem
}

.sticky-sections-list :is(.text-sm) {
  font-size: 0.875rem;
  line-height: 1.25rem
}

.sticky-sections-list :is(.font-semibold) {
  font-weight: 600
}

.sticky-sections-list :is(.leading-4) {
  line-height: 1rem
}

.sticky-sections-list :is(.tracking-\[0\.2px\]) {
  letter-spacing: 0.2px
}

.sticky-sections-list :is(.text-\[\#273F3F\]) {
  --tw-text-opacity: 1;
  color: rgb(39 63 63 / var(--tw-text-opacity))
}

.sticky-sections-list :is(.text-\[\#65797c\]) {
  --tw-text-opacity: 1;
  color: rgb(101 121 124 / var(--tw-text-opacity))
}

.sticky-sections-list :is(.drop-shadow-2xl) {
  --tw-drop-shadow: drop-shadow(0 25px 25px rgb(0 0 0 / 0.15));
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.sticky-sections-list :is(.transition) {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms
}

.sticky-sections-list :is(.hover\:bg-\[\#f2f2f2\]:hover) {
  --tw-bg-opacity: 1;
  background-color: rgb(242 242 242 / var(--tw-bg-opacity))
}

.sticky-sections-list :is(.hover\:text-black:hover) {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity))
}

@media (min-width: 768px) {
  .sticky-sections-list :is(.md\:\!w-24) {
    width: 6rem !important
  }
}

@media (min-width: 1024px) {
  .sticky-sections-list :is(.lg\:left-0) {
    left: 0px
  }

  .sticky-sections-list :is(.lg\:h-\[72px\]) {
    height: 72px
  }

  .sticky-sections-list :is(.lg\:\!w-20) {
    width: 5rem !important
  }

  .sticky-sections-list :is(.lg\:w-full) {
    width: 100%
  }

  .sticky-sections-list :is(.lg\:w-1\/2) {
    width: 50%
  }
}

@media (min-width: 1280px) {
  .sticky-sections-list :is(.xl\:max-h-\[500px\]) {
    max-height: 500px
  }
}