.sticky-sections-list :is(.absolute) {
  position: absolute
}

.sticky-sections-list :is(.relative) {
  position: relative
}

.sticky-sections-list :is(.sticky) {
  position: sticky
}

.sticky-sections-list :is(.left-0) {
  left: 0px
}

.sticky-sections-list :is(.right-6) {
  right: 1.5rem
}

.sticky-sections-list :is(.top-0) {
  top: 0px
}

.sticky-sections-list :is(.top-2) {
  top: 0.5rem
}

.sticky-sections-list :is(.top-full) {
  top: 100%
}

.sticky-sections-list :is(.top-3) {
  top: 0.75rem
}

.sticky-sections-list :is(.z-10) {
  z-index: 10
}

.sticky-sections-list :is(.z-20) {
  z-index: 20
}

.sticky-sections-list :is(.z-50) {
  z-index: 50
}

.sticky-sections-list :is(.mt-1) {
  margin-top: 0.25rem
}

.sticky-sections-list :is(.block) {
  display: block
}

.sticky-sections-list :is(.flex) {
  display: flex
}

.sticky-sections-list :is(.hidden) {
  display: none
}

.sticky-sections-list :is(.w-28) {
  width: 7rem
}

.sticky-sections-list :is(.w-full) {
  width: 100%
}

.sticky-sections-list :is(.cursor-pointer) {
  cursor: pointer
}

.sticky-sections-list :is(.items-center) {
  align-items: center
}

.sticky-sections-list :is(.rounded-3xl) {
  border-radius: 1.5rem
}

.sticky-sections-list :is(.border) {
  border-width: 1px
}

.sticky-sections-list :is(.border-\[\#273F3F\]) {
  --tw-border-opacity: 1;
  border-color: rgb(39 63 63 / var(--tw-border-opacity))
}

.sticky-sections-list :is(.border-opacity-5) {
  --tw-border-opacity: 0.05
}

.sticky-sections-list :is(.bg-\[\#273F3F\]) {
  --tw-bg-opacity: 1;
  background-color: rgb(39 63 63 / var(--tw-bg-opacity))
}

.sticky-sections-list :is(.bg-white) {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.sticky-sections-list :is(.bg-opacity-10) {
  --tw-bg-opacity: 0.1
}

.sticky-sections-list :is(.bg-opacity-5) {
  --tw-bg-opacity: 0.05
}

.sticky-sections-list :is(.p-2) {
  padding: 0.5rem
}

.sticky-sections-list :is(.px-6) {
  padding-left: 1.5rem;
  padding-right: 1.5rem
}

.sticky-sections-list :is(.py-2) {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem
}

.sticky-sections-list :is(.py-2\.5) {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem
}

.sticky-sections-list :is(.pt-5) {
  padding-top: 1.25rem
}

.sticky-sections-list :is(.text-sm) {
  font-size: 0.875rem;
  line-height: 1.25rem
}

.sticky-sections-list :is(.text-\[\#273F3F\]) {
  --tw-text-opacity: 1;
  color: rgb(39 63 63 / var(--tw-text-opacity))
}

.sticky-sections-list :is(.text-\[\#65797c\]) {
  --tw-text-opacity: 1;
  color: rgb(101 121 124 / var(--tw-text-opacity))
}

.sticky-sections-list :is(.shadow-2xl) {
  --tw-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.sticky-sections-list :is(.hover\:bg-\[\#f2f2f2\]:hover) {
  --tw-bg-opacity: 1;
  background-color: rgb(242 242 242 / var(--tw-bg-opacity))
}

.sticky-sections-list :is(.hover\:text-black:hover) {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity))
}

@media (min-width: 768px) {
  .sticky-sections-list :is(.md\:\!w-24) {
    width: 6rem !important
  }
}

@media (min-width: 1024px) {
  .sticky-sections-list :is(.lg\:\!w-20) {
    width: 5rem !important
  }
}