.mb-2 {
  margin-bottom: 0.5rem
}

.mt-8 {
  margin-top: 2rem
}

.flex {
  display: flex
}

.w-full {
  width: 100%
}

.items-center {
  align-items: center
}

.justify-center {
  justify-content: center
}

.justify-between {
  justify-content: space-between
}

.rounded {
  border-radius: 0.25rem
}

.bg-\[\#EDF6F7\] {
  --tw-bg-opacity: 1;
  background-color: rgb(237 246 247 / var(--tw-bg-opacity))
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem
}

.pt-4 {
  padding-top: 1rem
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem
}

.text-xs {
  font-size: 0.75rem;
  line-height: 1rem
}

.font-normal {
  font-weight: 400
}

.font-semibold {
  font-weight: 600
}

.capitalize {
  text-transform: capitalize
}

.leading-4 {
  line-height: 1rem
}

.text-\[\#378189\] {
  --tw-text-opacity: 1;
  color: rgb(55 129 137 / var(--tw-text-opacity))
}

.text-\[\#8B8B8B\] {
  --tw-text-opacity: 1;
  color: rgb(139 139 139 / var(--tw-text-opacity))
}

@media (min-width: 768px) {
  .md\:mt-12 {
    margin-top: 3rem
  }

  .md\:inline-flex {
    display: inline-flex
  }
}