.mt-10 {
  margin-top: 2.5rem
}

.mb-10 {
  margin-bottom: 2.5rem
}

.\!mb-10 {
  margin-bottom: 2.5rem !important
}

.w-full {
  width: 100%
}

.pt-4 {
  padding-top: 1rem
}

.pr-0 {
  padding-right: 0px
}

.text-\[\#f2f2f2\] {
  --tw-text-opacity: 1;
  color: rgb(242 242 242 / var(--tw-text-opacity))
}

.text-\[\#65797C\] {
  --tw-text-opacity: 1;
  color: rgb(101 121 124 / var(--tw-text-opacity))
}