.w-full {
  width: 100%
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem
}

.pt-4 {
  padding-top: 1rem
}

@media (min-width: 1024px) {
  .lg\:px-4 {
    padding-left: 1rem;
    padding-right: 1rem
  }
}