.m-auto {
  margin: auto
}

.my-5 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem
}

.mb-8 {
  margin-bottom: 2rem
}

.block {
  display: block
}

.flex {
  display: flex
}

.w-full {
  width: 100%
}

.max-w-\[800px\] {
  max-width: 800px
}

.flex-col {
  flex-direction: column
}

.py-16 {
  padding-top: 4rem;
  padding-bottom: 4rem
}

.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem
}

.text-center {
  text-align: center
}

.font-sans {
  font-family: rockwell
}

.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem
}

.text-7xl {
  font-size: 4.5rem;
  line-height: 1
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem
}

.font-black {
  font-weight: 900
}

.font-light {
  font-weight: 300
}

.font-semibold {
  font-weight: 600
}

.tracking-normal {
  letter-spacing: 0em
}

.text-slate-800 {
  --tw-text-opacity: 1;
  color: rgb(30 41 59 / var(--tw-text-opacity))
}

@media (min-width: 640px) {
  .sm\:px-5 {
    padding-left: 1.25rem;
    padding-right: 1.25rem
  }

  .sm\:px-10 {
    padding-left: 2.5rem;
    padding-right: 2.5rem
  }

  .sm\:pb-\[40px\] {
    padding-bottom: 40px
  }

  .sm\:pt-\[40px\] {
    padding-top: 40px
  }

  .sm\:text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem
  }

  .sm\:text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem
  }

  .sm\:text-7xl {
    font-size: 4.5rem;
    line-height: 1
  }

  .sm\:text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem
  }

  .sm\:text-5xl {
    font-size: 3rem;
    line-height: 1
  }
}

@media (min-width: 768px) {
  .md\:max-w-\[800px\] {
    max-width: 800px
  }

  .md\:px-5 {
    padding-left: 1.25rem;
    padding-right: 1.25rem
  }

  .md\:px-16 {
    padding-left: 4rem;
    padding-right: 4rem
  }

  .md\:px-10 {
    padding-left: 2.5rem;
    padding-right: 2.5rem
  }

  .md\:text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem
  }

  .md\:text-7xl {
    font-size: 4.5rem;
    line-height: 1
  }
}

@media (min-width: 1024px) {
  .lg\:px-16 {
    padding-left: 4rem;
    padding-right: 4rem
  }

  .lg\:pb-10 {
    padding-bottom: 2.5rem
  }

  .lg\:pt-14 {
    padding-top: 3.5rem
  }

  .lg\:text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem
  }

  .lg\:text-7xl {
    font-size: 4.5rem;
    line-height: 1
  }

  .lg\:text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem
  }

  .lg\:text-\[27px\] {
    font-size: 27px
  }
}