.accordion-wrapper :is(.absolute) {
  position: absolute
}

.accordion-wrapper :is(.relative) {
  position: relative
}

.accordion-wrapper :is(.left-8) {
  left: 2rem
}

.accordion-wrapper :is(.right-12) {
  right: 3rem
}

.accordion-wrapper :is(.mb-2) {
  margin-bottom: 0.5rem
}

.accordion-wrapper :is(.me-16) {
  margin-inline-end: 4rem
}

.accordion-wrapper :is(.me-20) {
  margin-inline-end: 5rem
}

.accordion-wrapper :is(.ms-16) {
  margin-inline-start: 4rem
}

.accordion-wrapper :is(.mt-1) {
  margin-top: 0.25rem
}

.accordion-wrapper :is(.mt-2) {
  margin-top: 0.5rem
}

.accordion-wrapper :is(.mt-4) {
  margin-top: 1rem
}

.accordion-wrapper :is(.mb-4) {
  margin-bottom: 1rem
}

.accordion-wrapper :is(.mb-8) {
  margin-bottom: 2rem
}

.accordion-wrapper :is(.mb-6) {
  margin-bottom: 1.5rem
}

.accordion-wrapper :is(.mb-5) {
  margin-bottom: 1.25rem
}

.accordion-wrapper :is(.box-border) {
  box-sizing: border-box
}

.accordion-wrapper :is(.block) {
  display: block
}

.accordion-wrapper :is(.flex) {
  display: flex
}

.accordion-wrapper :is(.grid) {
  display: grid
}

.accordion-wrapper :is(.contents) {
  display: contents
}

.accordion-wrapper :is(.hidden) {
  display: none
}

.accordion-wrapper :is(.size-6) {
  width: 1.5rem;
  height: 1.5rem
}

.accordion-wrapper :is(.size-7) {
  width: 1.75rem;
  height: 1.75rem
}

.accordion-wrapper :is(.size-5) {
  width: 1.25rem;
  height: 1.25rem
}

.accordion-wrapper :is(.w-full) {
  width: 100%
}

.accordion-wrapper :is(.w-max) {
  width: -moz-max-content;
  width: max-content
}

.accordion-wrapper :is(.max-w-screen-lg) {
  max-width: 1024px
}

.accordion-wrapper :is(.-rotate-90) {
  --tw-rotate: -90deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.accordion-wrapper :is(.transform) {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.accordion-wrapper :is(.cursor-pointer) {
  cursor: pointer
}

.accordion-wrapper :is(.grid-rows-\[0fr\]) {
  grid-template-rows: 0fr
}

.accordion-wrapper :is(.items-center) {
  align-items: center
}

.accordion-wrapper :is(.justify-between) {
  justify-content: space-between
}

.accordion-wrapper :is(.space-y-2 > :not([hidden]) ~ :not([hidden])) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.5rem * var(--tw-space-y-reverse))
}

.accordion-wrapper :is(.space-y-4 > :not([hidden]) ~ :not([hidden])) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1rem * var(--tw-space-y-reverse))
}

.accordion-wrapper :is(.space-y-6 > :not([hidden]) ~ :not([hidden])) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1.5rem * var(--tw-space-y-reverse))
}

.accordion-wrapper :is(.overflow-hidden) {
  overflow: hidden
}

.accordion-wrapper :is(.rounded-2xl) {
  border-radius: 1rem
}

.accordion-wrapper :is(.rounded-full) {
  border-radius: 9999px
}

.accordion-wrapper :is(.border) {
  border-width: 1px
}

.accordion-wrapper :is(.bg-black) {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity))
}

.accordion-wrapper :is(.bg-gray-200\/40) {
  background-color: rgb(229 231 235 / 0.4)
}

.accordion-wrapper :is(.bg-gray-400\/20) {
  background-color: rgb(156 163 175 / 0.2)
}

.accordion-wrapper :is(.bg-teal-800) {
  --tw-bg-opacity: 1;
  background-color: rgb(17 94 89 / var(--tw-bg-opacity))
}

.accordion-wrapper :is(.bg-teal-700) {
  --tw-bg-opacity: 1;
  background-color: rgb(15 118 110 / var(--tw-bg-opacity))
}

.accordion-wrapper :is(.bg-teal-600) {
  --tw-bg-opacity: 1;
  background-color: rgb(13 148 136 / var(--tw-bg-opacity))
}

.accordion-wrapper :is(.bg-teal-700\/50) {
  background-color: rgb(15 118 110 / 0.5)
}

.accordion-wrapper :is(.bg-teal-700\/90) {
  background-color: rgb(15 118 110 / 0.9)
}

.accordion-wrapper :is(.bg-teal-700\/80) {
  background-color: rgb(15 118 110 / 0.8)
}

.accordion-wrapper :is(.bg-gray-400\/10) {
  background-color: rgb(156 163 175 / 0.1)
}

.accordion-wrapper :is(.fill-current) {
  fill: currentColor
}

.accordion-wrapper :is(.p-3) {
  padding: 0.75rem
}

.accordion-wrapper :is(.p-4) {
  padding: 1rem
}

.accordion-wrapper :is(.px-4) {
  padding-left: 1rem;
  padding-right: 1rem
}

.accordion-wrapper :is(.px-6) {
  padding-left: 1.5rem;
  padding-right: 1.5rem
}

.accordion-wrapper :is(.px-8) {
  padding-left: 2rem;
  padding-right: 2rem
}

.accordion-wrapper :is(.py-10) {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem
}

.accordion-wrapper :is(.py-3) {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem
}

.accordion-wrapper :is(.py-6) {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem
}

.accordion-wrapper :is(.pl-16) {
  padding-left: 4rem
}

.accordion-wrapper :is(.text-left) {
  text-align: left
}

.accordion-wrapper :is(.text-2xl) {
  font-size: 1.5rem;
  line-height: 2rem
}

.accordion-wrapper :is(.text-base) {
  font-size: 1rem;
  line-height: 1.5rem
}

.accordion-wrapper :is(.text-sm) {
  font-size: 0.875rem;
  line-height: 1.25rem
}

.accordion-wrapper :is(.text-xl) {
  font-size: 1.25rem;
  line-height: 1.75rem
}

.accordion-wrapper :is(.font-bold) {
  font-weight: 700
}

.accordion-wrapper :is(.font-normal) {
  font-weight: 400
}

.accordion-wrapper :is(.font-semibold) {
  font-weight: 600
}

.accordion-wrapper :is(.leading-5) {
  line-height: 1.25rem
}

.accordion-wrapper :is(.leading-7) {
  line-height: 1.75rem
}

.accordion-wrapper :is(.tracking-wide) {
  letter-spacing: 0.025em
}

.accordion-wrapper :is(.tracking-wider) {
  letter-spacing: 0.05em
}

.accordion-wrapper :is(.text-black) {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity))
}

.accordion-wrapper :is(.text-gray-300) {
  --tw-text-opacity: 1;
  color: rgb(209 213 219 / var(--tw-text-opacity))
}

.accordion-wrapper :is(.text-gray-400) {
  --tw-text-opacity: 1;
  color: rgb(156 163 175 / var(--tw-text-opacity))
}

.accordion-wrapper :is(.text-teal-600) {
  --tw-text-opacity: 1;
  color: rgb(13 148 136 / var(--tw-text-opacity))
}

.accordion-wrapper :is(.text-teal-800) {
  --tw-text-opacity: 1;
  color: rgb(17 94 89 / var(--tw-text-opacity))
}

.accordion-wrapper :is(.text-white) {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}

.accordion-wrapper :is(.text-teal-500) {
  --tw-text-opacity: 1;
  color: rgb(20 184 166 / var(--tw-text-opacity))
}

.accordion-wrapper :is(.text-teal-700) {
  --tw-text-opacity: 1;
  color: rgb(15 118 110 / var(--tw-text-opacity))
}

.accordion-wrapper :is(.text-teal-700\/70) {
  color: rgb(15 118 110 / 0.7)
}

.accordion-wrapper :is(.text-teal-800\/70) {
  color: rgb(17 94 89 / 0.7)
}

.accordion-wrapper :is(.underline) {
  text-decoration-line: underline
}

.accordion-wrapper :is(.opacity-0) {
  opacity: 0
}

.accordion-wrapper :is(.invert) {
  --tw-invert: invert(100%);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.accordion-wrapper :is(.transition-all) {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms
}

.accordion-wrapper :is(.duration-300) {
  transition-duration: 300ms
}

.accordion-wrapper :is(.ease-in-out) {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
}

.accordion-wrapper :is(.group:checked .group-checked\:rotate-0) {
  --tw-rotate: 0deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.accordion-wrapper :is(.group:hover .group-hover\:translate-x-0) {
  --tw-translate-x: 0px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.accordion-wrapper :is(.group:hover .group-hover\:translate-x-0\.5) {
  --tw-translate-x: 0.125rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.accordion-wrapper :is(.group:hover .group-hover\:rotate-0) {
  --tw-rotate: 0deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.accordion-wrapper :is(.group:hover .group-hover\:bg-teal-700) {
  --tw-bg-opacity: 1;
  background-color: rgb(15 118 110 / var(--tw-bg-opacity))
}

.accordion-wrapper :is(.group:hover .group-hover\:underline) {
  text-decoration-line: underline
}

.accordion-wrapper :is(.peer:checked ~ .peer-checked\:rotate-0) {
  --tw-rotate: 0deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.accordion-wrapper :is(.peer:checked ~ .peer-checked\:grid-rows-\[1fr\]) {
  grid-template-rows: 1fr
}

.accordion-wrapper :is(.peer:checked ~ .peer-checked\:py-2) {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem
}

.accordion-wrapper :is(.peer:checked ~ .peer-checked\:opacity-100) {
  opacity: 1
}

.accordion-wrapper :is(.peer:checked ~ .\[\&_\.open-close-icon\]\:peer-checked\:rotate-0 .open-close-icon) {
  --tw-rotate: 0deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}