.tab-component-wrapper :is(.mx-3) {
  margin-left: 0.75rem;
  margin-right: 0.75rem
}

.tab-component-wrapper :is(.mx-3\.5) {
  margin-left: 0.875rem;
  margin-right: 0.875rem
}

.tab-component-wrapper :is(.block) {
  display: block
}

.tab-component-wrapper :is(.inline-flex) {
  display: inline-flex
}

.tab-component-wrapper :is(.hidden) {
  display: none
}

.tab-component-wrapper :is(.w-full) {
  width: 100%
}

.tab-component-wrapper :is(.border-b) {
  border-bottom-width: 1px
}

.tab-component-wrapper :is(.border-b-4) {
  border-bottom-width: 4px
}

.tab-component-wrapper :is(.border-\[\#ff7223\]) {
  --tw-border-opacity: 1;
  border-color: rgb(255 114 35 / var(--tw-border-opacity))
}

.tab-component-wrapper :is(.p-5) {
  padding: 1.25rem
}

.tab-component-wrapper :is(.py-2) {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem
}

.tab-component-wrapper :is(.text-center) {
  text-align: center
}

.tab-component-wrapper :is(.shadow-slate-300) {
  --tw-shadow-color: #cbd5e1;
  --tw-shadow: var(--tw-shadow-colored)
}

.tab-component-wrapper :is(.hover\:border-b-4:hover) {
  border-bottom-width: 4px
}

@media (min-width: 1024px) {
  .tab-component-wrapper :is(.lg\:mx-10) {
    margin-left: 2.5rem;
    margin-right: 2.5rem
  }

  .tab-component-wrapper :is(.lg\:w-2\/5) {
    width: 40%
  }
}