.container {
  width: 100%
}

@media (min-width: 640px) {
  .container {
    max-width: 640px
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px
  }
}

.card-slider-wrapper :is(.absolute) {
  position: absolute
}

.card-slider-wrapper :is(.relative) {
  position: relative
}

.card-slider-wrapper :is(.inset-0) {
  inset: 0px
}

.card-slider-wrapper :is(.m-2) {
  margin: 0.5rem
}

.card-slider-wrapper :is(.mx-2) {
  margin-left: 0.5rem;
  margin-right: 0.5rem
}

.card-slider-wrapper :is(.mb-2) {
  margin-bottom: 0.5rem
}

.card-slider-wrapper :is(.mb-5) {
  margin-bottom: 1.25rem
}

.card-slider-wrapper :is(.mr-16) {
  margin-right: 4rem
}

.card-slider-wrapper :is(.block) {
  display: block
}

.card-slider-wrapper :is(.flex) {
  display: flex
}

.card-slider-wrapper :is(.w-1\/2) {
  width: 50%
}

.card-slider-wrapper :is(.w-10) {
  width: 2.5rem
}

.card-slider-wrapper :is(.w-full) {
  width: 100%
}

.card-slider-wrapper :is(.flex-shrink-0) {
  flex-shrink: 0
}

.card-slider-wrapper :is(.transform) {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.card-slider-wrapper :is(.resize) {
  resize: both
}

.card-slider-wrapper :is(.items-center) {
  align-items: center
}

.card-slider-wrapper :is(.justify-start) {
  justify-content: flex-start
}

.card-slider-wrapper :is(.justify-end) {
  justify-content: flex-end
}

.card-slider-wrapper :is(.gap-4) {
  gap: 1rem
}

.card-slider-wrapper :is(.overflow-hidden) {
  overflow: hidden
}

.card-slider-wrapper :is(.rounded-full) {
  border-radius: 9999px
}

.card-slider-wrapper :is(.bg-gray-100) {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity))
}

.card-slider-wrapper :is(.bg-white) {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.card-slider-wrapper :is(.bg-center) {
  background-position: center
}

.card-slider-wrapper :is(.object-cover) {
  -o-object-fit: cover;
     object-fit: cover
}

.card-slider-wrapper :is(.p-2) {
  padding: 0.5rem
}

.card-slider-wrapper :is(.p-5) {
  padding: 1.25rem
}

.card-slider-wrapper :is(.py-5) {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem
}

.card-slider-wrapper :is(.py-8) {
  padding-top: 2rem;
  padding-bottom: 2rem
}

.card-slider-wrapper :is(.pl-3) {
  padding-left: 0.75rem
}

.card-slider-wrapper :is(.pl-3\.5) {
  padding-left: 0.875rem
}

.card-slider-wrapper :is(.text-center) {
  text-align: center
}

.card-slider-wrapper :is(.text-2xl) {
  font-size: 1.5rem;
  line-height: 2rem
}

.card-slider-wrapper :is(.text-5xl) {
  font-size: 3rem;
  line-height: 1
}

.card-slider-wrapper :is(.text-base) {
  font-size: 1rem;
  line-height: 1.5rem
}

.card-slider-wrapper :is(.text-lg) {
  font-size: 1.125rem;
  line-height: 1.75rem
}

.card-slider-wrapper :is(.text-sm) {
  font-size: 0.875rem;
  line-height: 1.25rem
}

.card-slider-wrapper :is(.text-xl) {
  font-size: 1.25rem;
  line-height: 1.75rem
}

.card-slider-wrapper :is(.font-bold) {
  font-weight: 700
}

.card-slider-wrapper :is(.font-normal) {
  font-weight: 400
}

.card-slider-wrapper :is(.text-\[\#999\]) {
  --tw-text-opacity: 1;
  color: rgb(153 153 153 / var(--tw-text-opacity))
}

.card-slider-wrapper :is(.text-black) {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity))
}

.card-slider-wrapper :is(.text-gray-600) {
  --tw-text-opacity: 1;
  color: rgb(75 85 99 / var(--tw-text-opacity))
}

.card-slider-wrapper :is(.text-gray-700) {
  --tw-text-opacity: 1;
  color: rgb(55 65 81 / var(--tw-text-opacity))
}

.card-slider-wrapper :is(.filter) {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.card-slider-wrapper :is(.transition-transform) {
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms
}

.card-slider-wrapper :is(.duration-300) {
  transition-duration: 300ms
}

.card-slider-wrapper :is(.ease-in-out) {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
}

.card-slider-wrapper :is(.hover\:underline:hover) {
  text-decoration-line: underline
}

@media (min-width: 640px) {
  .card-slider-wrapper :is(.sm\:w-1\/2) {
    width: 50%
  }
}

@media (min-width: 1024px) {
  .card-slider-wrapper :is(.lg\:w-1\/3) {
    width: 33.333333%
  }
}

.card-slider-wrapper :is(.\[\&_img\]\:w-full img) {
  width: 100%
}