.container {
  width: 100%
}

@media (min-width: 640px) {
  .container {
    max-width: 640px
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px
  }
}

.header-wrapper :is(.static) {
  position: static
}

.header-wrapper :is(.fixed) {
  position: fixed
}

.header-wrapper :is(.absolute) {
  position: absolute
}

.header-wrapper :is(.relative) {
  position: relative
}

.header-wrapper :is(.inset-x-0) {
  left: 0px;
  right: 0px
}

.header-wrapper :is(.left-0) {
  left: 0px
}

.header-wrapper :is(.right-0) {
  right: 0px
}

.header-wrapper :is(.top-0) {
  top: 0px
}

.header-wrapper :is(.top-10) {
  top: 2.5rem
}

.header-wrapper :is(.top-12) {
  top: 3rem
}

.header-wrapper :is(.top-3) {
  top: 0.75rem
}

.header-wrapper :is(.top-full) {
  top: 100%
}

.header-wrapper :is(.z-10) {
  z-index: 10
}

.header-wrapper :is(.z-30) {
  z-index: 30
}

.header-wrapper :is(.z-40) {
  z-index: 40
}

.header-wrapper :is(.z-50) {
  z-index: 50
}

.header-wrapper :is(.order-3) {
  order: 3
}

.header-wrapper :is(.m-0) {
  margin: 0px
}

.header-wrapper :is(.-mx-4) {
  margin-left: -1rem;
  margin-right: -1rem
}

.header-wrapper :is(.mx-2) {
  margin-left: 0.5rem;
  margin-right: 0.5rem
}

.header-wrapper :is(.mx-4) {
  margin-left: 1rem;
  margin-right: 1rem
}

.header-wrapper :is(.mx-auto) {
  margin-left: auto;
  margin-right: auto
}

.header-wrapper :is(.my-4) {
  margin-top: 1rem;
  margin-bottom: 1rem
}

.header-wrapper :is(.my-5) {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem
}

.header-wrapper :is(.my-7) {
  margin-top: 1.75rem;
  margin-bottom: 1.75rem
}

.header-wrapper :is(.my-auto) {
  margin-top: auto;
  margin-bottom: auto
}

.header-wrapper :is(.mb-0) {
  margin-bottom: 0px
}

.header-wrapper :is(.mb-0\.5) {
  margin-bottom: 0.125rem
}

.header-wrapper :is(.mb-2) {
  margin-bottom: 0.5rem
}

.header-wrapper :is(.mb-3) {
  margin-bottom: 0.75rem
}

.header-wrapper :is(.mb-4) {
  margin-bottom: 1rem
}

.header-wrapper :is(.ml-2) {
  margin-left: 0.5rem
}

.header-wrapper :is(.ml-auto) {
  margin-left: auto
}

.header-wrapper :is(.mr-1) {
  margin-right: 0.25rem
}

.header-wrapper :is(.mr-2) {
  margin-right: 0.5rem
}

.header-wrapper :is(.mr-3) {
  margin-right: 0.75rem
}

.header-wrapper :is(.mt-1) {
  margin-top: 0.25rem
}

.header-wrapper :is(.mt-1\.5) {
  margin-top: 0.375rem
}

.header-wrapper :is(.mt-2) {
  margin-top: 0.5rem
}

.header-wrapper :is(.mt-3) {
  margin-top: 0.75rem
}

.header-wrapper :is(.mt-4) {
  margin-top: 1rem
}

.header-wrapper :is(.mt-5) {
  margin-top: 1.25rem
}

.header-wrapper :is(.block) {
  display: block
}

.header-wrapper :is(.flex) {
  display: flex
}

.header-wrapper :is(.inline-flex) {
  display: inline-flex
}

.header-wrapper :is(.hidden) {
  display: none
}

.header-wrapper :is(.h-0) {
  height: 0px
}

.header-wrapper :is(.h-0\.5) {
  height: 0.125rem
}

.header-wrapper :is(.h-10) {
  height: 2.5rem
}

.header-wrapper :is(.h-12) {
  height: 3rem
}

.header-wrapper :is(.h-4) {
  height: 1rem
}

.header-wrapper :is(.h-6) {
  height: 1.5rem
}

.header-wrapper :is(.h-8) {
  height: 2rem
}

.header-wrapper :is(.h-\[17\.6px\]) {
  height: 17.6px
}

.header-wrapper :is(.h-\[22px\]) {
  height: 22px
}

.header-wrapper :is(.h-\[32px\]) {
  height: 32px
}

.header-wrapper :is(.h-\[34px\]) {
  height: 34px
}

.header-wrapper :is(.h-full) {
  height: 100%
}

.header-wrapper :is(.h-screen) {
  height: 100vh
}

.header-wrapper :is(.max-h-\[200px\]) {
  max-height: 200px
}

.header-wrapper :is(.max-h-\[376px\]) {
  max-height: 376px
}

.header-wrapper :is(.w-2\/3) {
  width: 66.666667%
}

.header-wrapper :is(.w-4) {
  width: 1rem
}

.header-wrapper :is(.w-5\/6) {
  width: 83.333333%
}

.header-wrapper :is(.w-6) {
  width: 1.5rem
}

.header-wrapper :is(.w-8) {
  width: 2rem
}

.header-wrapper :is(.w-\[120px\]) {
  width: 120px
}

.header-wrapper :is(.w-\[17\.6px\]) {
  width: 17.6px
}

.header-wrapper :is(.w-\[22px\]) {
  width: 22px
}

.header-wrapper :is(.w-\[320px\]) {
  width: 320px
}

.header-wrapper :is(.w-\[360px\]) {
  width: 360px
}

.header-wrapper :is(.w-\[368px\]) {
  width: 368px
}

.header-wrapper :is(.w-\[50\%\]) {
  width: 50%
}

.header-wrapper :is(.w-\[58\.631px\]) {
  width: 58.631px
}

.header-wrapper :is(.w-\[82px\]) {
  width: 82px
}

.header-wrapper :is(.w-auto) {
  width: auto
}

.header-wrapper :is(.w-full) {
  width: 100%
}

.header-wrapper :is(.w-max) {
  width: -moz-max-content;
  width: max-content
}

.header-wrapper :is(.max-w-sm) {
  max-width: 24rem
}

.header-wrapper :is(.shrink-0) {
  flex-shrink: 0
}

.header-wrapper :is(.basis-1\/12) {
  flex-basis: 8.333333%
}

.header-wrapper :is(.basis-1\/4) {
  flex-basis: 25%
}

.header-wrapper :is(.basis-2\/5) {
  flex-basis: 40%
}

.header-wrapper :is(.-rotate-90) {
  --tw-rotate: -90deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.header-wrapper :is(.transform) {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.header-wrapper :is(.cursor-pointer) {
  cursor: pointer
}

.header-wrapper :is(.select-none) {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none
}

.header-wrapper :is(.flex-row) {
  flex-direction: row
}

.header-wrapper :is(.flex-row-reverse) {
  flex-direction: row-reverse
}

.header-wrapper :is(.flex-col) {
  flex-direction: column
}

.header-wrapper :is(.flex-wrap) {
  flex-wrap: wrap
}

.header-wrapper :is(.items-start) {
  align-items: flex-start
}

.header-wrapper :is(.items-center) {
  align-items: center
}

.header-wrapper :is(.justify-center) {
  justify-content: center
}

.header-wrapper :is(.justify-between) {
  justify-content: space-between
}

.header-wrapper :is(.gap-1) {
  gap: 0.25rem
}

.header-wrapper :is(.gap-2) {
  gap: 0.5rem
}

.header-wrapper :is(.gap-4) {
  gap: 1rem
}

.header-wrapper :is(.gap-x-1) {
  -moz-column-gap: 0.25rem;
       column-gap: 0.25rem
}

.header-wrapper :is(.gap-x-16) {
  -moz-column-gap: 4rem;
       column-gap: 4rem
}

.header-wrapper :is(.gap-x-2) {
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem
}

.header-wrapper :is(.gap-x-3) {
  -moz-column-gap: 0.75rem;
       column-gap: 0.75rem
}

.header-wrapper :is(.gap-x-4) {
  -moz-column-gap: 1rem;
       column-gap: 1rem
}

.header-wrapper :is(.gap-y-1) {
  row-gap: 0.25rem
}

.header-wrapper :is(.gap-y-1\.5) {
  row-gap: 0.375rem
}

.header-wrapper :is(.gap-y-2) {
  row-gap: 0.5rem
}

.header-wrapper :is(.gap-y-5) {
  row-gap: 1.25rem
}

.header-wrapper :is(.gap-y-7) {
  row-gap: 1.75rem
}

.header-wrapper :is(.space-y-2 > :not([hidden]) ~ :not([hidden])) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.5rem * var(--tw-space-y-reverse))
}

.header-wrapper :is(.overflow-auto) {
  overflow: auto
}

.header-wrapper :is(.overflow-hidden) {
  overflow: hidden
}

.header-wrapper :is(.overflow-y-auto) {
  overflow-y: auto
}

.header-wrapper :is(.truncate) {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}

.header-wrapper :is(.text-clip) {
  text-overflow: clip
}

.header-wrapper :is(.whitespace-pre-line) {
  white-space: pre-line
}

.header-wrapper :is(.rounded) {
  border-radius: 0.25rem
}

.header-wrapper :is(.rounded-2xl) {
  border-radius: 1rem
}

.header-wrapper :is(.rounded-3xl) {
  border-radius: 1.5rem
}

.header-wrapper :is(.rounded-full) {
  border-radius: 9999px
}

.header-wrapper :is(.rounded-md) {
  border-radius: 0.375rem
}

.header-wrapper :is(.rounded-xl) {
  border-radius: 0.75rem
}

.header-wrapper :is(.border) {
  border-width: 1px
}

.header-wrapper :is(.border-2) {
  border-width: 2px
}

.header-wrapper :is(.border-\[0\.5px\]) {
  border-width: 0.5px
}

.header-wrapper :is(.border-b) {
  border-bottom-width: 1px
}

.header-wrapper :is(.border-b-4) {
  border-bottom-width: 4px
}

.header-wrapper :is(.border-solid) {
  border-style: solid
}

.header-wrapper :is(.border-black) {
  --tw-border-opacity: 1;
  border-color: rgb(0 0 0 / var(--tw-border-opacity))
}

.header-wrapper :is(.border-white) {
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity))
}

.header-wrapper :is(.border-b-\[\#D8D8D8\]) {
  --tw-border-opacity: 1;
  border-bottom-color: rgb(216 216 216 / var(--tw-border-opacity))
}

.header-wrapper :is(.border-b-gray-400) {
  --tw-border-opacity: 1;
  border-bottom-color: rgb(156 163 175 / var(--tw-border-opacity))
}

.header-wrapper :is(.bg-\[\#273F3F\]) {
  --tw-bg-opacity: 1;
  background-color: rgb(39 63 63 / var(--tw-bg-opacity))
}

.header-wrapper :is(.bg-\[\#378189\]) {
  --tw-bg-opacity: 1;
  background-color: rgb(55 129 137 / var(--tw-bg-opacity))
}

.header-wrapper :is(.bg-\[\#F2F3F3\]) {
  --tw-bg-opacity: 1;
  background-color: rgb(242 243 243 / var(--tw-bg-opacity))
}

.header-wrapper :is(.bg-black) {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity))
}

.header-wrapper :is(.bg-gray-200) {
  --tw-bg-opacity: 1;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity))
}

.header-wrapper :is(.bg-red-500) {
  --tw-bg-opacity: 1;
  background-color: rgb(239 68 68 / var(--tw-bg-opacity))
}

.header-wrapper :is(.bg-white) {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.header-wrapper :is(.bg-opacity-10) {
  --tw-bg-opacity: 0.1
}

.header-wrapper :is(.object-cover) {
  -o-object-fit: cover;
     object-fit: cover
}

.header-wrapper :is(.p-1) {
  padding: 0.25rem
}

.header-wrapper :is(.p-2) {
  padding: 0.5rem
}

.header-wrapper :is(.p-4) {
  padding: 1rem
}

.header-wrapper :is(.px-1) {
  padding-left: 0.25rem;
  padding-right: 0.25rem
}

.header-wrapper :is(.px-1\.5) {
  padding-left: 0.375rem;
  padding-right: 0.375rem
}

.header-wrapper :is(.px-12) {
  padding-left: 3rem;
  padding-right: 3rem
}

.header-wrapper :is(.px-2) {
  padding-left: 0.5rem;
  padding-right: 0.5rem
}

.header-wrapper :is(.px-3) {
  padding-left: 0.75rem;
  padding-right: 0.75rem
}

.header-wrapper :is(.px-4) {
  padding-left: 1rem;
  padding-right: 1rem
}

.header-wrapper :is(.px-5) {
  padding-left: 1.25rem;
  padding-right: 1.25rem
}

.header-wrapper :is(.py-2) {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem
}

.header-wrapper :is(.py-2\.5) {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem
}

.header-wrapper :is(.py-3) {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem
}

.header-wrapper :is(.py-4) {
  padding-top: 1rem;
  padding-bottom: 1rem
}

.header-wrapper :is(.py-\[2px\]) {
  padding-top: 2px;
  padding-bottom: 2px
}

.header-wrapper :is(.pb-0) {
  padding-bottom: 0px
}

.header-wrapper :is(.pb-1) {
  padding-bottom: 0.25rem
}

.header-wrapper :is(.pb-2) {
  padding-bottom: 0.5rem
}

.header-wrapper :is(.pb-3) {
  padding-bottom: 0.75rem
}

.header-wrapper :is(.pb-4) {
  padding-bottom: 1rem
}

.header-wrapper :is(.pl-0) {
  padding-left: 0px
}

.header-wrapper :is(.pl-2) {
  padding-left: 0.5rem
}

.header-wrapper :is(.pl-3) {
  padding-left: 0.75rem
}

.header-wrapper :is(.pl-4) {
  padding-left: 1rem
}

.header-wrapper :is(.pr-2) {
  padding-right: 0.5rem
}

.header-wrapper :is(.pt-0) {
  padding-top: 0px
}

.header-wrapper :is(.pt-3) {
  padding-top: 0.75rem
}

.header-wrapper :is(.pt-4) {
  padding-top: 1rem
}

.header-wrapper :is(.text-center) {
  text-align: center
}

.header-wrapper :is(.text-2xl) {
  font-size: 1.5rem;
  line-height: 2rem
}

.header-wrapper :is(.text-\[10px\]) {
  font-size: 10px
}

.header-wrapper :is(.text-base) {
  font-size: 1rem;
  line-height: 1.5rem
}

.header-wrapper :is(.text-sm) {
  font-size: 0.875rem;
  line-height: 1.25rem
}

.header-wrapper :is(.text-xl) {
  font-size: 1.25rem;
  line-height: 1.75rem
}

.header-wrapper :is(.text-xs) {
  font-size: 0.75rem;
  line-height: 1rem
}

.header-wrapper :is(.font-bold) {
  font-weight: 700
}

.header-wrapper :is(.font-extralight) {
  font-weight: 200
}

.header-wrapper :is(.font-medium) {
  font-weight: 500
}

.header-wrapper :is(.font-normal) {
  font-weight: 400
}

.header-wrapper :is(.font-semibold) {
  font-weight: 600
}

.header-wrapper :is(.lowercase) {
  text-transform: lowercase
}

.header-wrapper :is(.leading-5) {
  line-height: 1.25rem
}

.header-wrapper :is(.tracking-\[\.0125rem\]) {
  letter-spacing: .0125rem
}

.header-wrapper :is(.tracking-\[\.03125rem\]) {
  letter-spacing: .03125rem
}

.header-wrapper :is(.tracking-\[0\.025rem\]) {
  letter-spacing: 0.025rem
}

.header-wrapper :is(.tracking-normal) {
  letter-spacing: 0em
}

.header-wrapper :is(.tracking-wide) {
  letter-spacing: 0.025em
}

.header-wrapper :is(.tracking-wider) {
  letter-spacing: 0.05em
}

.header-wrapper :is(.text-\[\#378189\]) {
  --tw-text-opacity: 1;
  color: rgb(55 129 137 / var(--tw-text-opacity))
}

.header-wrapper :is(.text-\[\#65797C\]) {
  --tw-text-opacity: 1;
  color: rgb(101 121 124 / var(--tw-text-opacity))
}

.header-wrapper :is(.text-black) {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity))
}

.header-wrapper :is(.text-gray-400) {
  --tw-text-opacity: 1;
  color: rgb(156 163 175 / var(--tw-text-opacity))
}

.header-wrapper :is(.text-white) {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}

.header-wrapper :is(.underline) {
  text-decoration-line: underline
}

.header-wrapper :is(.underline-offset-2) {
  text-underline-offset: 2px
}

.header-wrapper :is(.shadow-2xl) {
  --tw-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.header-wrapper :is(.shadow-lg) {
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.header-wrapper :is(.outline-none) {
  outline: 2px solid transparent;
  outline-offset: 2px
}

.header-wrapper :is(.outline) {
  outline-style: solid
}

.header-wrapper :is(.ring-0) {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(0px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000)
}

.header-wrapper :is(.ring-\[3px\]) {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(3px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000)
}

.header-wrapper :is(.ring-\[\#6db9c1\]) {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(109 185 193 / var(--tw-ring-opacity))
}

.header-wrapper :is(.ring-\[\#6fafb8\]) {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(111 175 184 / var(--tw-ring-opacity))
}

.header-wrapper :is(.ring-offset-0) {
  --tw-ring-offset-width: 0px
}

.header-wrapper :is(.ring-offset-1) {
  --tw-ring-offset-width: 1px
}

.header-wrapper :is(.drop-shadow-2xl) {
  --tw-drop-shadow: drop-shadow(0 25px 25px rgb(0 0 0 / 0.15));
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.header-wrapper :is(.filter) {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.header-wrapper :is(.backdrop-brightness-50) {
  --tw-backdrop-brightness: brightness(.5);
  -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
          backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia)
}

.header-wrapper :is(.transition) {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms
}

.header-wrapper :is(.transition-all) {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms
}

.header-wrapper :is(.transition-transform) {
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms
}

.header-wrapper :is(.ease-out) {
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1)
}

.header-wrapper :is(.hover\:border-b-4:hover) {
  border-bottom-width: 4px
}

.header-wrapper :is(.hover\:border-\[\#ff7223\]:hover) {
  --tw-border-opacity: 1;
  border-color: rgb(255 114 35 / var(--tw-border-opacity))
}

.header-wrapper :is(.hover\:bg-\[\#0711120d\]:hover) {
  background-color: #0711120d
}

.header-wrapper :is(.hover\:bg-\[\#2a5f65\]:hover) {
  --tw-bg-opacity: 1;
  background-color: rgb(42 95 101 / var(--tw-bg-opacity))
}

.header-wrapper :is(.hover\:bg-\[\#3B3B3B\]:hover) {
  --tw-bg-opacity: 1;
  background-color: rgb(59 59 59 / var(--tw-bg-opacity))
}

.header-wrapper :is(.hover\:bg-\[\#E6E7E7\]:hover) {
  --tw-bg-opacity: 1;
  background-color: rgb(230 231 231 / var(--tw-bg-opacity))
}

.header-wrapper :is(.hover\:bg-\[\#f2f2f2\]:hover) {
  --tw-bg-opacity: 1;
  background-color: rgb(242 242 242 / var(--tw-bg-opacity))
}

.header-wrapper :is(.hover\:font-medium:hover) {
  font-weight: 500
}

.header-wrapper :is(.hover\:underline:hover) {
  text-decoration-line: underline
}

.header-wrapper :is(.hover\:ring:hover) {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(3px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000)
}

.header-wrapper :is(.focus\:outline-none:focus) {
  outline: 2px solid transparent;
  outline-offset: 2px
}

.header-wrapper :is(.focus-visible\:outline-none:focus-visible) {
  outline: 2px solid transparent;
  outline-offset: 2px
}

.header-wrapper :is(.group:hover .group-hover\:block) {
  display: block
}

.header-wrapper :is(.group:hover .group-hover\:hidden) {
  display: none
}

.header-wrapper :is(.group:hover .group-hover\:-translate-x-0) {
  --tw-translate-x: -0px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.header-wrapper :is(.group:hover .group-hover\:-translate-x-0\.5) {
  --tw-translate-x: -0.125rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.header-wrapper :is(.group:hover .group-hover\:translate-x-0) {
  --tw-translate-x: 0px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.header-wrapper :is(.group:hover .group-hover\:translate-x-0\.5) {
  --tw-translate-x: 0.125rem;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.header-wrapper :is(.peer:checked ~ .peer-checked\:block) {
  display: block
}

@media (max-width: 376px) {
  .header-wrapper :is(.max-\[376px\]\:-left-36) {
    left: -9rem
  }

  .header-wrapper :is(.max-\[376px\]\:w-\[75\%\]) {
    width: 75%
  }

  .header-wrapper :is(.max-\[376px\]\:flex-wrap) {
    flex-wrap: wrap
  }
}

@media (min-width: 640px) {
  .header-wrapper :is(.sm\:right-0) {
    right: 0px
  }

  .header-wrapper :is(.sm\:w-\[20\.9375rem\]) {
    width: 20.9375rem
  }

  .header-wrapper :is(.sm\:truncate) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
  }

  .header-wrapper :is(.sm\:rounded-lg) {
    border-radius: 0.5rem
  }

  .header-wrapper :is(.sm\:pl-1) {
    padding-left: 0.25rem
  }
}

@media (min-width: 768px) {
  .header-wrapper :is(.md\:relative) {
    position: relative
  }

  .header-wrapper :is(.md\:\!left-auto) {
    left: auto !important
  }

  .header-wrapper :is(.md\:top-9) {
    top: 2.25rem
  }

  .header-wrapper :is(.md\:mb-0) {
    margin-bottom: 0px
  }

  .header-wrapper :is(.md\:ml-80) {
    margin-left: 20rem
  }

  .header-wrapper :is(.md\:ml-auto) {
    margin-left: auto
  }

  .header-wrapper :is(.md\:block) {
    display: block
  }

  .header-wrapper :is(.md\:w-11\/12) {
    width: 91.666667%
  }

  .header-wrapper :is(.md\:w-\[368px\]) {
    width: 368px
  }

  .header-wrapper :is(.md\:w-fit) {
    width: -moz-fit-content;
    width: fit-content
  }

  .header-wrapper :is(.md\:w-full) {
    width: 100%
  }

  .header-wrapper :is(.md\:basis-1\/6) {
    flex-basis: 16.666667%
  }

  .header-wrapper :is(.md\:items-center) {
    align-items: center
  }

  .header-wrapper :is(.md\:gap-x-16) {
    -moz-column-gap: 4rem;
         column-gap: 4rem
  }

  .header-wrapper :is(.md\:p-0) {
    padding: 0px
  }

  .header-wrapper :is(.md\:pl-5) {
    padding-left: 1.25rem
  }

  .header-wrapper :is(.md\:text-lg) {
    font-size: 1.125rem;
    line-height: 1.75rem
  }
}

@media (min-width: 1024px) {
  .header-wrapper :is(.lg\:relative) {
    position: relative
  }

  .header-wrapper :is(.lg\:ml-20) {
    margin-left: 5rem
  }

  .header-wrapper :is(.lg\:mt-4) {
    margin-top: 1rem
  }

  .header-wrapper :is(.lg\:\!block) {
    display: block !important
  }

  .header-wrapper :is(.lg\:block) {
    display: block
  }

  .header-wrapper :is(.lg\:flex) {
    display: flex
  }

  .header-wrapper :is(.lg\:hidden) {
    display: none
  }

  .header-wrapper :is(.lg\:h-full) {
    height: 100%
  }

  .header-wrapper :is(.lg\:\!w-auto) {
    width: auto !important
  }

  .header-wrapper :is(.lg\:w-\[17rem\]) {
    width: 17rem
  }

  .header-wrapper :is(.lg\:w-\[74px\]) {
    width: 74px
  }

  .header-wrapper :is(.lg\:grid-rows-1) {
    grid-template-rows: repeat(1, minmax(0, 1fr))
  }

  .header-wrapper :is(.lg\:grid-rows-2) {
    grid-template-rows: repeat(2, minmax(0, 1fr))
  }
}

@media (min-width: 1280px) {
  .header-wrapper :is(.xl\:max-h-\[345px\]) {
    max-height: 345px
  }
}

@media (min-width: 1536px) {
  .header-wrapper :is(.\32xl\:ml-\[21\%\]) {
    margin-left: 21%
  }

  .header-wrapper :is(.\32xl\:max-h-\[500px\]) {
    max-height: 500px
  }

  .header-wrapper :is(.\32xl\:basis-1\/4) {
    flex-basis: 25%
  }
}

.header-wrapper :is(.\[\&\>a\]\:w-full>a) {
  width: 100%
}

.header-wrapper :is(.\[\&\>li\.active\]\:font-bold>li.active) {
  font-weight: 700
}