.header-wrapper :is(.fixed) {
  position: fixed
}

.header-wrapper :is(.relative) {
  position: relative
}

.header-wrapper :is(.z-40) {
  z-index: 40
}

.header-wrapper :is(.block) {
  display: block
}

.header-wrapper :is(.flex) {
  display: flex
}

.header-wrapper :is(.hidden) {
  display: none
}

.header-wrapper :is(.h-5) {
  height: 1.25rem
}

.header-wrapper :is(.h-full) {
  height: 100%
}

.header-wrapper :is(.w-5) {
  width: 1.25rem
}

.header-wrapper :is(.w-\[360px\]) {
  width: 360px
}

.header-wrapper :is(.max-w-sm) {
  max-width: 24rem
}

.header-wrapper :is(.transform) {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.header-wrapper :is(.flex-row) {
  flex-direction: row
}

.header-wrapper :is(.flex-col) {
  flex-direction: column
}

.header-wrapper :is(.justify-center) {
  justify-content: center
}

.header-wrapper :is(.gap-x-2) {
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem
}

.header-wrapper :is(.bg-black) {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity))
}

.header-wrapper :is(.bg-gray-200) {
  --tw-bg-opacity: 1;
  background-color: rgb(229 231 235 / var(--tw-bg-opacity))
}

.header-wrapper :is(.p-4) {
  padding: 1rem
}

.header-wrapper :is(.px-3) {
  padding-left: 0.75rem;
  padding-right: 0.75rem
}

.header-wrapper :is(.py-4) {
  padding-top: 1rem;
  padding-bottom: 1rem
}

.header-wrapper :is(.pt-4) {
  padding-top: 1rem
}

.header-wrapper :is(.text-black) {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity))
}

.header-wrapper :is(.filter) {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.header-wrapper :is(.transition-all) {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms
}

.header-wrapper :is(.ease-out) {
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1)
}

.header-wrapper :is(.hover\:bg-\[\#f2f2f2\]:hover) {
  --tw-bg-opacity: 1;
  background-color: rgb(242 242 242 / var(--tw-bg-opacity))
}