<div class="w-full flex flex-row my-0 md:gap-6 gap-0 px-[30px] xl:px-[80px] max-w-[2464px]">
  <div class="basis-1/6 flex flex-row gap-4">
    <div class="abcam-logo lg:hidden">
      <button type="button" aria-label="Open mobile menu w-8 h-8 flex">
          <span class="icon icon-Menu"></span>
      </button>
    </div>
    <a class="logo-home-link" href="https://www.abcam.com/en-in" aria-label="Homepage link">
      <span class="icon icon-logo"></span>
    </a>
  </div>
  <div class="text-white px-[30px] flex flex-row gap-x-4">
    <div class="mega-menu cursor-default px-7 first:pl-0 last:pr-0">
      <div>
        <div class="pt-2 mb-1 font-bold leading-none menu-item pb-[0.4375rem] w-max">
          Products
        </div>
      </div>
			<div class="mega-menu-item hidden absolute left-0 xl:left-0 2xl:left-[30px] w-full h-screen z-50 pt-4">
				<div class="bg-black px-[40px] pb-12 lg:w-[900px] xl:w-[1120px] xl:px-[80px] lg:mx-auto xl:mx-auto 2xl:mx-0">
					<h2 class="py-5 text-heading-large font-header">Products</h2>
					<div class="bg-white h-[1px] mb-[28px]"></div>
					<div class="grid gap-4 grid-cols-4">
						<div class="">
							<div>
								<div class="flex flex-col mb-10 last:mb-0">
									<p class="mb-2 font-bold text-heading-x-small">Precision Antibodies</p>
									<a href="https://www.abcam.com/en-in/products/primary-antibodies" class="mb-2 cursor-pointer text-body-medium last:mb-0 hover:underline" data-di-id="di-id-3637d91b-7ea6a9fa">Primary antibodies</a>
									<a href="https://www.abcam.com/en-in/products/secondary-antibodies" class="mb-2 cursor-pointer text-body-medium last:mb-0 hover:underline" data-di-id="di-id-128eb4f9-e47c9452">Secondary antibodies</a>
								</div>
								<div class="flex flex-col mb-10 last:mb-0">
									<p class="mb-2 font-bold text-heading-x-small">Multiplex Kits</p>
									<a href="https://www.abcam.com/en-in/products/antibody-panels" class="mb-2 cursor-pointer text-body-medium last:mb-0 hover:underline" data-di-id="di-id-3bf99dac-2f94d273">Antibody panels</a>
									<a href="https://www.abcam.com/en-in/products/antibody-arrays" class="mb-2 cursor-pointer text-body-medium last:mb-0 hover:underline" data-di-id="di-id-3bf99dac-2fe0a618">Antibody arrays</a>
								</div>
								<div class="flex flex-col mb-10 last:mb-0">
									<p class="mb-2 font-bold text-heading-x-small">Assay Kits</p>
									<a href="https://www.abcam.com/en-in/products/elisa-kits" class="mb-2 cursor-pointer text-body-medium last:mb-0 hover:underline" data-di-id="di-id-513013de-54110a18">ELISA kits</a>
									<a href="https://www.abcam.com/en-in/products/matched-antibody-pair-kits" class="mb-2 cursor-pointer text-body-medium last:mb-0 hover:underline" data-di-id="di-id-caf05ad3-dc11a67a">Matched antibody pairs</a>
									<a href="https://www.abcam.com/en-in/products/elispot-kits" class="mb-2 cursor-pointer text-body-medium last:mb-0 hover:underline" data-di-id="di-id-a5ef444-9da425c1">ELISPOT kits</a>
									<a href="https://www.abcam.com/en-in/products/lateral-flow" class="mb-2 cursor-pointer text-body-medium last:mb-0 hover:underline" data-di-id="di-id-a5ef444-372c9db8">Lateral flow kits</a>
									<a href="https://www.abcam.com/en-in/products/assay-kits" class="mb-2 cursor-pointer text-body-medium last:mb-0 hover:underline" data-di-id="di-id-513013de-77fd5022">Biochemical &amp; cellular assays</a>
								</div>
							</div>
						</div>
						<div class="">
							<div>
								<div class="flex flex-col mb-10 last:mb-0">
									<p class="mb-2 font-bold text-heading-x-small">Sample Prep &amp; Detection Kits</p>
									<a href="https://www.abcam.com/en-in/products/conjugation-kits" class="mb-2 cursor-pointer text-body-medium last:mb-0 hover:underline" data-di-id="di-id-3bf99dac-6724e778">Conjugation kits</a>
									<a href="https://www.abcam.com/en-in/products/purification-kits" class="mb-2 cursor-pointer text-body-medium last:mb-0 hover:underline" data-di-id="di-id-3637d91b-976cbbae">Purification kits</a>
									<a href="https://www.abcam.com/en-in/products/sample-preparation-kits" class="mb-2 cursor-pointer text-body-medium last:mb-0 hover:underline" data-di-id="di-id-45f229f7-b318411a">Sample preparation kits</a>
									<a href="https://www.abcam.com/en-in/products/chromogen-kits" class="mb-2 cursor-pointer text-body-medium last:mb-0 hover:underline" data-di-id="di-id-98d71438-b86cc3e2">Chromogen kits</a>
									<a href="https://www.abcam.com/en-in/products/ihc-kits" class="mb-2 cursor-pointer text-body-medium last:mb-0 hover:underline" data-di-id="di-id-e179947e-338c19ef">IHC kits</a>
									<a href="https://www.abcam.com/en-in/products/chip-kits" class="mb-2 cursor-pointer text-body-medium last:mb-0 hover:underline" data-di-id="di-id-513013de-4baa1034">ChIP kits</a>
								</div>
								<div class="flex flex-col mb-10 last:mb-0">
									<p class="mb-2 font-bold text-heading-x-small">Cell Lines &amp; Lysates</p>
									<a href="https://www.abcam.com/en-in/products/cell-lines" class="mb-2 cursor-pointer text-body-medium last:mb-0 hover:underline" data-di-id="di-id-513013de-de323317">Cell lines</a>
									<a href="https://www.abcam.com/en-in/products/tissue-lysates" class="mb-2 cursor-pointer text-body-medium last:mb-0 hover:underline" data-di-id="di-id-98d71438-b0a12875">Tissue lysates</a>
									<a href="https://www.abcam.com/en-in/products/cell-lysates" class="mb-2 cursor-pointer text-body-medium last:mb-0 hover:underline" data-di-id="di-id-a5ef444-b98d52b">Cell lysates</a>
								</div>
							</div>
						</div>
						<div class="">
							<div>
								<div class="flex flex-col mb-10 last:mb-0">
									<p class="mb-2 font-bold text-heading-x-small">Accessory Reagents &amp; Controls</p>
									<a href="https://www.abcam.com/en-in/products/reagents" class="mb-2 cursor-pointer text-body-medium last:mb-0 hover:underline" data-di-id="di-id-e179947e-37f9148d">Accessory reagents &amp; controls</a>
								</div>
								<div class="flex flex-col mb-10 last:mb-0">
									<p class="mb-2 font-bold text-heading-x-small">Biochemicals</p>
									<a href="https://www.abcam.com/en-in/products/biochemicals" class="mb-2 cursor-pointer text-body-medium last:mb-0 hover:underline" data-di-id="di-id-a5ef444-9fe4db0d">Biochemicals</a>
								</div>
								<div class="flex flex-col mb-10 last:mb-0">
									<p class="mb-2 font-bold text-heading-x-small">Proteins and Peptides</p>
									<a href="https://www.abcam.com/en-in/products/proteins-peptides" class="mb-2 cursor-pointer text-body-medium last:mb-0 hover:underline" data-di-id="di-id-3637d91b-e5559726">Proteins and peptides</a>
								</div>
							</div>
						</div>
						<div class="">
							<div>
								<div class="flex flex-col mb-10 last:mb-0">
									<p class="mb-2 font-bold text-heading-x-small">Our latest ELISA kit: Human Tau (phospho T217) - Intracellular</p>
									<div class="mt-3 mb-8">
										<div class="">
											<div class="">
												<span></span>
												<picture data-testid="aem-picture">
													<source
														data-testid="aem-source"
														sizes="475px"
														srcset="https://content.abcam.com/content/dam/abcam/global/images/marketing/campaigns/blue-gloved-hands-elisa-96-well.jpg/_jcr_content/renditions/webp-475.webp 475w"
														type="image/webp"
													/>
													<source
														data-testid="aem-source"
														sizes="475px"
														srcset="https://content.abcam.com/content/dam/abcam/global/images/marketing/campaigns/blue-gloved-hands-elisa-96-well.jpg/_jcr_content/renditions/jpg-475.jpeg 475w"
														type="image/jpeg"
													/>
													<img
														alt="A blue gloved hand holding a 96-well ELISA in an Abcam machine."
														data-testid="aem-img"
														loading="lazy"
														src="https://content.abcam.com/content/dam/abcam/global/images/marketing/campaigns/blue-gloved-hands-elisa-96-well.jpg"
													/>
												</picture>
											</div>
										</div>
									</div>
									<div class="aem-html-content_aemHtmlContent__zs9yR">
										<p>
											Highly sensitive kit offering the most promising biomarkers for Alzheimer’s disease diagnostics. Learn about all product ranges with our
											<a href="/en-in/technical-resources/product-overview" data-di-id="di-id-36d3ae3-995be903">product overviews</a>.
										</p>
									</div>
									<a href="https://www.abcam.com/en-in/products/elisa-kits/human-tau-phospho-t217-elisa-kit-intracellular-ab318935" class="mt-4 leading-none" data-di-id="di-id-52c75e91-704eff43">
										<div class="button_container__bCop1 button_secondary__FbchW button_small__gccQi button_dark__Bi5YX button_alignCenter__rHgPJ button_rounded__fa7C_">
											<span class="button_iconLeft__qqZ1J"></span><span class="button_content__WG2eF"><span>Accelerate your immunoassays</span><span class="sr-only">Accelerate your immunoassays with ab318935</span></span>
											<span class="button_iconRight__pmJHd"></span>
										</div>
									</a>
								</div>
								<div class="flex flex-col mb-10 last:mb-0">
									<p class="mb-2 font-bold text-heading-x-small">New product: Anti-DAP12 (phospho Y91) antibody [EPR25630-43]</p>
									<div class="aem-html-content_aemHtmlContent__zs9yR"><p>The first product in the market to this target modification. Phospho-specificity confirmed with relevant treatments.</p></div>
									<a href="https://www.abcam.com/en-in/products/primary-antibodies/dap12-phospho-y91-antibody-epr25630-43-ab314891" class="mt-4 leading-none" data-di-id="di-id-52c75e91-707b838a">
										<div class="button_container__bCop1 button_secondary__FbchW button_small__gccQi button_dark__Bi5YX button_alignCenter__rHgPJ button_rounded__fa7C_">
											<span class="button_iconLeft__qqZ1J"></span><span class="button_content__WG2eF"><span>Learn more about ab314891</span><span class="sr-only">Learn more about ab314891</span></span><span class="button_iconRight__pmJHd"></span>
										</div>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>			
    </div>
    <div class="mega-menu cursor-default px-7 first:pl-0 last:pr-0">
      <div>
        <div class="pt-2 mb-1 font-bold leading-none menu-item pb-[0.4375rem] w-max">
          Resources
        </div>
      </div>
			<div class="mega-menu-item absolute hidden left-0 xl:left-0 2xl:left-[30px] w-full h-screen z-50 pt-4">
				<div class="bg-black px-[40px] pb-12 lg:w-[900px] xl:w-[1120px] xl:px-[80px] lg:mx-auto xl:mx-auto 2xl:mx-0">
					<h2 class="py-5 text-heading-large font-header">Resources</h2>
					<div class="bg-white h-[1px] mb-[28px]"></div>
					<div class="grid gap-4 grid-cols-5">
						<div class="">
							<div>
								<div class="flex flex-col mb-10 last:mb-0">
									<p class="mb-2 font-bold text-heading-x-small">Learning</p>
									<a href="https://www.abcam.com/en-in/technical-resources/pathways" class="mb-2 cursor-pointer text-body-medium last:mb-0 hover:underline" data-di-id="di-id-128eb4f9-fc38ef90">Pathways</a>
									<a href="https://www.abcam.com/en-in/technical-resources/protocols" class="mb-2 cursor-pointer text-body-medium last:mb-0 hover:underline" data-di-id="di-id-128eb4f9-c5c9dcbb">Protocols</a>
									<a href="https://go.myabcam.com/training" class="mb-2 cursor-pointer text-body-medium last:mb-0 hover:underline" data-di-id="di-id-817403b4-11188406">Training</a>
									<a href="https://www.abcam.com/en-in/technical-resources/guides" class="mb-2 cursor-pointer text-body-medium last:mb-0 hover:underline" data-di-id="di-id-3637d91b-9570a78a">Guides</a>
								</div>
							</div>
						</div>
						<div class="">
							<div>
								<div class="flex flex-col mb-10 last:mb-0">
									<p class="mb-2 font-bold text-heading-x-small">Applications</p>
									<a href="https://www.abcam.com/en-in/technical-resources/applications/chip" class="mb-2 cursor-pointer text-body-medium last:mb-0 hover:underline" data-di-id="di-id-c738112-244c758e">ChIP</a>
									<a href="https://www.abcam.com/en-in/technical-resources/applications/elisa" class="mb-2 cursor-pointer text-body-medium last:mb-0 hover:underline" data-di-id="di-id-1ad9cd8c-1a4afd71">ELISA</a>
									<a href="https://www.abcam.com/en-in/technical-resources/applications/flow-cytometry" class="mb-2 cursor-pointer text-body-medium last:mb-0 hover:underline" data-di-id="di-id-36d3ae3-63139605">Flow cytometry</a>
									<a href="https://www.abcam.com/en-in/technical-resources/applications/ihc" class="mb-2 cursor-pointer text-body-medium last:mb-0 hover:underline" data-di-id="di-id-c738112-f8ac9684">Immunohistochemistry (IHC)</a>
									<a href="https://www.abcam.com/en-in/technical-resources/applications/ip" class="mb-2 cursor-pointer text-body-medium last:mb-0 hover:underline" data-di-id="di-id-caf05ad3-3f9b0c57">Immunoprecipitation (IP)</a>
									<a href="https://www.abcam.com/en-in/technical-resources/applications/western-blot" class="mb-2 cursor-pointer text-body-medium last:mb-0 hover:underline" data-di-id="di-id-d4b29f84-1eb9c332">Western blot</a>
									<a href="https://www.abcam.com/en-in/technical-resources/applications" class="mt-4 leading-none" data-di-id="di-id-45f229f7-5fd5e2f9">
										<div class="button_container__bCop1 button_secondary__FbchW button_small__gccQi button_dark__Bi5YX button_alignCenter__rHgPJ button_rounded__fa7C_">
											<span class="button_iconLeft__qqZ1J"></span><span class="button_content__WG2eF"><span>View all</span><span class="sr-only">View all resources by application</span></span><span class="button_iconRight__pmJHd"></span>
										</div>
									</a>
								</div>
							</div>
						</div>
						<div class="">
							<div>
								<div class="flex flex-col mb-10 last:mb-0">
									<p class="mb-2 font-bold text-heading-x-small">Research areas</p>
									<a href="https://www.abcam.com/en-in/technical-resources/research-areas/epigenetics" class="mb-2 cursor-pointer text-body-medium last:mb-0 hover:underline" data-di-id="di-id-36d3ae3-8cc8b900">Epigenetics</a>
									<a href="https://www.abcam.com/en-in/technical-resources/research-areas/immunology-and-infectious-disease" class="mb-2 cursor-pointer text-body-medium last:mb-0 hover:underline" data-di-id="di-id-86733935-33590349">
										Immunology and infectious disease
									</a>
									<a href="https://www.abcam.com/en-in/technical-resources/research-areas/neuroscience" class="mb-2 cursor-pointer text-body-medium last:mb-0 hover:underline" data-di-id="di-id-36d3ae3-7f0580e2">Neuroscience</a>
									<a href="https://www.abcam.com/en-in/technical-resources/research-areas/oncology" class="mb-2 cursor-pointer text-body-medium last:mb-0 hover:underline" data-di-id="di-id-6c51633-f5e009a4">Oncology</a>
									<a href="https://www.abcam.com/en-in/technical-resources/research-areas" class="mt-4 leading-none" data-di-id="di-id-caf05ad3-1fa3fb0">
										<div class="button_container__bCop1 button_secondary__FbchW button_small__gccQi button_dark__Bi5YX button_alignCenter__rHgPJ button_rounded__fa7C_">
											<span class="button_iconLeft__qqZ1J"></span><span class="button_content__WG2eF"><span>View all </span><span class="sr-only">View all research areas</span></span><span class="button_iconRight__pmJHd"></span>
										</div>
									</a>
								</div>
							</div>
						</div>
						<div class="border-l border-stroke-darkbg-dark pl-10 col-span-2">
							<div>
								<div class="flex flex-col mb-10 last:mb-0">
									<div class="flex items-start lg:flex-col gap-4">
										<div class="w-1/2 lg:w-full">
											<p class="mb-2 font-bold text-heading-x-small">Featured events</p>
											<div class="aem-html-content_aemHtmlContent__zs9yR"><p>Make new connections at our global events.</p></div>
										</div>
										<div class="w-1/2 lg:w-full lg:mb-4 mt-3 mb-8">
											<div class="">
												<div class="">
													<span></span>
													<picture data-testid="aem-picture">
														<source
															data-testid="aem-source"
															sizes="475px"
															srcset="https://content.abcam.com/content/dam/abcam/global/images/marketing/campaigns/clapping-audience-photograph-185x140.png/_jcr_content/renditions/webp-475.webp 475w"
															type="image/webp"
														/>
														<source
															data-testid="aem-source"
															sizes="475px"
															srcset="https://content.abcam.com/content/dam/abcam/global/images/marketing/campaigns/clapping-audience-photograph-185x140.png/_jcr_content/renditions/png-475.png 475w"
															type="image/png"
														/>
														<source
															data-testid="aem-source"
															sizes="475px"
															srcset="https://content.abcam.com/content/dam/abcam/global/images/marketing/campaigns/clapping-audience-photograph-185x140.png/_jcr_content/renditions/jpg-475.jpeg 475w"
															type="image/jpeg"
														/>
														<img alt="" data-testid="aem-img" loading="lazy" src="https://content.abcam.com/content/dam/abcam/global/images/marketing/campaigns/clapping-audience-photograph-185x140.png" />
													</picture>
												</div>
											</div>
										</div>
									</div>
									<a href="https://eur.cvent.me/AGO0R?rt=QlpM0tX1GkSpcP0HYA7SVg&amp;RefId=abcam-mucosalimmunology2024-yt" class="underline mb-2 cursor-pointer text-body-medium last:mb-0 hover:underline" data-di-id="di-id-ca581ca0-52a8bab4">
										Advancements in Mucosal Immunology Conference
									</a>
									<a href="https://events.abcam.com/xV922?RefId=abcam-at-neuroscience-2024-yt" class="underline mb-2 cursor-pointer text-body-medium last:mb-0 hover:underline" data-di-id="di-id-817403b4-fe9f909e">Neuroscience 2024</a>
									<a
										href="https://events.abcam.com/4ewgO?rt=QlpM0tX1GkSpcP0HYA7SVg&amp;locale=en&amp;Refid=CellCycle2024-summary-pwsrdrct"
										class="underline mb-2 cursor-pointer text-body-medium last:mb-0 hover:underline"
										data-di-id="di-id-817403b4-b8e3182b"
									>
										Digital Cell Cycle Conference
									</a>
									<a href="https://events.abcam.com/1Kmoo?RefId=cancer-metabolism-2025-yt" class="underline mb-2 cursor-pointer text-body-medium last:mb-0 hover:underline" data-di-id="di-id-817403b4-d4b2e6">Cancer and Metabolism 2025</a>
									<a href="https://www.abcam.com/en-in/support/events-support" class="mt-4 leading-none" data-di-id="di-id-98d71438-446917cd">
										<div class="button_container__bCop1 button_secondary__FbchW button_small__gccQi button_dark__Bi5YX button_alignCenter__rHgPJ button_rounded__fa7C_">
											<span class="button_iconLeft__qqZ1J"></span><span class="button_content__WG2eF"><span>View all</span><span class="sr-only">View global events calendar</span></span><span class="button_iconRight__pmJHd"></span>
										</div>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>			
    </div>
    <div class="mega-menu cursor-default px-7 first:pl-0 last:pr-0">
      <div>
        <div class="pt-2 mb-1 font-bold leading-none menu-item pb-[0.4375rem] w-max">
          Support
        </div>
      </div>
			<div class="mega-menu-item hidden absolute left-0 xl:left-0 2xl:left-[30px] w-full h-screen z-50 pt-3">
				<div class="bg-black px-[40px] pb-12 lg:w-[900px] xl:w-[1120px] xl:px-[80px] lg:mx-auto xl:mx-auto 2xl:mx-0">
					<h2 class="py-5 text-heading-large font-header">Support</h2>
					<div class="bg-white h-[1px] mb-[28px]"></div>
					<div class="grid gap-4 grid-cols-5">
						<div class="">
							<div>
								<div class="flex flex-col mb-10 last:mb-0">
									<p class="mb-2 font-bold text-heading-x-small">FAQs</p>
									<a href="https://www.abcam.com/en-in/support/events-support" class="mb-2 cursor-pointer text-body-medium last:mb-0 hover:underline" data-di-id="di-id-d7a62700-340344b9">Events</a>
									<a href="https://www.abcam.com/en-in/support/order-support" class="mb-2 cursor-pointer text-body-medium last:mb-0 hover:underline" data-di-id="di-id-a49f9eb1-db363643">Orders</a>
									<a href="https://www.abcam.com/en-in/support/product-support" class="mb-2 cursor-pointer text-body-medium last:mb-0 hover:underline" data-di-id="di-id-d7a62700-aaaf3bdc">Products</a>
									<a href="https://www.abcam.com/en-in/support/shipping-storage-support" class="mb-2 cursor-pointer text-body-medium last:mb-0 hover:underline" data-di-id="di-id-ad303526-9c7dbe54">Shipping &amp; storage</a>
									<a href="https://www.abcam.com/en-in/support/supplier-support" class="mb-2 cursor-pointer text-body-medium last:mb-0 hover:underline" data-di-id="di-id-d7a62700-b9ba9655">Suppliers</a>
								</div>
							</div>
						</div>
						<div class="">
							<div>
								<div class="flex flex-col mb-10 last:mb-0">
									<p class="mb-2 font-bold text-heading-x-small">Technical support</p>
									<a href="https://www.abcam.com/en-in/technical-resources/protocols" class="mb-2 cursor-pointer text-body-medium last:mb-0 hover:underline" data-di-id="di-id-58d71028-7cb018ba">Protocols</a>
									<a href="https://www.abcam.com/en-in/support/experiment-support" class="mb-2 cursor-pointer text-body-medium last:mb-0 hover:underline" data-di-id="di-id-e9bb6962-384b1962">Experiments</a>
								</div>
							</div>
						</div>
						<div class="">
							<div>
								<div class="flex flex-col mb-10 last:mb-0">
									<p class="mb-2 font-bold text-heading-x-small">Troubleshooting</p>
									<a href="https://www.abcam.com/en-in/technical-resources/applications/chip/troubleshooting" class="mb-2 cursor-pointer text-body-medium last:mb-0 hover:underline" data-di-id="di-id-923df2fc-5cc5111c">ChIP </a>
									<a href="https://www.abcam.com/en-in/technical-resources/applications/elisa/troubleshooting" class="mb-2 cursor-pointer text-body-medium last:mb-0 hover:underline" data-di-id="di-id-923df2fc-44eca23e">ELISA </a>
									<a href="https://www.abcam.com/en-in/technical-resources/applications/flow-cytometry/troubleshooting" class="mb-2 cursor-pointer text-body-medium last:mb-0 hover:underline" data-di-id="di-id-d606c853-8166b43a">
										Flow cytometry
									</a>
									<a href="https://www.abcam.com/en-in/technical-resources/applications/ihc/troubleshooting" class="mb-2 cursor-pointer text-body-medium last:mb-0 hover:underline" data-di-id="di-id-e01617ca-ccda50e1">
										Immunohistochemistry (IHC)
									</a>
									<a href="https://www.abcam.com/en-in/technical-resources/applications/ip/troubleshooting" class="mb-2 cursor-pointer text-body-medium last:mb-0 hover:underline" data-di-id="di-id-e01617ca-be04bd5a">Immunoprecipitation (IP) </a>
									<a href="https://www.abcam.com/en-in/technical-resources/applications/western-blot/troubleshooting" class="mb-2 cursor-pointer text-body-medium last:mb-0 hover:underline" data-di-id="di-id-df01cbe3-58330644">Western blot </a>
									<a href="https://www.abcam.com/en-in/technical-resources/troubleshooting" class="mt-4 leading-none" data-di-id="di-id-d9edfc2f-3ae806f6">
										<div class="button_container__bCop1 button_secondary__FbchW button_small__gccQi button_dark__Bi5YX button_alignCenter__rHgPJ button_rounded__fa7C_">
											<span class="button_iconLeft__qqZ1J"></span><span class="button_content__WG2eF"><span>View all</span></span><span class="button_iconRight__pmJHd"></span>
										</div>
									</a>
								</div>
							</div>
						</div>
						<div class="border-l border-stroke-darkbg-dark pl-10 col-span-2">
							<div>
								<div class="flex flex-col mb-10 last:mb-0">
									<div class="flex items-start lg:flex-col gap-4">
										<div class=""><p class="mb-2 font-bold text-heading-x-small">Our programs</p></div>
									</div>
									<p class="mb-8">
										<a href="https://www.abcam.com/en-in/offers-and-initiatives/new-lab-program" class="underline mb-2 underline cursor-pointer text-body-medium last:mb-0" data-di-id="di-id-e8049537-3d5ebdf4">New Lab Program</a><br />
										Get a head start with our exclusive new lab discount. Enjoy 20% off and free shipping for three months.
									</p>
									<p class="mb-8">
										<a href="https://www.abcam.com/en-in/offers-and-initiatives/new-biotech-program" class="underline mb-2 underline cursor-pointer text-body-medium last:mb-0" data-di-id="di-id-64444a5b-726c1e09">New Biotech Program</a><br />
										Just starting out? Get 15% off and free shipping to your lab for six months.
									</p>
									<p class="mb-8">
										<a href="https://www.abcam.com/en-in/offers-and-initiatives/product-promise" class="underline mb-2 underline cursor-pointer text-body-medium last:mb-0" data-di-id="di-id-e8049537-cfb336f1">Product promise</a><br />
										Peace of mind that all products perform as stated.
									</p>
									<p class="mb-8">
										<a href="https://www.abcam.com/en-in/offers-and-initiatives/product-reviews" class="underline mb-2 underline cursor-pointer text-body-medium last:mb-0" data-di-id="di-id-e8049537-acd518da">Product reviews</a><br />
										Leave reviews, get rewarded and help your community.
									</p>
									<p class="mb-8">
										<a href="https://www.abcam.com/en-in/offers-and-initiatives/trial-program" class="underline mb-2 underline cursor-pointer text-body-medium last:mb-0" data-di-id="di-id-b32b7441-6ec9f67e">Trial program</a><br />
										Try untested species and applications to earn money off your next order.
									</p>
									<a href="https://www.abcam.com/en-in/offers-and-initiatives" class="mt-4 leading-none" data-di-id="di-id-a49f9eb1-472fcd0f">
										<div class="button_container__bCop1 button_secondary__FbchW button_small__gccQi button_dark__Bi5YX button_alignCenter__rHgPJ button_rounded__fa7C_">
											<span class="button_iconLeft__qqZ1J"></span><span class="button_content__WG2eF"><span>View all initiatives</span><span class="sr-only">View all initiatives</span></span><span class="button_iconRight__pmJHd"></span>
										</div>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>			
    </div>
    <div class="mega-menu cursor-default px-7 first:pl-0 last:pr-0">
      <div>
        <div class="pt-2 mb-1 font-bold leading-none menu-item pb-[0.4375rem] w-max">
          About us
        </div>
      </div>
			<div class="mega-menu-item hidden absolute left-0 xl:left-0 2xl:left-[30px] w-full h-screen z-50 pt-4">
				<div class="bg-black px-[40px] pb-12 lg:w-[900px] xl:w-[1120px] xl:px-[80px] lg:mx-auto xl:mx-auto 2xl:mx-0">
					<h2 class="py-5 text-heading-large font-header">About us</h2>
					<div class="bg-white h-[1px] mb-[28px]"></div>
					<div class="grid gap-4 grid-cols-5">
						<div class="">
							<div>
								<div class="flex flex-col mb-10 last:mb-0">
									<p class="mb-2 font-bold text-heading-x-small">Community stories</p>
									<div class="mt-3 mb-8">
										<div class="">
											<div class="">
												<span></span>
												<picture data-testid="aem-picture">
													<source
														data-testid="aem-source"
														sizes="475px"
														srcset="https://content.abcam.com/content/dam/abcam/global/images/marketing/campaigns/giles-yeo-photograph-185x140.png/_jcr_content/renditions/webp-475.webp 475w"
														type="image/webp"
													/>
													<source
														data-testid="aem-source"
														sizes="475px"
														srcset="https://content.abcam.com/content/dam/abcam/global/images/marketing/campaigns/giles-yeo-photograph-185x140.png/_jcr_content/renditions/png-475.png 475w"
														type="image/png"
													/>
													<source
														data-testid="aem-source"
														sizes="475px"
														srcset="https://content.abcam.com/content/dam/abcam/global/images/marketing/campaigns/giles-yeo-photograph-185x140.png/_jcr_content/renditions/jpg-475.jpeg 475w"
														type="image/jpeg"
													/>
													<img
														alt="Giles Yeo talking into an orange abcam mic and smiling."
														data-testid="aem-img"
														loading="lazy"
														src="https://content.abcam.com/content/dam/abcam/global/images/marketing/campaigns/giles-yeo-photograph-185x140.png"
													/>
												</picture>
											</div>
										</div>
									</div>
									<div class="aem-html-content_aemHtmlContent__zs9yR"><p>Powerful stories from people like you.</p></div>
									<a href="https://go.myabcam.com/together" class="mt-4 leading-none" data-di-id="di-id-817403b4-1f99ac04">
										<div class="button_container__bCop1 button_secondary__FbchW button_small__gccQi button_dark__Bi5YX button_alignCenter__rHgPJ button_rounded__fa7C_">
											<span class="button_iconLeft__qqZ1J"></span><span class="button_content__WG2eF"><span>Get inspired</span><span class="sr-only">Learn more about our brand</span></span><span class="button_iconRight__pmJHd"></span>
										</div>
									</a>
								</div>
							</div>
						</div>
						<div class="">
							<div>
								<div class="flex flex-col mb-10 last:mb-0">
									<p class="mb-2 font-bold text-heading-x-small">This is Abcam</p>
									<div class="mt-3 mb-8">
										<div class="">
											<div class="">
												<span></span>
												<picture data-testid="aem-picture">
													<source
														data-testid="aem-source"
														sizes="475px"
														srcset="https://content.abcam.com/content/dam/abcam/global/images/marketing/campaigns/smiling-scientist-meganav-about-us.png/_jcr_content/renditions/webp-475.webp 475w"
														type="image/webp"
													/>
													<source
														data-testid="aem-source"
														sizes="475px"
														srcset="https://content.abcam.com/content/dam/abcam/global/images/marketing/campaigns/smiling-scientist-meganav-about-us.png/_jcr_content/renditions/png-475.png 475w"
														type="image/png"
													/>
													<source
														data-testid="aem-source"
														sizes="475px"
														srcset="https://content.abcam.com/content/dam/abcam/global/images/marketing/campaigns/smiling-scientist-meganav-about-us.png/_jcr_content/renditions/jpg-475.jpeg 475w"
														type="image/jpeg"
													/>
													<img
														alt="Female scientist in a lab coat smiling at another scientist in a lab coat"
														data-testid="aem-img"
														loading="lazy"
														src="https://content.abcam.com/content/dam/abcam/global/images/marketing/campaigns/smiling-scientist-meganav-about-us.png"
													/>
												</picture>
											</div>
										</div>
									</div>
									<div class="aem-html-content_aemHtmlContent__zs9yR"><p>Helping life scientists worldwide deliver faster breakthroughs</p></div>
									<a href="https://www.abcam.com/en-in/about" class="mt-4 leading-none" data-di-id="di-id-5450495a-ac3b116e">
										<div class="button_container__bCop1 button_secondary__FbchW button_small__gccQi button_dark__Bi5YX button_alignCenter__rHgPJ button_rounded__fa7C_">
											<span class="button_iconLeft__qqZ1J"></span><span class="button_content__WG2eF"><span>Learn more</span><span class="sr-only">Learn more about us</span></span><span class="button_iconRight__pmJHd"></span>
										</div>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>			
    </div>
  </div>
</div>
<div class="md:hidden gradient-border-b after:mb-0 after:h-0.5"></div>