.container {
  width: 100%
}

@media (min-width: 640px) {
  .container {
    max-width: 640px
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px
  }
}

.alert-banner-wrapper :is(.mb-6) {
  margin-bottom: 1.5rem
}

.alert-banner-wrapper :is(.mt-1) {
  margin-top: 0.25rem
}

.alert-banner-wrapper :is(.block) {
  display: block
}

.alert-banner-wrapper :is(.flex) {
  display: flex
}

.alert-banner-wrapper :is(.w-4) {
  width: 1rem
}

.alert-banner-wrapper :is(.rotate-0) {
  --tw-rotate: 0deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.alert-banner-wrapper :is(.transform) {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.alert-banner-wrapper :is(.flex-col) {
  flex-direction: column
}

.alert-banner-wrapper :is(.flex-wrap) {
  flex-wrap: wrap
}

.alert-banner-wrapper :is(.items-center) {
  align-items: center
}

.alert-banner-wrapper :is(.justify-between) {
  justify-content: space-between
}

.alert-banner-wrapper :is(.gap-2) {
  gap: 0.5rem
}

.alert-banner-wrapper :is(.gap-4) {
  gap: 1rem
}

.alert-banner-wrapper :is(.gap-x-32) {
  -moz-column-gap: 8rem;
       column-gap: 8rem
}

.alert-banner-wrapper :is(.rounded-xl) {
  border-radius: 0.75rem
}

.alert-banner-wrapper :is(.bg-\[\#edf6f7\]) {
  --tw-bg-opacity: 1;
  background-color: rgb(237 246 247 / var(--tw-bg-opacity))
}

.alert-banner-wrapper :is(.p-6) {
  padding: 1.5rem
}

.alert-banner-wrapper :is(.text-xl) {
  font-size: 1.25rem;
  line-height: 1.75rem
}

.alert-banner-wrapper :is(.font-bold) {
  font-weight: 700
}

.alert-banner-wrapper :is(.text-\[\#378189\]) {
  --tw-text-opacity: 1;
  color: rgb(55 129 137 / var(--tw-text-opacity))
}

@media (min-width: 768px) {
  .alert-banner-wrapper :is(.md\:flex-row) {
    flex-direction: row
  }
}