.title-card-wrapper :is(.relative) {
  position: relative
}

.title-card-wrapper :is(.mx-auto) {
  margin-left: auto;
  margin-right: auto
}

.title-card-wrapper :is(.my-5) {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem
}

.title-card-wrapper :is(.my-auto) {
  margin-top: auto;
  margin-bottom: auto
}

.title-card-wrapper :is(.mb-2) {
  margin-bottom: 0.5rem
}

.title-card-wrapper :is(.mb-5) {
  margin-bottom: 1.25rem
}

.title-card-wrapper :is(.mt-8) {
  margin-top: 2rem
}

.title-card-wrapper :is(.block) {
  display: block
}

.title-card-wrapper :is(.flex) {
  display: flex
}

.title-card-wrapper :is(.h-48) {
  height: 12rem
}

.title-card-wrapper :is(.w-1\/6) {
  width: 16.666667%
}

.title-card-wrapper :is(.w-full) {
  width: 100%
}

.title-card-wrapper :is(.max-w-7xl) {
  max-width: 80rem
}

.title-card-wrapper :is(.flex-col) {
  flex-direction: column
}

.title-card-wrapper :is(.items-center) {
  align-items: center
}

.title-card-wrapper :is(.justify-center) {
  justify-content: center
}

.title-card-wrapper :is(.justify-between) {
  justify-content: space-between
}

.title-card-wrapper :is(.gap-y-6) {
  row-gap: 1.5rem
}

.title-card-wrapper :is(.rounded) {
  border-radius: 0.25rem
}

.title-card-wrapper :is(.border-t-4) {
  border-top-width: 4px
}

.title-card-wrapper :is(.border-\[\#ff7223\]) {
  --tw-border-opacity: 1;
  border-color: rgb(255 114 35 / var(--tw-border-opacity))
}

.title-card-wrapper :is(.bg-\[\#EDF6F7\]) {
  --tw-bg-opacity: 1;
  background-color: rgb(237 246 247 / var(--tw-bg-opacity))
}

.title-card-wrapper :is(.object-cover) {
  -o-object-fit: cover;
     object-fit: cover
}

.title-card-wrapper :is(.px-2) {
  padding-left: 0.5rem;
  padding-right: 0.5rem
}

.title-card-wrapper :is(.px-4) {
  padding-left: 1rem;
  padding-right: 1rem
}

.title-card-wrapper :is(.px-6) {
  padding-left: 1.5rem;
  padding-right: 1.5rem
}

.title-card-wrapper :is(.py-1) {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem
}

.title-card-wrapper :is(.pb-4) {
  padding-bottom: 1rem
}

.title-card-wrapper :is(.pt-4) {
  padding-top: 1rem
}

.title-card-wrapper :is(.font-sans) {
  font-family: Noto Sans
}

.title-card-wrapper :is(.\!text-3xl) {
  font-size: 1.875rem !important;
  line-height: 2.25rem !important
}

.title-card-wrapper :is(.text-base) {
  font-size: 1rem;
  line-height: 1.5rem
}

.title-card-wrapper :is(.text-lg) {
  font-size: 1.125rem;
  line-height: 1.75rem
}

.title-card-wrapper :is(.text-sm) {
  font-size: 0.875rem;
  line-height: 1.25rem
}

.title-card-wrapper :is(.text-xs) {
  font-size: 0.75rem;
  line-height: 1rem
}

.title-card-wrapper :is(.font-normal) {
  font-weight: 400
}

.title-card-wrapper :is(.font-semibold) {
  font-weight: 600
}

.title-card-wrapper :is(.capitalize) {
  text-transform: capitalize
}

.title-card-wrapper :is(.leading-4) {
  line-height: 1rem
}

.title-card-wrapper :is(.leading-7) {
  line-height: 1.75rem
}

.title-card-wrapper :is(.\!tracking-wider) {
  letter-spacing: 0.05em !important
}

.title-card-wrapper :is(.tracking-\[0\.3px\]) {
  letter-spacing: 0.3px
}

.title-card-wrapper :is(.text-\[\#378189\]) {
  --tw-text-opacity: 1;
  color: rgb(55 129 137 / var(--tw-text-opacity))
}

.title-card-wrapper :is(.text-\[\#8B8B8B\]) {
  --tw-text-opacity: 1;
  color: rgb(139 139 139 / var(--tw-text-opacity))
}

@media (min-width: 1280px) {
  .xl\:container {
    width: 100%
  }

  @media (min-width: 640px) {
    .xl\:container {
      max-width: 640px
    }
  }

  @media (min-width: 768px) {
    .xl\:container {
      max-width: 768px
    }
  }

  @media (min-width: 1024px) {
    .xl\:container {
      max-width: 1024px
    }
  }

  @media (min-width: 1280px) {
    .xl\:container {
      max-width: 1280px
    }
  }

  @media (min-width: 1536px) {
    .xl\:container {
      max-width: 1536px
    }
  }
}

@media (min-width: 768px) {
  .title-card-wrapper :is(.md\:mt-12) {
    margin-top: 3rem
  }

  .title-card-wrapper :is(.md\:flex) {
    display: flex
  }

  .title-card-wrapper :is(.md\:inline-flex) {
    display: inline-flex
  }

  .title-card-wrapper :is(.md\:h-\[400px\]) {
    height: 400px
  }

  .title-card-wrapper :is(.md\:\!text-4xl) {
    font-size: 2.25rem !important;
    line-height: 2.5rem !important
  }
}

@media (min-width: 1024px) {
  .title-card-wrapper :is(.lg\:w-1\/2) {
    width: 50%
  }

  .title-card-wrapper :is(.lg\:flex-row) {
    flex-direction: row
  }

  .title-card-wrapper :is(.lg\:py-6) {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem
  }

  .title-card-wrapper :is(.lg\:pr-0) {
    padding-right: 0px
  }

  .title-card-wrapper :is(.lg\:pr-6) {
    padding-right: 1.5rem
  }

  .title-card-wrapper :is(.lg\:\!text-6xl) {
    font-size: 3.75rem !important;
    line-height: 1 !important
  }
}

@media (min-width: 1280px) {
  .title-card-wrapper :is(.xl\:absolute) {
    position: absolute
  }

  .title-card-wrapper :is(.xl\:right-0) {
    right: 0px
  }

  .title-card-wrapper :is(.xl\:top-0) {
    top: 0px
  }

  .title-card-wrapper :is(.xl\:h-\[500px\]) {
    height: 500px
  }

  .title-card-wrapper :is(.xl\:min-h-\[400px\]) {
    min-height: 400px
  }

  .title-card-wrapper :is(.xl\:w-1\/2) {
    width: 50%
  }

  .title-card-wrapper :is(.xl\:max-w-7xl) {
    max-width: 80rem
  }
}