.container {
  width: 100%
}

@media (min-width: 640px) {
  .container {
    max-width: 640px
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px
  }
}

.relative {
  position: relative
}

.my-12 {
  margin-top: 3rem;
  margin-bottom: 3rem
}

.mx-auto {
  margin-left: auto;
  margin-right: auto
}

.my-10 {
  margin-top: 2.5rem;
  margin-bottom: 2.5rem
}

.mb-5 {
  margin-bottom: 1.25rem
}

.mb-8 {
  margin-bottom: 2rem
}

.mt-12 {
  margin-top: 3rem
}

.mb-10 {
  margin-bottom: 2.5rem
}

.mb-4 {
  margin-bottom: 1rem
}

.block {
  display: block
}

.flex {
  display: flex
}

.w-1\/6 {
  width: 16.666667%
}

.max-w-screen-md {
  max-width: 768px
}

.max-w-screen-sm {
  max-width: 640px
}

.max-w-xl {
  max-width: 36rem
}

.max-w-4xl {
  max-width: 56rem
}

.max-w-3xl {
  max-width: 48rem
}

.flex-col {
  flex-direction: column
}

.justify-center {
  justify-content: center
}

.space-y-4 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1rem * var(--tw-space-y-reverse))
}

.space-y-5 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1.25rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1.25rem * var(--tw-space-y-reverse))
}

.space-y-6 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1.5rem * var(--tw-space-y-reverse))
}

.border-t-4 {
  border-top-width: 4px
}

.border-b {
  border-bottom-width: 1px
}

.border-\[\#ff7223\] {
  --tw-border-opacity: 1;
  border-color: rgb(255 114 35 / var(--tw-border-opacity))
}

.border-gray-400 {
  --tw-border-opacity: 1;
  border-color: rgb(156 163 175 / var(--tw-border-opacity))
}

.border-gray-200 {
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity))
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem
}

.pb-9 {
  padding-bottom: 2.25rem
}

.pb-5 {
  padding-bottom: 1.25rem
}

.text-\[3\.5rem\] {
  font-size: 3.5rem
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem
}

.font-semibold {
  font-weight: 600
}

.leading-\[3\.5rem\] {
  line-height: 3.5rem
}

.leading-6 {
  line-height: 1.5rem
}

.tracking-normal {
  letter-spacing: 0em
}

.tracking-wide {
  letter-spacing: 0.025em
}

.text-black {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity))
}

@media (min-width: 768px) {
  .md\:max-w-5xl {
    max-width: 64rem
  }

  .md\:px-0 {
    padding-left: 0px;
    padding-right: 0px
  }
}

@media (min-width: 1024px) {
  .lg\:max-w-5xl {
    max-width: 64rem
  }

  .lg\:max-w-4xl {
    max-width: 56rem
  }

  .lg\:max-w-3xl {
    max-width: 48rem
  }

  .lg\:max-w-7xl {
    max-width: 80rem
  }
}