.social-media-wrapper :is(.mx-auto) {
  margin-left: auto;
  margin-right: auto
}

.social-media-wrapper :is(.mb-8) {
  margin-bottom: 2rem
}

.social-media-wrapper :is(.block) {
  display: block
}

.social-media-wrapper :is(.flex) {
  display: flex
}

.social-media-wrapper :is(.max-w-4xl) {
  max-width: 56rem
}

.social-media-wrapper :is(.gap-x-2) {
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem
}

.social-media-wrapper :is(.space-y-2 > :not([hidden]) ~ :not([hidden])) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.5rem * var(--tw-space-y-reverse))
}

.social-media-wrapper :is(.pb-0) {
  padding-bottom: 0px
}

.social-media-wrapper :is(.pt-4) {
  padding-top: 1rem
}

.social-media-wrapper :is(.text-base) {
  font-size: 1rem;
  line-height: 1.5rem
}

.social-media-wrapper :is(.font-bold) {
  font-weight: 700
}

.social-media-wrapper :is(.text-gray-600) {
  --tw-text-opacity: 1;
  color: rgb(75 85 99 / var(--tw-text-opacity))
}

@media (min-width: 768px) {
  .social-media-wrapper :is(.md\:pb-10) {
    padding-bottom: 2.5rem
  }
}