.recently-viewed-wrapper :is(.mx-auto) {
  margin-left: auto;
  margin-right: auto
}

.recently-viewed-wrapper :is(.block) {
  display: block
}

.recently-viewed-wrapper :is(.w-\[87\%\]) {
  width: 87%
}

@media (max-width: 768px) {
  .recently-viewed-wrapper :is(.max-\[768px\]\:w-full) {
    width: 100%
  }
}