.container {
  width: 100%
}

@media (min-width: 640px) {
  .container {
    max-width: 640px
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px
  }
}

.static {
  position: static
}

.col-span-1 {
  grid-column: span 1 / span 1
}

.col-span-4 {
  grid-column: span 4 / span 4
}

.col-span-2 {
  grid-column: span 2 / span 2
}

.col-span-6 {
  grid-column: span 6 / span 6
}

.mx-auto {
  margin-left: auto;
  margin-right: auto
}

.mb-4 {
  margin-bottom: 1rem
}

.flex {
  display: flex
}

.table {
  display: table
}

.grid {
  display: grid
}

.h-2 {
  height: 0.5rem
}

.h-3 {
  height: 0.75rem
}

.h-4 {
  height: 1rem
}

.h-5 {
  height: 1.25rem
}

.h-7 {
  height: 1.75rem
}

.h-72 {
  height: 18rem
}

.w-2\/4 {
  width: 50%
}

.w-2\/5 {
  width: 40%
}

.w-3\/4 {
  width: 75%
}

.w-4\/5 {
  width: 80%
}

.w-full {
  width: 100%
}

.max-w-sm {
  max-width: 24rem
}

.max-w-xs {
  max-width: 20rem
}

@keyframes pulse {
  50% {
    opacity: .5
  }
}

.animate-pulse {
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite
}

.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr))
}

.grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr))
}

.grid-rows-1 {
  grid-template-rows: repeat(1, minmax(0, 1fr))
}

.flex-col {
  flex-direction: column
}

.flex-wrap {
  flex-wrap: wrap
}

.gap-4 {
  gap: 1rem
}

.gap-5 {
  gap: 1.25rem
}

.gap-x-10 {
  -moz-column-gap: 2.5rem;
       column-gap: 2.5rem
}

.gap-y-2 {
  row-gap: 0.5rem
}

.gap-y-4 {
  row-gap: 1rem
}

.space-y-1 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.25rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.25rem * var(--tw-space-y-reverse))
}

.space-y-4 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1rem * var(--tw-space-y-reverse))
}

.overflow-scroll {
  overflow: scroll
}

.rounded {
  border-radius: 0.25rem
}

.rounded-lg {
  border-radius: 0.5rem
}

.rounded-md {
  border-radius: 0.375rem
}

.border {
  border-width: 1px
}

.bg-neutral-300 {
  --tw-bg-opacity: 1;
  background-color: rgb(212 212 212 / var(--tw-bg-opacity))
}

.p-4 {
  padding: 1rem
}

.py-8 {
  padding-top: 2rem;
  padding-bottom: 2rem
}

.shadow {
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

@media (min-width: 768px) {
  .md\:grid-cols-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr))
  }

  .md\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr))
  }

  .md\:grid-cols-6 {
    grid-template-columns: repeat(6, minmax(0, 1fr))
  }

  .md\:grid-cols-8 {
    grid-template-columns: repeat(8, minmax(0, 1fr))
  }
}

@media (min-width: 1024px) {
  .lg\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr))
  }

  .lg\:grid-cols-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr))
  }

  .lg\:flex-row {
    flex-direction: row
  }
}

.\[\&\:not\(\:first-child\)\:even\]\:opacity-40:not(:first-child):even {
  opacity: 0.4
}

.\[\&\:not\(\:first-child\)\:odd\]\:opacity-20:not(:first-child):odd {
  opacity: 0.2
}

.\[\&\:not\(\:first-child\)\]\:opacity-20:not(:first-child) {
  opacity: 0.2
}

.\[\&\:not\(\:first-child\)\]\:opacity-40:not(:first-child) {
  opacity: 0.4
}

.\[\&_atomic-facet\:\:part\(facet\)\]\:rounded atomic-facet::part(facet) {
  border-radius: 0.25rem
}

.\[\&_atomic-facet\:\:part\(facet\)\]\:rounded-md atomic-facet::part(facet) {
  border-radius: 0.375rem
}

.\[\&_atomic-facet\]\:rounded-md atomic-facet {
  border-radius: 0.375rem
}

.\[\&_atomic-facet\]\:rounded atomic-facet {
  border-radius: 0.25rem
}

.\[\&_table\]\:table table {
  display: table
}