.speakers-info-wrapper :is(.col-span-2) {
  grid-column: span 2 / span 2
}

.speakers-info-wrapper :is(.mx-auto) {
  margin-left: auto;
  margin-right: auto
}

.speakers-info-wrapper :is(.my-4) {
  margin-top: 1rem;
  margin-bottom: 1rem
}

.speakers-info-wrapper :is(.mr-7) {
  margin-right: 1.75rem
}

.speakers-info-wrapper :is(.block) {
  display: block
}

.speakers-info-wrapper :is(.flex) {
  display: flex
}

.speakers-info-wrapper :is(.h-16) {
  height: 4rem
}

.speakers-info-wrapper :is(.w-16) {
  width: 4rem
}

.speakers-info-wrapper :is(.w-full) {
  width: 100%
}

.speakers-info-wrapper :is(.items-center) {
  align-items: center
}

.speakers-info-wrapper :is(.justify-start) {
  justify-content: flex-start
}

.speakers-info-wrapper :is(.space-y-1 > :not([hidden]) ~ :not([hidden])) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.25rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.25rem * var(--tw-space-y-reverse))
}

.speakers-info-wrapper :is(.rounded-full) {
  border-radius: 9999px
}

.speakers-info-wrapper :is(.pt-10) {
  padding-top: 2.5rem
}

.speakers-info-wrapper :is(.text-2xl) {
  font-size: 1.5rem;
  line-height: 2rem
}

.speakers-info-wrapper :is(.text-lg) {
  font-size: 1.125rem;
  line-height: 1.75rem
}

.speakers-info-wrapper :is(.text-sm) {
  font-size: 0.875rem;
  line-height: 1.25rem
}

.speakers-info-wrapper :is(.font-bold) {
  font-weight: 700
}

.speakers-info-wrapper :is(.font-normal) {
  font-weight: 400
}

.speakers-info-wrapper :is(.font-semibold) {
  font-weight: 600
}

.speakers-info-wrapper :is(.leading-6) {
  line-height: 1.5rem
}

.speakers-info-wrapper :is(.leading-7) {
  line-height: 1.75rem
}

.speakers-info-wrapper :is(.tracking-normal) {
  letter-spacing: 0em
}

.speakers-info-wrapper :is(.text-\[\#071112\]) {
  --tw-text-opacity: 1;
  color: rgb(7 17 18 / var(--tw-text-opacity))
}

.speakers-info-wrapper :is(.text-\[\#2A3C3C\]) {
  --tw-text-opacity: 1;
  color: rgb(42 60 60 / var(--tw-text-opacity))
}

.speakers-info-wrapper :is(.text-\[\#65797C\]) {
  --tw-text-opacity: 1;
  color: rgb(101 121 124 / var(--tw-text-opacity))
}

.speakers-info-wrapper :is(.text-black) {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity))
}

@media (min-width: 1024px) {
  .speakers-info-wrapper :is(.lg\:h-20) {
    height: 5rem
  }

  .speakers-info-wrapper :is(.lg\:w-20) {
    width: 5rem
  }
}