.fixed {
  position: fixed
}

.sticky {
  position: sticky
}

.top-0 {
  top: 0px
}

.m-auto {
  margin: auto
}

.mx-\[15\%\] {
  margin-left: 15%;
  margin-right: 15%
}

.my-12 {
  margin-top: 3rem;
  margin-bottom: 3rem
}

.my-5 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem
}

.mx-auto {
  margin-left: auto;
  margin-right: auto
}

.mx-\[5\.5\%\] {
  margin-left: 5.5%;
  margin-right: 5.5%
}

.mx-\[30\.5\%\] {
  margin-left: 30.5%;
  margin-right: 30.5%
}

.mb-10 {
  margin-bottom: 2.5rem
}

.mb-16 {
  margin-bottom: 4rem
}

.mb-5 {
  margin-bottom: 1.25rem
}

.mr-\[-8\%\] {
  margin-right: -8%
}

.mt-4 {
  margin-top: 1rem
}

.ml-\[12\.5\%\] {
  margin-left: 12.5%
}

.mr-10 {
  margin-right: 2.5rem
}

.mr-\[5\.25\%\] {
  margin-right: 5.25%
}

.block {
  display: block
}

.flex {
  display: flex
}

.h-full {
  height: 100%
}

.w-1\/6 {
  width: 16.666667%
}

.w-8\/12 {
  width: 66.666667%
}

.w-full {
  width: 100%
}

.min-w-\[360px\] {
  min-width: 360px
}

.max-w-7xl {
  max-width: 80rem
}

.max-w-screen-xl {
  max-width: 1280px
}

.resize {
  resize: both
}

.flex-col {
  flex-direction: column
}

.justify-center {
  justify-content: center
}

.border {
  border-width: 1px
}

.border-t-4 {
  border-top-width: 4px
}

.border-\[\#ff7223\] {
  --tw-border-opacity: 1;
  border-color: rgb(255 114 35 / var(--tw-border-opacity))
}

.border-b-slate-400 {
  --tw-border-opacity: 1;
  border-bottom-color: rgb(148 163 184 / var(--tw-border-opacity))
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.px-5 {
  padding-left: 1.25rem;
  padding-right: 1.25rem
}

.py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem
}

.font-sans {
  font-family: sanchez
}

.text-6xl {
  font-size: 3.75rem;
  line-height: 1
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem
}

.text-xl {
  font-size: 1.25rem;
  line-height: 1.75rem
}

.text-xs {
  font-size: 0.75rem;
  line-height: 1rem
}

.font-semibold {
  font-weight: 600
}

.tracking-normal {
  letter-spacing: 0em
}

.text-gray-400 {
  --tw-text-opacity: 1;
  color: rgb(156 163 175 / var(--tw-text-opacity))
}

.text-gray-500 {
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity))
}

@media (min-width: 640px) {
  .sm\:mx-\[4\.25\%\] {
    margin-left: 4.25%;
    margin-right: 4.25%
  }

  .sm\:ml-\[4\.25\%\] {
    margin-left: 4.25%
  }

  .sm\:mr-\[4\.25\%\] {
    margin-right: 4.25%
  }
}

@media (min-width: 768px) {
  .md\:mx-\[5\.25\%\] {
    margin-left: 5.25%;
    margin-right: 5.25%
  }

  .md\:mr-\[-2\%\] {
    margin-right: -2%
  }

  .md\:ml-\[5\.25\%\] {
    margin-left: 5.25%
  }

  .md\:mr-\[5\.25\%\] {
    margin-right: 5.25%
  }

  .md\:min-w-\[360px\] {
    min-width: 360px
  }
}

@media (min-width: 1024px) {
  .lg\:visible {
    visibility: visible
  }

  .lg\:mx-\[6\.25\%\] {
    margin-left: 6.25%;
    margin-right: 6.25%
  }

  .lg\:mr-\[-8\%\] {
    margin-right: -8%
  }

  .lg\:mr-\[6\.25\%\] {
    margin-right: 6.25%
  }

  .lg\:hidden {
    display: none
  }
}

@media (min-width: 1280px) {
  .xl\:mx-\[9\.25\%\] {
    margin-left: 9.25%;
    margin-right: 9.25%
  }

  .xl\:mx-\[12\.5\%\] {
    margin-left: 12.5%;
    margin-right: 12.5%
  }

  .xl\:mx-\[7\.5\%\] {
    margin-left: 7.5%;
    margin-right: 7.5%
  }

  .xl\:ml-\[7\.5\%\] {
    margin-left: 7.5%
  }

  .xl\:mr-\[9\.25\%\] {
    margin-right: 9.25%
  }

  .xl\:ml-\[9\.25\%\] {
    margin-left: 9.25%
  }
}