.header-notification-banner-wrapper :is(.block) {
  display: block
}

.header-notification-banner-wrapper :is(.bg-black) {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity))
}

.header-notification-banner-wrapper :is(.p-8) {
  padding: 2rem
}

.header-notification-banner-wrapper :is(.text-white) {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}