.accordion-wrapper :is(.mt-1) {
  margin-top: 0.25rem
}

.accordion-wrapper :is(.block) {
  display: block
}

.accordion-wrapper :is(.flex) {
  display: flex
}

.accordion-wrapper :is(.hidden) {
  display: none
}

.accordion-wrapper :is(.max-w-screen-lg) {
  max-width: 1024px
}

.accordion-wrapper :is(.transform) {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.accordion-wrapper :is(.cursor-pointer) {
  cursor: pointer
}

.accordion-wrapper :is(.items-center) {
  align-items: center
}

.accordion-wrapper :is(.gap-6) {
  gap: 1.5rem
}

.accordion-wrapper :is(.border-b) {
  border-bottom-width: 1px
}

.accordion-wrapper :is(.border-b-\[\#D8D8D8\]) {
  --tw-border-opacity: 1;
  border-bottom-color: rgb(216 216 216 / var(--tw-border-opacity))
}

.accordion-wrapper :is(.p-4) {
  padding: 1rem
}

.accordion-wrapper :is(.font-sans) {
  font-family: Noto Sans
}

.accordion-wrapper :is(.text-\[24px\]) {
  font-size: 24px
}

.accordion-wrapper :is(.font-semibold) {
  font-weight: 600
}

.accordion-wrapper :is(.leading-8) {
  line-height: 2rem
}

.accordion-wrapper :is(.tracking-\[-0\.5px\]) {
  letter-spacing: -0.5px
}

.accordion-wrapper :is(.text-\[\#378189\]) {
  --tw-text-opacity: 1;
  color: rgb(55 129 137 / var(--tw-text-opacity))
}