.product-buybox-wrapper :is(.col-span-4) {
  grid-column: span 4 / span 4
}

.product-buybox-wrapper :is(.block) {
  display: block
}

.product-buybox-wrapper :is(.hidden) {
  display: none
}

.product-buybox-wrapper :is(.h-1\/4) {
  height: 25%
}

.product-buybox-wrapper :is(.h-full) {
  height: 100%
}

.product-buybox-wrapper :is(.w-auto) {
  width: auto
}

.product-buybox-wrapper :is(.bg-teal-100) {
  --tw-bg-opacity: 1;
  background-color: rgb(204 251 241 / var(--tw-bg-opacity))
}

.product-buybox-wrapper :is(.bg-\[\#edf7f6\]) {
  --tw-bg-opacity: 1;
  background-color: rgb(237 247 246 / var(--tw-bg-opacity))
}

.product-buybox-wrapper :is(.p-6) {
  padding: 1.5rem
}

@media (min-width: 1024px) {
  .product-buybox-wrapper :is(.lg\:block) {
    display: block
  }
}