.sticky-right-navigation :is(.mb-2) {
  margin-bottom: 0.5rem
}

.sticky-right-navigation :is(.block) {
  display: block
}

.sticky-right-navigation :is(.w-72) {
  width: 18rem
}

.sticky-right-navigation :is(.rounded-3xl) {
  border-radius: 1.5rem
}

.sticky-right-navigation :is(.py-2) {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem
}

.sticky-right-navigation :is(.py-2\.5) {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem
}

.sticky-right-navigation :is(.pl-3) {
  padding-left: 0.75rem
}

.sticky-right-navigation :is(.pl-3\.5) {
  padding-left: 0.875rem
}

.sticky-right-navigation :is(.pr-3) {
  padding-right: 0.75rem
}

.sticky-right-navigation :is(.pr-3\.5) {
  padding-right: 0.875rem
}

.sticky-right-navigation :is(.text-base) {
  font-size: 1rem;
  line-height: 1.5rem
}

.sticky-right-navigation :is(.font-bold) {
  font-weight: 700
}

.sticky-right-navigation :is(.text-black) {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity))
}

.sticky-right-navigation :is(.hover\:bg-\[\#f2f2f2\]:hover) {
  --tw-bg-opacity: 1;
  background-color: rgb(242 242 242 / var(--tw-bg-opacity))
}

@media (max-width: 768px) {
  .sticky-right-navigation :is(.max-\[768px\]\:hidden) {
    display: none
  }
}