.container {
  width: 100%
}

@media (min-width: 640px) {
  .container {
    max-width: 640px
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px
  }
}

.pointer-events-none {
  pointer-events: none
}

.pointer-events-auto {
  pointer-events: auto
}

.mx-auto {
  margin-left: auto;
  margin-right: auto
}

.mb-2 {
  margin-bottom: 0.5rem
}

.mt-3 {
  margin-top: 0.75rem
}

.mb-1 {
  margin-bottom: 0.25rem
}

.mt-2 {
  margin-top: 0.5rem
}

.mt-8 {
  margin-top: 2rem
}

.flex {
  display: flex
}

.rotate-90 {
  --tw-rotate: 90deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.-rotate-90 {
  --tw-rotate: -90deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.cursor-not-allowed {
  cursor: not-allowed
}

.cursor-pointer {
  cursor: pointer
}

.items-center {
  align-items: center
}

.justify-center {
  justify-content: center
}

.gap-2 {
  gap: 0.5rem
}

.space-y-5 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1.25rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1.25rem * var(--tw-space-y-reverse))
}

.space-y-6 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1.5rem * var(--tw-space-y-reverse))
}

.space-y-7 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1.75rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(1.75rem * var(--tw-space-y-reverse))
}

.space-y-8 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(2rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(2rem * var(--tw-space-y-reverse))
}

.space-y-12 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(3rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(3rem * var(--tw-space-y-reverse))
}

.rounded-full {
  border-radius: 9999px
}

.bg-gray-300\/80 {
  background-color: rgb(209 213 219 / 0.8)
}

.bg-gray-300\/60 {
  background-color: rgb(209 213 219 / 0.6)
}

.bg-gray-100\/60 {
  background-color: rgb(243 244 246 / 0.6)
}

.p-1 {
  padding: 0.25rem
}

.p-2 {
  padding: 0.5rem
}

.px-8 {
  padding-left: 2rem;
  padding-right: 2rem
}

.py-12 {
  padding-top: 3rem;
  padding-bottom: 3rem
}

.py-16 {
  padding-top: 4rem;
  padding-bottom: 4rem
}

.px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem
}

.pt-1 {
  padding-top: 0.25rem
}

.text-lg {
  font-size: 1.125rem;
  line-height: 1.75rem
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem
}

.font-semibold {
  font-weight: 600
}

.tracking-wide {
  letter-spacing: 0.025em
}

.tracking-wider {
  letter-spacing: 0.05em
}

.tracking-widest {
  letter-spacing: 0.1em
}

.text-teal-700 {
  --tw-text-opacity: 1;
  color: rgb(15 118 110 / var(--tw-text-opacity))
}

.text-black {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity))
}

.text-slate-600 {
  --tw-text-opacity: 1;
  color: rgb(71 85 105 / var(--tw-text-opacity))
}

.text-black\/20 {
  color: rgb(0 0 0 / 0.2)
}

.text-black\/30 {
  color: rgb(0 0 0 / 0.3)
}

.text-black\/90 {
  color: rgb(0 0 0 / 0.9)
}

.text-teal-600 {
  --tw-text-opacity: 1;
  color: rgb(13 148 136 / var(--tw-text-opacity))
}

.text-teal-500 {
  --tw-text-opacity: 1;
  color: rgb(20 184 166 / var(--tw-text-opacity))
}

.text-teal-600\/60 {
  color: rgb(13 148 136 / 0.6)
}

.text-teal-600\/90 {
  color: rgb(13 148 136 / 0.9)
}

.filter {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.hover\:bg-gray-400\/30:hover {
  background-color: rgb(156 163 175 / 0.3)
}

.\[\&_\.active\]\:bg-gray-500\/60 .active {
  background-color: rgb(107 114 128 / 0.6)
}

.\[\&_\.active\]\:bg-gray-500\/40 .active {
  background-color: rgb(107 114 128 / 0.4)
}

.\[\&_\.active\]\:bg-gray-400\/40 .active {
  background-color: rgb(156 163 175 / 0.4)
}

.\[\&_\.active\]\:bg-gray-300\/40 .active {
  background-color: rgb(209 213 219 / 0.4)
}

.\[\&_\.active\]\:bg-gray-400\/30 .active {
  background-color: rgb(156 163 175 / 0.3)
}

.\[\&_li\]\:cursor-pointer li {
  cursor: pointer
}

.\[\&_li\]\:hover\:bg-gray-500\/40:hover li {
  background-color: rgb(107 114 128 / 0.4)
}

.hover\:\[\&_li\]\:bg-gray-500\/40 li:hover {
  background-color: rgb(107 114 128 / 0.4)
}

.hover\:\[\&_li\]\:bg-gray-400\/40 li:hover {
  background-color: rgb(156 163 175 / 0.4)
}

.hover\:\[\&_li\]\:bg-gray-300\/40 li:hover {
  background-color: rgb(209 213 219 / 0.4)
}

.hover\:\[\&_li\]\:bg-gray-400\/30 li:hover {
  background-color: rgb(156 163 175 / 0.3)
}