.filters-wrapper :is(.mb-2) {
  margin-bottom: 0.5rem
}

.filters-wrapper :is(.block) {
  display: block
}

.filters-wrapper :is(.flex) {
  display: flex
}

.filters-wrapper :is(.size-5) {
  width: 1.25rem;
  height: 1.25rem
}

.filters-wrapper :is(.items-center) {
  align-items: center
}

.filters-wrapper :is(.justify-between) {
  justify-content: space-between
}

.filters-wrapper :is(.gap-3) {
  gap: 0.75rem
}

.filters-wrapper :is(.space-y-2 > :not([hidden]) ~ :not([hidden])) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.5rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.5rem * var(--tw-space-y-reverse))
}

.filters-wrapper :is(.rounded-xl) {
  border-radius: 0.75rem
}

.filters-wrapper :is(.border) {
  border-width: 1px
}

.filters-wrapper :is(.border-gray-300) {
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity))
}

.filters-wrapper :is(.px-6) {
  padding-left: 1.5rem;
  padding-right: 1.5rem
}

.filters-wrapper :is(.py-4) {
  padding-top: 1rem;
  padding-bottom: 1rem
}

.filters-wrapper :is(.text-base) {
  font-size: 1rem;
  line-height: 1.5rem
}

.filters-wrapper :is(.text-sm) {
  font-size: 0.875rem;
  line-height: 1.25rem
}

.filters-wrapper :is(.font-bold) {
  font-weight: 700
}

.filters-wrapper :is(.font-medium) {
  font-weight: 500
}

.filters-wrapper :is(.capitalize) {
  text-transform: capitalize
}

.filters-wrapper :is(.accent-teal-800) {
  accent-color: #115e59
}

.filters-wrapper :is(.hover\:accent-teal-600:hover) {
  accent-color: #0d9488
}