.learn-more-wrapper :is(.m-auto) {
  margin: auto
}

.learn-more-wrapper :is(.mb-4) {
  margin-bottom: 1rem
}

.learn-more-wrapper :is(.block) {
  display: block
}

.learn-more-wrapper :is(.flex) {
  display: flex
}

.learn-more-wrapper :is(.w-full) {
  width: 100%
}

.learn-more-wrapper :is(.max-w-3xl) {
  max-width: 48rem
}

.learn-more-wrapper :is(.max-w-56) {
  max-width: 14rem
}

.learn-more-wrapper :is(.flex-col) {
  flex-direction: column
}

.learn-more-wrapper :is(.items-center) {
  align-items: center
}

.learn-more-wrapper :is(.gap-x-2) {
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem
}

.learn-more-wrapper :is(.border-y) {
  border-top-width: 1px;
  border-bottom-width: 1px
}

.learn-more-wrapper :is(.px-6) {
  padding-left: 1.5rem;
  padding-right: 1.5rem
}

.learn-more-wrapper :is(.py-8) {
  padding-top: 2rem;
  padding-bottom: 2rem
}

.learn-more-wrapper :is(.pt-0) {
  padding-top: 0px
}

.learn-more-wrapper :is(.pt-10) {
  padding-top: 2.5rem
}

.learn-more-wrapper :is(.pb-8) {
  padding-bottom: 2rem
}

.learn-more-wrapper :is(.text-base) {
  font-size: 1rem;
  line-height: 1.5rem
}

.learn-more-wrapper :is(.text-xl) {
  font-size: 1.25rem;
  line-height: 1.75rem
}

.learn-more-wrapper :is(.font-bold) {
  font-weight: 700
}

.learn-more-wrapper :is(.font-normal) {
  font-weight: 400
}

@media (min-width: 640px) {
  .learn-more-wrapper :is(.sm\:flex-row) {
    flex-direction: row
  }
}

@media (min-width: 768px) {
  .learn-more-wrapper :is(.md\:flex-row) {
    flex-direction: row
  }

  .learn-more-wrapper :is(.md\:justify-between) {
    justify-content: space-between
  }
}

@media (min-width: 1024px) {
  .learn-more-wrapper :is(.lg\:pt-0) {
    padding-top: 0px
  }
}