.product-protocols-wrapper :is(.my-2) {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem
}

.product-protocols-wrapper :is(.mb-4) {
  margin-bottom: 1rem
}

.product-protocols-wrapper :is(.ml-3) {
  margin-left: 0.75rem
}

.product-protocols-wrapper :is(.ml-2) {
  margin-left: 0.5rem
}

.product-protocols-wrapper :is(.mt-2) {
  margin-top: 0.5rem
}

.product-protocols-wrapper :is(.block) {
  display: block
}

.product-protocols-wrapper :is(.flex) {
  display: flex
}

.product-protocols-wrapper :is(.inline-flex) {
  display: inline-flex
}

.product-protocols-wrapper :is(.size-4) {
  width: 1rem;
  height: 1rem
}

.product-protocols-wrapper :is(.h-px) {
  height: 1px
}

.product-protocols-wrapper :is(.w-fit) {
  width: -moz-fit-content;
  width: fit-content
}

.product-protocols-wrapper :is(.list-inside) {
  list-style-position: inside
}

.product-protocols-wrapper :is(.list-disc) {
  list-style-type: disc
}

.product-protocols-wrapper :is(.flex-col) {
  flex-direction: column
}

.product-protocols-wrapper :is(.items-center) {
  align-items: center
}

.product-protocols-wrapper :is(.py-2) {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem
}

.product-protocols-wrapper :is(.pt-3) {
  padding-top: 0.75rem
}

.product-protocols-wrapper :is(.text-lg) {
  font-size: 1.125rem;
  line-height: 1.75rem
}

.product-protocols-wrapper :is(.font-normal) {
  font-weight: 400
}

.product-protocols-wrapper :is(.text-\[\#071112\]) {
  --tw-text-opacity: 1;
  color: rgb(7 17 18 / var(--tw-text-opacity))
}

.product-protocols-wrapper :is(.text-\[\#378189\]) {
  --tw-text-opacity: 1;
  color: rgb(55 129 137 / var(--tw-text-opacity))
}

.product-protocols-wrapper :is(.underline) {
  text-decoration-line: underline
}