.container {
  width: 100%
}

@media (min-width: 640px) {
  .container {
    max-width: 640px
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px
  }
}

.sidelinks-wrapper :is(.my-0) {
  margin-top: 0px;
  margin-bottom: 0px
}

.sidelinks-wrapper :is(.mb-4) {
  margin-bottom: 1rem
}

.sidelinks-wrapper :is(.block) {
  display: block
}

.sidelinks-wrapper :is(.flex) {
  display: flex
}

.sidelinks-wrapper :is(.w-full) {
  width: 100%
}

.sidelinks-wrapper :is(.flex-row) {
  flex-direction: row
}

.sidelinks-wrapper :is(.flex-col) {
  flex-direction: column
}

.sidelinks-wrapper :is(.justify-between) {
  justify-content: space-between
}

.sidelinks-wrapper :is(.gap-x-2) {
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem
}

.sidelinks-wrapper :is(.gap-y-2) {
  row-gap: 0.5rem
}

.sidelinks-wrapper :is(.border-b) {
  border-bottom-width: 1px
}

.sidelinks-wrapper :is(.border-b-\[\#D8D8D8\]) {
  --tw-border-opacity: 1;
  border-bottom-color: rgb(216 216 216 / var(--tw-border-opacity))
}

.sidelinks-wrapper :is(.px-3) {
  padding-left: 0.75rem;
  padding-right: 0.75rem
}

.sidelinks-wrapper :is(.py-2) {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem
}

.sidelinks-wrapper :is(.pb-1) {
  padding-bottom: 0.25rem
}

.sidelinks-wrapper :is(.pt-2) {
  padding-top: 0.5rem
}

.sidelinks-wrapper :is(.text-base) {
  font-size: 1rem;
  line-height: 1.5rem
}

.sidelinks-wrapper :is(.text-sm) {
  font-size: 0.875rem;
  line-height: 1.25rem
}

.sidelinks-wrapper :is(.font-bold) {
  font-weight: 700
}

.sidelinks-wrapper :is(.font-medium) {
  font-weight: 500
}

.sidelinks-wrapper :is(.font-normal) {
  font-weight: 400
}

.sidelinks-wrapper :is(.font-semibold) {
  font-weight: 600
}

.sidelinks-wrapper :is(.uppercase) {
  text-transform: uppercase
}

.sidelinks-wrapper :is(.leading-5) {
  line-height: 1.25rem
}

.sidelinks-wrapper :is(.leading-6) {
  line-height: 1.5rem
}

.sidelinks-wrapper :is(.text-\[\#378189\]) {
  --tw-text-opacity: 1;
  color: rgb(55 129 137 / var(--tw-text-opacity))
}

.sidelinks-wrapper :is(.text-\[\#65797C\]) {
  --tw-text-opacity: 1;
  color: rgb(101 121 124 / var(--tw-text-opacity))
}

.sidelinks-wrapper :is(.text-black) {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity))
}

.sidelinks-wrapper :is(.hover\:underline:hover) {
  text-decoration-line: underline
}

@media (min-width: 640px) {
  .sidelinks-wrapper :is(.sm\:flex-col) {
    flex-direction: column
  }

  .sidelinks-wrapper :is(.sm\:gap-y-2) {
    row-gap: 0.5rem
  }
}

@media (min-width: 1024px) {
  .sidelinks-wrapper :is(.lg\:flex-row) {
    flex-direction: row
  }

  .sidelinks-wrapper :is(.lg\:gap-x-2) {
    -moz-column-gap: 0.5rem;
         column-gap: 0.5rem
  }
}