.elouqa-form-wrapper :is(.absolute) {
  position: absolute
}

.elouqa-form-wrapper :is(.relative) {
  position: relative
}

.elouqa-form-wrapper :is(.inset-0) {
  inset: 0px
}

.elouqa-form-wrapper :is(.z-10) {
  z-index: 10
}

.elouqa-form-wrapper :is(.block) {
  display: block
}

.elouqa-form-wrapper :is(.flex) {
  display: flex
}

.elouqa-form-wrapper :is(.hidden) {
  display: none
}

.elouqa-form-wrapper :is(.size-10) {
  width: 2.5rem;
  height: 2.5rem
}

.elouqa-form-wrapper :is(.w-full) {
  width: 100%
}

.elouqa-form-wrapper :is(.items-center) {
  align-items: center
}

.elouqa-form-wrapper :is(.justify-center) {
  justify-content: center
}

.elouqa-form-wrapper :is(.rounded) {
  border-radius: 0.25rem
}

.elouqa-form-wrapper :is(.border) {
  border-width: 1px
}

.elouqa-form-wrapper :is(.border-gray-300) {
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity))
}

.elouqa-form-wrapper :is(.bg-gray-50) {
  --tw-bg-opacity: 1;
  background-color: rgb(249 250 251 / var(--tw-bg-opacity))
}

.elouqa-form-wrapper :is(.p-2) {
  padding: 0.5rem
}

.elouqa-form-wrapper :is(.text-sm) {
  font-size: 0.875rem;
  line-height: 1.25rem
}

.elouqa-form-wrapper :is(.text-gray-900) {
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity))
}

.elouqa-form-wrapper :is(.opacity-25) {
  opacity: 0.25
}

.elouqa-form-wrapper :is(.focus\:border-blue-500:focus) {
  --tw-border-opacity: 1;
  border-color: rgb(59 130 246 / var(--tw-border-opacity))
}

.elouqa-form-wrapper :is(.focus\:ring-blue-500:focus) {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(59 130 246 / var(--tw-ring-opacity))
}