<form
  method="post"
  id="form1941"
  class="elq-form"
  onsubmit="return handleFormSubmit(this)"
  action="https://s1885709864.t.eloqua.com/e/f2"
  name="copyOfFluorochromeChartGuideContent-1722524382291"
>
  <input value="copyOfFluorochromeChartGuideContent-1722524382291" type="hidden" name="elqFormName">
  <input value="1885709864" type="hidden" name="elqSiteId">
  <input name="elqCampaignId" type="hidden">
  <div class="layout container-fluid">
    <div class="row">
      <div class="grid-layout-col">
        <div class="layout-col col-sm-12 col-xs-12">
          <div id="formElement0" class="elq-field-style form-element-layout row">
            <div style="text-align:left;" class="col-sm-12 col-xs-12">
              <label class="elq-label " for="fe31062">Professional Email Address
                <span class="elq-required">*
                </span>
              </label>
            </div>
            <div class="col-sm-12 col-xs-12">
              <div class="row">
                <div class="col-xs-12">
                  <div class="field-control-wrapper">
                    <input type="text" class="elq-item-input" name="emailAddress" id="fe31062"
                      value="~~eloqua..type--emailfield..syntax--EmailAddress~~" style="width:100%;">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="pp-field grid-layout-col first first-shown" id="epp0">
        <div class="layout-col col-sm-12 col-xs-12">
          <div id="formElement1" class="elq-field-style form-element-layout row">
            <div style="text-align:left;" class="col-sm-12 col-xs-12">
              <label class="elq-label " for="fe31047">First Name
                <span class="elq-required">*
                </span>
              </label>
            </div>
            <div class="col-sm-12 col-xs-12">
              <div class="row">
                <div class="col-xs-12">
                  <div class="field-control-wrapper">
                    <input type="text" class="elq-item-input" name="firstName" id="fe31047"
                      value="~~eloqua..type--emailfield..syntax--FirstName~~" style="width:100%;"
                      data-previous="~~eloqua..type--FormFieldValue..fieldId--31047~~">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="pp-field grid-layout-col first-shown" id="epp1">
        <div class="layout-col col-sm-12 col-xs-12">
          <div id="formElement2" class="elq-field-style form-element-layout row">
            <div style="text-align:left;" class="col-sm-12 col-xs-12">
              <label class="elq-label " for="fe31048">Last Name
                <span class="elq-required">*
                </span>
              </label>
            </div>
            <div class="col-sm-12 col-xs-12">
              <div class="row">
                <div class="col-xs-12">
                  <div class="field-control-wrapper">
                    <input type="text" class="elq-item-input" name="lastName" id="fe31048"
                      value="~~eloqua..type--emailfield..syntax--LastName~~" style="width:100%;"
                      data-previous="~~eloqua..type--FormFieldValue..fieldId--31048~~">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="pp-field grid-layout-col first-shown" id="epp2">
        <div class="layout-col col-sm-12 col-xs-12">
          <div id="formElement3" class="elq-field-style form-element-layout row">
            <div style="text-align:left;" class="col-sm-12 col-xs-12">
              <label class="elq-label " for="fe31049">Country/Region
                <span class="elq-required">*
                </span>
              </label>
            </div>
            <div class="col-sm-12 col-xs-12">
              <div class="row">
                <div class="col-xs-12">
                  <div class="field-control-wrapper">
                    <select class="elq-item-select" id="fe31049" name="eloquaCountry1" style="width:100%;"
                      data-value="~~eloqua..type--emailfield..syntax--Marketing_Country1~~"
                      data-previous="~~eloqua..type--FormFieldValue..fieldId--31049~~">
                      <option value="">-- Please Select --
                      </option>
                      <option value="AF">Afghanistan
                      </option>
                      <option value="AX">Aland Islands
                      </option>
                      <option value="AL">Albania
                      </option>
                      <option value="DZ">Algeria
                      </option>
                      <option value="AS">American Samoa
                      </option>
                      <option value="AD">Andorra
                      </option>
                      <option value="AO">Angola
                      </option>
                      <option value="AI">Anguilla
                      </option>
                      <option value="AQ">Antarctica
                      </option>
                      <option value="AG">Antigua and Barbuda
                      </option>
                      <option value="AR">Argentina
                      </option>
                      <option value="AM">Armenia
                      </option>
                      <option value="AW">Aruba
                      </option>
                      <option value="AU">Australia
                      </option>
                      <option value="AT">Austria
                      </option>
                      <option value="AZ">Azerbaijan
                      </option>
                      <option value="BS">Bahamas
                      </option>
                      <option value="BH">Bahrain
                      </option>
                      <option value="BD">Bangladesh
                      </option>
                      <option value="BB">Barbados
                      </option>
                      <option value="BY">Belarus
                      </option>
                      <option value="BE">Belgium
                      </option>
                      <option value="BZ">Belize
                      </option>
                      <option value="BJ">Benin
                      </option>
                      <option value="BM">Bermuda
                      </option>
                      <option value="BT">Bhutan
                      </option>
                      <option value="BO">Bolivia
                      </option>
                      <option value="BA">Bosnia and Herzegovina
                      </option>
                      <option value="BW">Botswana
                      </option>
                      <option value="BV">Bouvet Island
                      </option>
                      <option value="BR">Brazil
                      </option>
                      <option value="IO">British Indian Ocean Territory
                      </option>
                      <option value="BN">Brunei Darussalam
                      </option>
                      <option value="BG">Bulgaria
                      </option>
                      <option value="BF">Burkina Faso
                      </option>
                      <option value="BI">Burundi
                      </option>
                      <option value="KH">Cambodia
                      </option>
                      <option value="CM">Cameroon
                      </option>
                      <option value="CA">Canada
                      </option>
                      <option value="CV">Cape Verde
                      </option>
                      <option value="KY">Cayman Islands
                      </option>
                      <option value="CF">Central African Republic
                      </option>
                      <option value="TD">Chad
                      </option>
                      <option value="CL">Chile
                      </option>
                      <option value="CN">China, Mainland
                      </option>
                      <option value="CX">Christmas Island
                      </option>
                      <option value="CC">Cocos (Keeling) Islands
                      </option>
                      <option value="CO">Colombia
                      </option>
                      <option value="KM">Comoros
                      </option>
                      <option value="CG">Congo
                      </option>
                      <option value="CD">Congo, The Democratic Republic of the
                      </option>
                      <option value="CK">Cook Islands
                      </option>
                      <option value="CR">Costa Rica
                      </option>
                      <option value="CI">Cote d'Ivoire
                      </option>
                      <option value="HR">Croatia
                      </option>
                      <option value="CU">Cuba
                      </option>
                      <option value="CY">Cyprus
                      </option>
                      <option value="CZ">Czech Republic
                      </option>
                      <option value="DK">Denmark
                      </option>
                      <option value="DJ">Djibouti
                      </option>
                      <option value="DM">Dominica
                      </option>
                      <option value="DO">Dominican Republic
                      </option>
                      <option value="EC">Ecuador
                      </option>
                      <option value="EG">Egypt
                      </option>
                      <option value="SV">El Salvador
                      </option>
                      <option value="GQ">Equatorial Guinea
                      </option>
                      <option value="ER">Eritrea
                      </option>
                      <option value="EE">Estonia
                      </option>
                      <option value="ET">Ethiopia
                      </option>
                      <option value="FK">Falkland Islands (Malvinas)
                      </option>
                      <option value="FO">Faroe Islands
                      </option>
                      <option value="FJ">Fiji
                      </option>
                      <option value="FI">Finland
                      </option>
                      <option value="FR">France
                      </option>
                      <option value="GF">French Guiana
                      </option>
                      <option value="PF">French Polynesia
                      </option>
                      <option value="TF">French Southern Territories
                      </option>
                      <option value="GA">Gabon
                      </option>
                      <option value="GM">Gambia
                      </option>
                      <option value="GE">Georgia
                      </option>
                      <option value="DE">Germany
                      </option>
                      <option value="GH">Ghana
                      </option>
                      <option value="GI">Gibraltar
                      </option>
                      <option value="GR">Greece
                      </option>
                      <option value="GL">Greenland
                      </option>
                      <option value="GD">Grenada
                      </option>
                      <option value="GP">Guadeloupe
                      </option>
                      <option value="GU">Guam
                      </option>
                      <option value="GT">Guatemala
                      </option>
                      <option value="GG">Guernsey
                      </option>
                      <option value="GN">Guinea
                      </option>
                      <option value="GW">Guinea-Bissau
                      </option>
                      <option value="GY">Guyana
                      </option>
                      <option value="HT">Haiti
                      </option>
                      <option value="HM">Heard Island and McDonald Islands
                      </option>
                      <option value="VA">Holy See (Vatican City State)
                      </option>
                      <option value="HN">Honduras
                      </option>
                      <option value="HK">Hong Kong, China
                      </option>
                      <option value="HU">Hungary
                      </option>
                      <option value="IS">Iceland
                      </option>
                      <option value="IN">India
                      </option>
                      <option value="ID">Indonesia
                      </option>
                      <option value="IR">Iran, Islamic Republic of
                      </option>
                      <option value="IQ">Iraq
                      </option>
                      <option value="IE">Ireland
                      </option>
                      <option value="IM">Isle of Man
                      </option>
                      <option value="IL">Israel
                      </option>
                      <option value="IT">Italy
                      </option>
                      <option value="JM">Jamaica
                      </option>
                      <option value="JP">Japan
                      </option>
                      <option value="JE">Jersey
                      </option>
                      <option value="JO">Jordan
                      </option>
                      <option value="KZ">Kazakhstan
                      </option>
                      <option value="KE">Kenya
                      </option>
                      <option value="KI">Kiribati
                      </option>
                      <option value="KP">Korea, Democratic People's Republic of
                      </option>
                      <option value="KR">Korea, Republic of
                      </option>
                      <option value="XK">Kosovo
                      </option>
                      <option value="KW">Kuwait
                      </option>
                      <option value="KG">Kyrgyzstan
                      </option>
                      <option value="LA">Lao People's Democratic Republic
                      </option>
                      <option value="LV">Latvia
                      </option>
                      <option value="LB">Lebanon
                      </option>
                      <option value="LS">Lesotho
                      </option>
                      <option value="LR">Liberia
                      </option>
                      <option value="LY">Libyan Arab Jamahiriya
                      </option>
                      <option value="LI">Liechtenstein
                      </option>
                      <option value="LT">Lithuania
                      </option>
                      <option value="LU">Luxembourg
                      </option>
                      <option value="MO">Macao, China
                      </option>
                      <option value="MK">Macedonia, The Former Yugoslav Republic of
                      </option>
                      <option value="MG">Madagascar
                      </option>
                      <option value="MW">Malawi
                      </option>
                      <option value="MY">Malaysia
                      </option>
                      <option value="MV">Maldives
                      </option>
                      <option value="ML">Mali
                      </option>
                      <option value="MT">Malta
                      </option>
                      <option value="MH">Marshall Islands
                      </option>
                      <option value="MQ">Martinique
                      </option>
                      <option value="MR">Mauritania
                      </option>
                      <option value="MU">Mauritius
                      </option>
                      <option value="YT">Mayotte
                      </option>
                      <option value="MX">Mexico
                      </option>
                      <option value="FM">Micronesia, Federated States of
                      </option>
                      <option value="MD">Moldova
                      </option>
                      <option value="MC">Monaco
                      </option>
                      <option value="MN">Mongolia
                      </option>
                      <option value="ME">Montenegro
                      </option>
                      <option value="MS">Montserrat
                      </option>
                      <option value="MA">Morocco
                      </option>
                      <option value="MZ">Mozambique
                      </option>
                      <option value="MM">Myanmar
                      </option>
                      <option value="NA">Namibia
                      </option>
                      <option value="NR">Nauru
                      </option>
                      <option value="NP">Nepal
                      </option>
                      <option value="NL">Netherlands
                      </option>
                      <option value="AN">Netherlands Antilles
                      </option>
                      <option value="NC">New Caledonia
                      </option>
                      <option value="NZ">New Zealand
                      </option>
                      <option value="NI">Nicaragua
                      </option>
                      <option value="NE">Niger
                      </option>
                      <option value="NG">Nigeria
                      </option>
                      <option value="NU">Niue
                      </option>
                      <option value="NF">Norfolk Island
                      </option>
                      <option value="MP">Northern Mariana Islands
                      </option>
                      <option value="NO">Norway
                      </option>
                      <option value="OM">Oman
                      </option>
                      <option value="PK">Pakistan
                      </option>
                      <option value="PW">Palau
                      </option>
                      <option value="PS">Palestinian Territory,Occupied
                      </option>
                      <option value="PA">Panama
                      </option>
                      <option value="PG">Papua New Guinea
                      </option>
                      <option value="PY">Paraguay
                      </option>
                      <option value="PE">Peru
                      </option>
                      <option value="PH">Philippines
                      </option>
                      <option value="PN">Pitcairn
                      </option>
                      <option value="PL">Poland
                      </option>
                      <option value="PT">Portugal
                      </option>
                      <option value="PR">Puerto Rico
                      </option>
                      <option value="QA">Qatar
                      </option>
                      <option value="RE">Reunion
                      </option>
                      <option value="RO">Romania
                      </option>
                      <option value="RU">Russian Federation
                      </option>
                      <option value="RW">Rwanda
                      </option>
                      <option value="BL">Saint Barthelemy
                      </option>
                      <option value="SH">Saint Helena
                      </option>
                      <option value="KN">Saint Kitts and Nevis
                      </option>
                      <option value="LC">Saint Lucia
                      </option>
                      <option value="MF">Saint Martin (French part)
                      </option>
                      <option value="PM">Saint Pierre and Miquelon
                      </option>
                      <option value="VC">Saint Vincent and the Grenadines
                      </option>
                      <option value="WS">Samoa
                      </option>
                      <option value="SM">San Marino
                      </option>
                      <option value="ST">Sao Tome and Principe
                      </option>
                      <option value="SA">Saudi Arabia
                      </option>
                      <option value="SN">Senegal
                      </option>
                      <option value="RS">Serbia
                      </option>
                      <option value="SC">Seychelles
                      </option>
                      <option value="SL">Sierra Leone
                      </option>
                      <option value="SG">Singapore
                      </option>
                      <option value="SK">Slovakia
                      </option>
                      <option value="SI">Slovenia
                      </option>
                      <option value="SB">Solomon Islands
                      </option>
                      <option value="SO">Somalia
                      </option>
                      <option value="ZA">South Africa
                      </option>
                      <option value="GS">South Georgia and the South Sandwich Islands
                      </option>
                      <option value="ES">Spain
                      </option>
                      <option value="LK">Sri Lanka
                      </option>
                      <option value="SD">Sudan
                      </option>
                      <option value="SR">Suriname
                      </option>
                      <option value="SJ">Svalbard and Jan Mayen
                      </option>
                      <option value="SZ">Swaziland
                      </option>
                      <option value="SE">Sweden
                      </option>
                      <option value="CH">Switzerland
                      </option>
                      <option value="SY">Syrian Arab Republic
                      </option>
                      <option value="TW">Taiwan
                      </option>
                      <option value="TJ">Tajikistan
                      </option>
                      <option value="TZ">Tanzania, United Republic of
                      </option>
                      <option value="TH">Thailand
                      </option>
                      <option value="TL">Timor-Leste
                      </option>
                      <option value="TG">Togo
                      </option>
                      <option value="TK">Tokelau
                      </option>
                      <option value="TO">Tonga
                      </option>
                      <option value="TT">Trinidad and Tobago
                      </option>
                      <option value="TN">Tunisia
                      </option>
                      <option value="TR">Turkey
                      </option>
                      <option value="TM">Turkmenistan
                      </option>
                      <option value="TC">Turks and Caicos Islands
                      </option>
                      <option value="TV">Tuvalu
                      </option>
                      <option value="UG">Uganda
                      </option>
                      <option value="UA">Ukraine
                      </option>
                      <option value="AE">United Arab Emirates
                      </option>
                      <option value="GB">United Kingdom
                      </option>
                      <option value="US">United States
                      </option>
                      <option value="UM">United States Minor Outlying Islands
                      </option>
                      <option value="UY">Uruguay
                      </option>
                      <option value="UZ">Uzbekistan
                      </option>
                      <option value="VU">Vanuatu
                      </option>
                      <option value="VE">Venezuela
                      </option>
                      <option value="VN">Viet Nam
                      </option>
                      <option value="VG">Virgin Islands, British
                      </option>
                      <option value="VI">Virgin Islands, U.S.
                      </option>
                      <option value="WF">Wallis and Futuna
                      </option>
                      <option value="EH">Western Sahara
                      </option>
                      <option value="YE">Yemen
                      </option>
                      <option value="ZM">Zambia
                      </option>
                      <option value="ZW">Zimbabwe
                      </option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="pp-field grid-layout-col first-shown" id="epp3">
        <div class="layout-col col-sm-12 col-xs-12">
          <div id="formElement4" class="elq-field-style form-element-layout row">
            <div style="text-align:left;" class="col-sm-12 col-xs-12">
              <label class="elq-label " for="fe31050">State
              </label>
            </div>
            <div class="col-sm-12 col-xs-12">
              <div class="row">
                <div class="col-xs-12">
                  <div class="field-control-wrapper">
                    <select class="elq-item-select" id="fe31050" name="marketingState1" style="width:100%;"
                      data-value="~~eloqua..type--emailfield..syntax--Marketing_State1~~"
                      data-previous="~~eloqua..type--FormFieldValue..fieldId--31050~~">
                      <option value="">-- Please Select --
                      </option>
                      <option value="US-AL"> Alabama
                      </option>
                      <option value="US-AK"> Alaska
                      </option>
                      <option value="US-AZ"> Arizona
                      </option>
                      <option value="US-AR"> Arkansas
                      </option>
                      <option value="US-CA"> California
                      </option>
                      <option value="US-CO"> Colorado
                      </option>
                      <option value="US-CT"> Connecticut
                      </option>
                      <option value="US-DE"> Delaware
                      </option>
                      <option value="US-FL"> Florida
                      </option>
                      <option value="US-GA"> Georgia
                      </option>
                      <option value="US-HI"> Hawaii
                      </option>
                      <option value="US-ID"> Idaho
                      </option>
                      <option value="US-IL"> Illinois
                      </option>
                      <option value="US-IN"> Indiana
                      </option>
                      <option value="US-IA"> Iowa
                      </option>
                      <option value="US-KS"> Kansas
                      </option>
                      <option value="US-KY"> Kentucky
                      </option>
                      <option value="US-LA"> Louisiana
                      </option>
                      <option value="US-ME"> Maine
                      </option>
                      <option value="US-MD"> Maryland
                      </option>
                      <option value="US-MA"> Massachusetts
                      </option>
                      <option value="US-MI"> Michigan
                      </option>
                      <option value="US-MN"> Minnesota
                      </option>
                      <option value="US-MS"> Mississippi
                      </option>
                      <option value="US-MO"> Missouri
                      </option>
                      <option value="US-MT"> Montana
                      </option>
                      <option value="US-NE"> Nebraska
                      </option>
                      <option value="US-NV"> Nevada
                      </option>
                      <option value="US-NH"> New Hampshire
                      </option>
                      <option value="US-NJ"> New Jersey
                      </option>
                      <option value="US-NM"> New Mexico
                      </option>
                      <option value="US-NY"> New York
                      </option>
                      <option value="US-NC"> North Carolina
                      </option>
                      <option value="US-ND"> North Dakota
                      </option>
                      <option value="US-OH"> Ohio
                      </option>
                      <option value="US-OK"> Oklahoma
                      </option>
                      <option value="US-OR"> Oregon
                      </option>
                      <option value="US-PA"> Pennsylvania
                      </option>
                      <option value="US-RI"> Rhode Island
                      </option>
                      <option value="US-SC"> South Carolina
                      </option>
                      <option value="US-SD"> South Dakota
                      </option>
                      <option value="US-TN"> Tennessee
                      </option>
                      <option value="US-TX"> Texas
                      </option>
                      <option value="US-UT"> Utah
                      </option>
                      <option value="US-VT"> Vermont
                      </option>
                      <option value="US-VA"> Virginia
                      </option>
                      <option value="US-WA"> Washington
                      </option>
                      <option value="US-WV"> West Virginia
                      </option>
                      <option value="US-WI"> Wisconsin
                      </option>
                      <option value="US-WY"> Wyoming
                      </option>
                      <option value="US-DC"> District of Columbia
                      </option>
                      <option value="US-AS"> American Samoa
                      </option>
                      <option value="US-GU"> Guam
                      </option>
                      <option value="US-MP"> Northern Mariana Islands
                      </option>
                      <option value="US-PR"> Puerto Rico
                      </option>
                      <option value="US-UM"> United States Minor Outlying Islands
                      </option>
                      <option value="US-VI"> Virgin Islands, U.S.
                      </option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="pp-field grid-layout-col first-shown" id="epp4">
        <div class="layout-col col-sm-12 col-xs-12">
          <div id="formElement5" class="elq-field-style form-element-layout row">
            <div style="text-align:left;" class="col-sm-12 col-xs-12">
              <label class="elq-label " for="fe31051">Job Position
                <span class="elq-required">*
                </span>
              </label>
            </div>
            <div class="col-sm-12 col-xs-12">
              <div class="row">
                <div class="col-xs-12">
                  <div class="field-control-wrapper">
                    <select class="elq-item-select" id="fe31051" name="position1" style="width:100%;"
                      data-value="~~eloqua..type--emailfield..syntax--Job_Position1~~"
                      data-previous="~~eloqua..type--FormFieldValue..fieldId--31051~~">
                      <option value="">-- Please Select --
                      </option>
                      <option value="CEO">CEO
                      </option>
                      <option value="CORE_FACILITY_MANAGER">Core Facility Manager
                      </option>
                      <option value="CSO">CSO
                      </option>
                      <option value="HEAD_OF_DEPARTMENT">Head of Department
                      </option>
                      <option value="HEAD_OF_LAB">Head of Lab
                      </option>
                      <option value="LAB_MANAGER">Lab Manager
                      </option>
                      <option value="LAB_TECHNICIAN">Lab Technician
                      </option>
                      <option value="OTHER_TECHNOLOGIST">Other Technologist
                      </option>
                      <option value="POSTDOC">Postdoc
                      </option>
                      <option value="POSTGRADUATE">Postgraduate
                      </option>
                      <option value="PURCHASING_AGENT">Purchasing Agent
                      </option>
                      <option value="RESEARCH_ASSISTANT">Research Assistant
                      </option>
                      <option value="RESEARCHER">Researcher
                      </option>
                      <option value="SCIENTIST">Scientist
                      </option>
                      <option value="SENIOR_SCIENTIST">Senior Scientist
                      </option>
                      <option value="UNDERGRADUATE">Undergraduate
                      </option>
                      <option value="VP_OF_DEPARTMENT">VP of Department
                      </option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="pp-field grid-layout-col first-shown" id="epp5">
        <div class="layout-col col-sm-12 col-xs-12">
          <div id="formElement6" class="elq-field-style form-element-layout row">
            <div style="text-align:left;" class="col-sm-12 col-xs-12">
              <label class="elq-label " for="fe31052">Job title
                <span class="elq-required">*
                </span>
              </label>
            </div>
            <div class="col-sm-12 col-xs-12">
              <div class="row">
                <div class="col-xs-12">
                  <div class="field-control-wrapper">
                    <input type="text" class="elq-item-input" name="title" id="fe31052"
                      value="~~eloqua..type--emailfield..syntax--Title1~~" style="width:100%;"
                      data-previous="~~eloqua..type--FormFieldValue..fieldId--31052~~">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="pp-field grid-layout-col" id="epp6">
        <div class="layout-col col-sm-12 col-xs-12">
          <div id="formElement7" class="elq-field-style form-element-layout row">
            <div style="text-align:left;" class="col-sm-12 col-xs-12">
              <label class="elq-label " for="fe31053">Research Interest
                <span class="elq-required">*
                </span>
              </label>
            </div>
            <div class="col-sm-12 col-xs-12">
              <div class="row">
                <div class="col-xs-12">
                  <div class="field-control-wrapper">
                    <select class="elq-item-select" id="fe31053" name="researchInterest1" style="width:100%;"
                      data-value="~~eloqua..type--emailfield..syntax--Research_Interest1~~"
                      data-previous="~~eloqua..type--FormFieldValue..fieldId--31053~~">
                      <option value="">-- Please Select --
                      </option>
                      <option value="Assay Development">Assay Development
                      </option>
                      <option value="Basic Research / Disease Studies">Basic Research / Disease Studies
                      </option>
                      <option value="Biomarker Discovery & Validation">Biomarker Discovery & Validation
                      </option>
                      <option value="Cell and Gene Therapy">Cell and Gene Therapy
                      </option>
                      <option value="Cell Culture">Cell Culture
                      </option>
                      <option value="Clinical Trials">Clinical Trials
                      </option>
                      <option value="Compound Screening & Lead Discovery">Compound Screening & Lead Discovery
                      </option>
                      <option value="Drug Discovery">Drug Discovery
                      </option>
                      <option value="DX Development, Verification & Validation">DX Development, Verification &
                        Validation
                      </option>
                      <option value="Lead Optimization">Lead Optimization
                      </option>
                      <option value="Pharmacology">Pharmacology
                      </option>
                      <option value="Pre-clinical Development">Pre-clinical Development
                      </option>
                      <option value="Regenerative Medicine">Regenerative Medicine
                      </option>
                      <option value="Screening Preparation">Screening Preparation
                      </option>
                      <option value="Target Identification & Validation">Target Identification & Validation
                      </option>
                      <option value="Translational Research">Translational Research
                      </option>
                      <option value="Other">Other
                      </option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="pp-field grid-layout-col" id="epp7">
        <div class="layout-col col-sm-12 col-xs-12">
          <div id="formElement8" class="elq-field-style form-element-layout row">
            <div style="text-align:left;" class="col-sm-12 col-xs-12">
              <label class="elq-label " for="fe31054">Primary Research Area
                <span class="elq-required">*
                </span>
              </label>
            </div>
            <div class="col-sm-12 col-xs-12">
              <div class="row">
                <div class="col-xs-12">
                  <div class="field-control-wrapper">
                    <select class="elq-item-select" id="fe31054" name="primaryResearchArea1" style="width:100%;"
                      data-value="~~eloqua..type--emailfield..syntax--Primary_Research_Area1~~"
                      data-previous="~~eloqua..type--FormFieldValue..fieldId--31054~~">
                      <option value="">-- Please Select --
                      </option>
                      <option value="Cancer">Cancer
                      </option>
                      <option value="Cardiovascular">Cardiovascular
                      </option>
                      <option value="Cell Biology">Cell Biology
                      </option>
                      <option value="Developmental Biology">Developmental Biology
                      </option>
                      <option value="Epigenetics">Epigenetics
                      </option>
                      <option value="Immunology">Immunology
                      </option>
                      <option value="Immuno-oncology">Immuno-oncology
                      </option>
                      <option value="Metabolism">Metabolism
                      </option>
                      <option value="Microbiology">Microbiology
                      </option>
                      <option value="Neuroscience">Neuroscience
                      </option>
                      <option value="Signal Transduction">Signal Transduction
                      </option>
                      <option value="Stem Cells">Stem Cells
                      </option>
                      <option value="Structural Biology">Structural Biology
                      </option>
                      <option value="Other">Other
                      </option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="pp-field grid-layout-col" id="epp8">
        <div class="layout-col col-sm-12 col-xs-12">
          <div id="formElement9" class="elq-field-style form-element-layout row">
            <div style="text-align:left;" class="col-sm-12 col-xs-12">
              <label class="elq-label " for="fe31055">What best describes your place of work?
                <span class="elq-required">*
                </span>
              </label>
            </div>
            <div class="col-sm-12 col-xs-12">
              <div class="row">
                <div class="col-xs-12">
                  <div class="field-control-wrapper">
                    <select class="elq-item-select" id="fe31055" name="industryTier21" style="width:100%;"
                      data-value="~~eloqua..type--emailfield..syntax--Industry___Tier_21~~"
                      data-previous="~~eloqua..type--FormFieldValue..fieldId--31055~~">
                      <option value="">-- Please Select --
                      </option>
                      <option value="CDMO">CDMO
                      </option>
                      <option value="Clinical research institute">Clinical research institute
                      </option>
                      <option value="Core services">Core services
                      </option>
                      <option value="CRO">CRO
                      </option>
                      <option value="Diagnostic">Diagnostic
                      </option>
                      <option value="Distributors">Distributors
                      </option>
                      <option value="Early stage biotech">Early stage biotech
                      </option>
                      <option value="Established biopharma">Established biopharma
                      </option>
                      <option value="Funding body">Funding body
                      </option>
                      <option value="Pharmaceutical company">Pharmaceutical company
                      </option>
                      <option value="Research institute">Research institute
                      </option>
                      <option value="Research tool developers">Research tool developers
                      </option>
                      <option value="Universities">Universities
                      </option>
                      <option value="Other">Other
                      </option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="pp-field grid-layout-col" id="epp9">
        <div class="layout-col col-sm-12 col-xs-12">
          <div id="formElement10" class="elq-field-style form-element-layout row">
            <div style="text-align:left;" class="col-sm-12 col-xs-12">
              <label class="elq-label " for="fe31056">How many employees are at your place of work?
                <span class="elq-required">*
                </span>
              </label>
            </div>
            <div class="col-sm-12 col-xs-12">
              <div class="row">
                <div class="col-xs-12">
                  <div class="field-control-wrapper">
                    <select class="elq-item-select" id="fe31056" name="crunchbaseNumberofEmployees1" style="width:100%;"
                      data-value="~~eloqua..type--emailfield..syntax--Crunchbase___Number_of_Employees1~~"
                      data-previous="~~eloqua..type--FormFieldValue..fieldId--31056~~">
                      <option value="1-10">1-10
                      </option>
                      <option value="11-50">11-50
                      </option>
                      <option value="51-100">51-100
                      </option>
                      <option value="101-250">101-250
                      </option>
                      <option value="251-500">251-500
                      </option>
                      <option value="501-1000">501-1000
                      </option>
                      <option value="1001-5000">1001-5000
                      </option>
                      <option value="5001-10000">5001-10000
                      </option>
                      <option value="10001+">10001+
                      </option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="pp-field grid-layout-col" id="epp10">
        <div class="layout-col col-sm-12 col-xs-12">
          <div id="formElement11" class="elq-field-style form-element-layout row">
            <div style="text-align:left;" class="col-sm-12 col-xs-12">
              <label class="elq-label " for="fe31057">Business Phone
              </label>
            </div>
            <div class="col-sm-12 col-xs-12">
              <div class="row">
                <div class="col-xs-12">
                  <div class="field-control-wrapper">
                    <input type="text" class="elq-item-input" name="busPhone" id="fe31057"
                      value="~~eloqua..type--emailfield..syntax--Business_Phone1~~" style="width:100%;"
                      data-previous="~~eloqua..type--FormFieldValue..fieldId--31057~~">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="pp-field grid-layout-col" id="epp11">
        <div class="layout-col col-sm-12 col-xs-12">
          <div id="formElement12" class="elq-field-style form-element-layout row">
            <div style="text-align:left;" class="col-sm-12 col-xs-12">
              <label class="elq-label " for="fe31058">What products/services are you most interested in?
                <span class="elq-required">*
                </span>
              </label>
            </div>
            <div class="col-sm-12 col-xs-12">
              <div class="row">
                <div class="col-xs-12">
                  <div class="field-control-wrapper">
                    <select class="elq-item-select" id="fe31058" name="abcamProductCategory1" style="width:100%;"
                      data-value="~~eloqua..type--emailfield..syntax--Abcam___Product_Category1~~"
                      data-previous="~~eloqua..type--FormFieldValue..fieldId--31058~~">
                      <option value="">-- Please Select --
                      </option>
                      <option value="Primaries">Primaries
                      </option>
                      <option value="RabMAb Primaries">RabMAb Primaries
                      </option>
                      <option value="Recombinant Primaries">Recombinant Primaries
                      </option>
                      <option value="Secondary Antibodies">Secondary Antibodies
                      </option>
                      <option value="Biochemicals">Biochemicals
                      </option>
                      <option value="Kits and Assays">Kits and Assays
                      </option>
                      <option value="Proteins, Peptides and Lysates">Proteins, Peptides and Lysates
                      </option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="pp-field grid-layout-col" id="epp12">
        <div class="layout-col col-sm-12 col-xs-12">
          <div id="formElement13" class="elq-field-style form-element-layout row">
            <div style="text-align:left;" class="col-sm-12 col-xs-12">
              <label class="elq-label " for="fe31059">Industry
                <span class="elq-required">*
                </span>
              </label>
            </div>
            <div class="col-sm-12 col-xs-12">
              <div class="row">
                <div class="col-xs-12">
                  <div class="field-control-wrapper">
                    <select class="elq-item-select" id="fe31059" name="industry1" style="width:100%;"
                      data-value="~~eloqua..type--emailfield..syntax--Industry1~~"
                      data-previous="~~eloqua..type--FormFieldValue..fieldId--31059~~">
                      <option value="">-- Please Select --
                      </option>
                      <option value="ACADEMIC">Academic
                      </option>
                      <option value="BIOTECH">Biotech
                      </option>
                      <option value="CRO">CRO
                      </option>
                      <option value="DIAGNOSTIC">Diagnostic
                      </option>
                      <option value="GOVERNMENT">Government
                      </option>
                      <option value="PHARMA">Pharma
                      </option>
                      <option value="RESEARCH_INSTITUTE">Research Institute
                      </option>
                      <option value="RESEARCH_HOSPITAL">Research Hospital
                      </option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="pp-field grid-layout-col" id="epp13">
        <div class="layout-col col-sm-12 col-xs-12">
          <div id="formElement14" class="elq-field-style form-element-layout row">
            <div style="text-align:left;" class="col-sm-12 col-xs-12">
              <label class="elq-label " for="fe31060">If applicable, what is your role in purchasing products from
                Abcam?
              </label>
            </div>
            <div class="col-sm-12 col-xs-12">
              <div class="row">
                <div class="col-xs-12">
                  <div class="field-control-wrapper">
                    <select class="elq-item-select" id="fe31060" name="buyingRole1" style="width:100%;"
                      data-value="~~eloqua..type--emailfield..syntax--Buying_Role1~~"
                      data-previous="~~eloqua..type--FormFieldValue..fieldId--31060~~">
                      <option value="">-- Please Select --
                      </option>
                      <option value="BUYER">Buyer
                      </option>
                      <option value="DECISION_MAKER">Decision Maker
                      </option>
                      <option value="EVALUATOR">Evaluator
                      </option>
                      <option value="MENTOR">Mentor
                      </option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="pp-field grid-layout-col" id="epp14">
        <div class="layout-col col-sm-12 col-xs-12">
          <div id="formElement15" class="elq-field-style form-element-layout row">
            <div style="text-align:left;" class="col-sm-12 col-xs-12">
              <label class="elq-label " for="fe31061">If applicable, how do you purchase products from Abcam?
              </label>
            </div>
            <div class="col-sm-12 col-xs-12">
              <div class="row">
                <div class="col-xs-12">
                  <div class="field-control-wrapper">
                    <select class="elq-item-select" id="fe31061" name="purchaseMethod1" style="width:100%;"
                      data-value="~~eloqua..type--emailfield..syntax--Purchase_Method1~~"
                      data-previous="~~eloqua..type--FormFieldValue..fieldId--31061~~">
                      <option value="">-- Please Select --
                      </option>
                      <option value="Aggregators">Aggregators
                      </option>
                      <option value="Abcam website">Abcam website
                      </option>
                      <option value="Distributor">Distributor
                      </option>
                      <option value="Email">Email
                      </option>
                      <option value="eProcurement">eProcurement
                      </option>
                      <option value="Fax">Fax
                      </option>
                      <option value="Post">Post
                      </option>
                      <option value="Punchout">Punchout
                      </option>
                      <option value="Purchasing agent / Centralized procurement">Purchasing agent / Centralized
                        procurement
                      </option>
                      <option value="Resellers">Resellers
                      </option>
                      <option value="Sub-dealers">Sub-dealers
                      </option>
                      <option value="Telephone">Telephone
                      </option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="grid-layout-col">
        <div class="layout-col col-sm-12 col-xs-12">
          <div id="formElement16" class="elq-field-style form-element-layout row">
            <div class="col-sm-12 col-xs-12">
              <div class="row">
                <div class="col-xs-12">
                  <div>
                    <input type="Submit" class="submit-button-style " value="Submit" id="fe31071">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <input type="hidden" name="hiddenField" id="fe31063" value="GATED_CONTENT">
    <input type="hidden" name="hiddenField2" id="fe31064" value="Fluorochrome chart">
    <input type="hidden" name="hiddenField3" id="fe31065" value="Fluorochrome chart">
    <input type="hidden" name="hiddenField4" id="fe31066"
      value="~~eloqua..type--emailfield..syntax--Lead_Source_merge1~~">
    <input type="hidden" name="hiddenField5" id="fe31067"
      value="~~eloqua..type--emailfield..syntax--Traffic_Source___Copy1~~">
    <input type="hidden" name="hiddenField6" id="fe31068"
      value="~~eloqua..type--emailfield..syntax--Traffic_Medium___Copy___Copy1~~">
    <input type="hidden" name="hiddenField7" id="fe31069"
      value="~~eloqua..type--emailfield..syntax--Traffic_Medium___Copy1~~">
    <input type="hidden" name="hiddenField8" id="fe31070" value="~~eloqua..type--emailfield..syntax--GLID1~~">
  </div>
</form>