.mx-auto {
  margin-left: auto;
  margin-right: auto
}

.mb-2 {
  margin-bottom: 0.5rem
}

.box-content {
  box-sizing: content-box
}

.flex {
  display: flex
}

.grid {
  display: grid
}

.w-\[87\%\] {
  width: 87%
}

.max-w-7xl {
  max-width: 80rem
}

.grid-cols-12 {
  grid-template-columns: repeat(12, minmax(0, 1fr))
}

.flex-col {
  flex-direction: column
}

.justify-center {
  justify-content: center
}

.rounded-lg {
  border-radius: 0.5rem
}

.bg-slate-100 {
  --tw-bg-opacity: 1;
  background-color: rgb(241 245 249 / var(--tw-bg-opacity))
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem
}

.py-8 {
  padding-top: 2rem;
  padding-bottom: 2rem
}

.px-\[6\.25\%\] {
  padding-left: 6.25%;
  padding-right: 6.25%
}

.py-10 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem
}

.pb-16 {
  padding-bottom: 4rem
}

.pt-16 {
  padding-top: 4rem
}

.text-xs\/6 {
  font-size: 0.75rem;
  line-height: 1.5rem
}

.font-normal {
  font-weight: 400
}

.tracking-wider {
  letter-spacing: 0.05em
}

.text-\[\#65797C\] {
  --tw-text-opacity: 1;
  color: rgb(101 121 124 / var(--tw-text-opacity))
}

@media (max-width: 768px) {
  .max-\[768px\]\:w-full {
    width: 100%
  }
}