.back-navigation-wrapper :is(.mb-10) {
  margin-bottom: 2.5rem
}

.back-navigation-wrapper :is(.ml-\[-4px\]) {
  margin-left: -4px
}

.back-navigation-wrapper :is(.block) {
  display: block
}

.back-navigation-wrapper :is(.flex) {
  display: flex
}

.back-navigation-wrapper :is(.size-6) {
  width: 1.5rem;
  height: 1.5rem
}

.back-navigation-wrapper :is(.items-center) {
  align-items: center
}

.back-navigation-wrapper :is(.gap-2) {
  gap: 0.5rem
}

.back-navigation-wrapper :is(.px-7) {
  padding-left: 1.75rem;
  padding-right: 1.75rem
}

.back-navigation-wrapper :is(.text-base) {
  font-size: 1rem;
  line-height: 1.5rem
}

.back-navigation-wrapper :is(.font-bold) {
  font-weight: 700
}

.back-navigation-wrapper :is(.text-\[\#378189\]) {
  --tw-text-opacity: 1;
  color: rgb(55 129 137 / var(--tw-text-opacity))
}

@media (min-width: 768px) {
  .back-navigation-wrapper :is(.md\:mb-0) {
    margin-bottom: 0px
  }

  .back-navigation-wrapper :is(.md\:ml-72) {
    margin-left: 18rem
  }
}

@media (min-width: 1024px) {
  .back-navigation-wrapper :is(.lg\:px-8) {
    padding-left: 2rem;
    padding-right: 2rem
  }
}