.mini-teasers-wrapper :is(.mx-auto) {
  margin-left: auto;
  margin-right: auto
}

.mini-teasers-wrapper :is(.my-4) {
  margin-top: 1rem;
  margin-bottom: 1rem
}

.mini-teasers-wrapper :is(.block) {
  display: block
}

.mini-teasers-wrapper :is(.flex) {
  display: flex
}

.mini-teasers-wrapper :is(.w-full) {
  width: 100%
}

.mini-teasers-wrapper :is(.flex-col) {
  flex-direction: column
}

.mini-teasers-wrapper :is(.space-x-0 > :not([hidden]) ~ :not([hidden])) {
  --tw-space-x-reverse: 0;
  margin-right: calc(0px * var(--tw-space-x-reverse));
  margin-left: calc(0px * calc(1 - var(--tw-space-x-reverse)))
}

.mini-teasers-wrapper :is(.bg-black) {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity))
}

.mini-teasers-wrapper :is(.px-\[20px\]) {
  padding-left: 20px;
  padding-right: 20px
}

.mini-teasers-wrapper :is(.py-8) {
  padding-top: 2rem;
  padding-bottom: 2rem
}

.mini-teasers-wrapper :is(.text-lg) {
  font-size: 1.125rem;
  line-height: 1.75rem
}

.mini-teasers-wrapper :is(.font-semibold) {
  font-weight: 600
}

.mini-teasers-wrapper :is(.text-white) {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}

@media (min-width: 1024px) {
  .mini-teasers-wrapper :is(.lg\:w-3\/4) {
    width: 75%
  }

  .mini-teasers-wrapper :is(.lg\:flex-row) {
    flex-direction: row
  }

  .mini-teasers-wrapper :is(.lg\:space-x-8 > :not([hidden]) ~ :not([hidden])) {
    --tw-space-x-reverse: 0;
    margin-right: calc(2rem * var(--tw-space-x-reverse));
    margin-left: calc(2rem * calc(1 - var(--tw-space-x-reverse)))
  }
}

@media (min-width: 1280px) {
  .mini-teasers-wrapper :is(.xl\:max-w-\[1120px\]) {
    max-width: 1120px
  }

  .mini-teasers-wrapper :is(.xl\:px-0) {
    padding-left: 0px;
    padding-right: 0px
  }
}