.mini-teasers-wrapper :is(.mx-auto) {
  margin-left: auto;
  margin-right: auto
}

.mini-teasers-wrapper :is(.mb-2) {
  margin-bottom: 0.5rem
}

.mini-teasers-wrapper :is(.block) {
  display: block
}

.mini-teasers-wrapper :is(.h-\[60px\]) {
  height: 60px
}

.mini-teasers-wrapper :is(.w-4\/5) {
  width: 80%
}

.mini-teasers-wrapper :is(.w-\[60px\]) {
  width: 60px
}

.mini-teasers-wrapper :is(.space-y-11 > :not([hidden]) ~ :not([hidden])) {
  --tw-space-y-reverse: 0;
  margin-top: calc(2.75rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(2.75rem * var(--tw-space-y-reverse))
}

.mini-teasers-wrapper :is(.bg-black) {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity))
}

.mini-teasers-wrapper :is(.py-20) {
  padding-top: 5rem;
  padding-bottom: 5rem
}

.mini-teasers-wrapper :is(.text-lg) {
  font-size: 1.125rem;
  line-height: 1.75rem
}

.mini-teasers-wrapper :is(.text-sm) {
  font-size: 0.875rem;
  line-height: 1.25rem
}

.mini-teasers-wrapper :is(.font-normal) {
  font-weight: 400
}

.mini-teasers-wrapper :is(.font-semibold) {
  font-weight: 600
}

.mini-teasers-wrapper :is(.text-white) {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}

@media (min-width: 800px) {
  .mini-teasers-wrapper :is(.min-\[800px\]\:flex) {
    display: flex
  }

  .mini-teasers-wrapper :is(.min-\[800px\]\:space-x-11 > :not([hidden]) ~ :not([hidden])) {
    --tw-space-x-reverse: 0;
    margin-right: calc(2.75rem * var(--tw-space-x-reverse));
    margin-left: calc(2.75rem * calc(1 - var(--tw-space-x-reverse)))
  }

  .mini-teasers-wrapper :is(.min-\[800px\]\:space-y-0 > :not([hidden]) ~ :not([hidden])) {
    --tw-space-y-reverse: 0;
    margin-top: calc(0px * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(0px * var(--tw-space-y-reverse))
  }
}