.container {
  width: 100%
}

@media (min-width: 640px) {
  .container {
    max-width: 640px
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px
  }
}

.related-stories-wrapper :is(.mx-auto) {
  margin-left: auto;
  margin-right: auto
}

.related-stories-wrapper :is(.mb-3) {
  margin-bottom: 0.75rem
}

.related-stories-wrapper :is(.mt-3) {
  margin-top: 0.75rem
}

.related-stories-wrapper :is(.block) {
  display: block
}

.related-stories-wrapper :is(.grid) {
  display: grid
}

.related-stories-wrapper :is(.w-full) {
  width: 100%
}

.related-stories-wrapper :is(.max-w-7xl) {
  max-width: 80rem
}

.related-stories-wrapper :is(.grid-cols-1) {
  grid-template-columns: repeat(1, minmax(0, 1fr))
}

.related-stories-wrapper :is(.justify-items-center) {
  justify-items: center
}

.related-stories-wrapper :is(.gap-6) {
  gap: 1.5rem
}

.related-stories-wrapper :is(.filter) {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

@media (min-width: 640px) {
  .related-stories-wrapper :is(.sm\:grid-cols-1) {
    grid-template-columns: repeat(1, minmax(0, 1fr))
  }

  .related-stories-wrapper :is(.sm\:px-0) {
    padding-left: 0px;
    padding-right: 0px
  }
}

@media (min-width: 1024px) {
  .related-stories-wrapper :is(.lg\:grid-cols-3) {
    grid-template-columns: repeat(3, minmax(0, 1fr))
  }

  .related-stories-wrapper :is(.lg\:px-6) {
    padding-left: 1.5rem;
    padding-right: 1.5rem
  }
}

@media (min-width: 1280px) {
  .related-stories-wrapper :is(.xl\:px-0) {
    padding-left: 0px;
    padding-right: 0px
  }
}