.popup-alternative-wrapper :is(.mb-4) {
  margin-bottom: 1rem
}

.popup-alternative-wrapper :is(.block) {
  display: block
}

.popup-alternative-wrapper :is(.max-w-\[600px\]) {
  max-width: 600px
}

.popup-alternative-wrapper :is(.justify-between) {
  justify-content: space-between
}

.popup-alternative-wrapper :is(.gap-4) {
  gap: 1rem
}

.popup-alternative-wrapper :is(.px-6) {
  padding-left: 1.5rem;
  padding-right: 1.5rem
}

.popup-alternative-wrapper :is(.py-4) {
  padding-top: 1rem;
  padding-bottom: 1rem
}

.popup-alternative-wrapper :is(.text-2xl) {
  font-size: 1.5rem;
  line-height: 2rem
}

.popup-alternative-wrapper :is(.text-sm) {
  font-size: 0.875rem;
  line-height: 1.25rem
}

.popup-alternative-wrapper :is(.font-bold) {
  font-weight: 700
}

.popup-alternative-wrapper :is(.tracking-wide) {
  letter-spacing: 0.025em
}

.popup-alternative-wrapper :is(.text-gray-800) {
  --tw-text-opacity: 1;
  color: rgb(31 41 55 / var(--tw-text-opacity))
}