.story-info-wrapper :is(.col-span-1) {
  grid-column: span 1 / span 1
}

.story-info-wrapper :is(.col-span-2) {
  grid-column: span 2 / span 2
}

.story-info-wrapper :is(.mx-auto) {
  margin-left: auto;
  margin-right: auto
}

.story-info-wrapper :is(.my-4) {
  margin-top: 1rem;
  margin-bottom: 1rem
}

.story-info-wrapper :is(.mr-4) {
  margin-right: 1rem
}

.story-info-wrapper :is(.mt-4) {
  margin-top: 1rem
}

.story-info-wrapper :is(.block) {
  display: block
}

.story-info-wrapper :is(.flex) {
  display: flex
}

.story-info-wrapper :is(.hidden) {
  display: none
}

.story-info-wrapper :is(.w-full) {
  width: 100%
}

.story-info-wrapper :is(.w-max) {
  width: -moz-max-content;
  width: max-content
}

.story-info-wrapper :is(.max-w-4xl) {
  max-width: 56rem
}

.story-info-wrapper :is(.items-center) {
  align-items: center
}

.story-info-wrapper :is(.justify-start) {
  justify-content: flex-start
}

.story-info-wrapper :is(.justify-end) {
  justify-content: flex-end
}

.story-info-wrapper :is(.space-y-1 > :not([hidden]) ~ :not([hidden])) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.25rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.25rem * var(--tw-space-y-reverse))
}

.story-info-wrapper :is(.pl-1) {
  padding-left: 0.25rem
}

.story-info-wrapper :is(.text-lg) {
  font-size: 1.125rem;
  line-height: 1.75rem
}

.story-info-wrapper :is(.text-sm) {
  font-size: 0.875rem;
  line-height: 1.25rem
}

.story-info-wrapper :is(.font-medium) {
  font-weight: 500
}

.story-info-wrapper :is(.leading-6) {
  line-height: 1.5rem
}