.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem
}

.mx-0 {
  margin-left: 0px;
  margin-right: 0px
}

.mt-2 {
  margin-top: 0.5rem
}

.w-auto {
  width: auto
}

.w-full {
  width: 100%
}

.border-b {
  border-bottom-width: 1px
}

.border-solid {
  border-style: solid
}

.border-black {
  --tw-border-opacity: 1;
  border-color: rgb(0 0 0 / var(--tw-border-opacity))
}

.border-b-gray-400 {
  --tw-border-opacity: 1;
  border-bottom-color: rgb(156 163 175 / var(--tw-border-opacity))
}

.border-b-gray-200 {
  --tw-border-opacity: 1;
  border-bottom-color: rgb(229 231 235 / var(--tw-border-opacity))
}

.border-b-gray-300 {
  --tw-border-opacity: 1;
  border-bottom-color: rgb(209 213 219 / var(--tw-border-opacity))
}

.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem
}

.pb-4 {
  padding-bottom: 1rem
}

.text-base {
  font-size: 1rem;
  line-height: 1.5rem
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem
}

.font-bold {
  font-weight: 700
}

.font-medium {
  font-weight: 500
}

.leading-5 {
  line-height: 1.25rem
}

.text-\[\#378189\] {
  --tw-text-opacity: 1;
  color: rgb(55 129 137 / var(--tw-text-opacity))
}

.text-black {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity))
}