.disclaimer-wrapper :is(.mx-auto) {
  margin-left: auto;
  margin-right: auto
}

.disclaimer-wrapper :is(.mb-2) {
  margin-bottom: 0.5rem
}

.disclaimer-wrapper :is(.box-content) {
  box-sizing: content-box
}

.disclaimer-wrapper :is(.block) {
  display: block
}

.disclaimer-wrapper :is(.flex) {
  display: flex
}

.disclaimer-wrapper :is(.max-w-7xl) {
  max-width: 80rem
}

.disclaimer-wrapper :is(.max-w-\[88rem\]) {
  max-width: 88rem
}

.disclaimer-wrapper :is(.max-w-\[87rem\]) {
  max-width: 87rem
}

.disclaimer-wrapper :is(.flex-col) {
  flex-direction: column
}

.disclaimer-wrapper :is(.justify-center) {
  justify-content: center
}

.disclaimer-wrapper :is(.px-\[6\.25\%\]) {
  padding-left: 6.25%;
  padding-right: 6.25%
}

.disclaimer-wrapper :is(.py-10) {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem
}

.disclaimer-wrapper :is(.py-0) {
  padding-top: 0px;
  padding-bottom: 0px
}

.disclaimer-wrapper :is(.px-0) {
  padding-left: 0px;
  padding-right: 0px
}

.disclaimer-wrapper :is(.text-xs\/6) {
  font-size: 0.75rem;
  line-height: 1.5rem
}

.disclaimer-wrapper :is(.font-normal) {
  font-weight: 400
}

.disclaimer-wrapper :is(.tracking-wider) {
  letter-spacing: 0.05em
}

.disclaimer-wrapper :is(.text-\[\#65797C\]) {
  --tw-text-opacity: 1;
  color: rgb(101 121 124 / var(--tw-text-opacity))
}