.title-card-wrapper :is(.m-auto) {
  margin: auto
}

.title-card-wrapper :is(.my-5) {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem
}

.title-card-wrapper :is(.mb-12) {
  margin-bottom: 3rem
}

.title-card-wrapper :is(.mb-5) {
  margin-bottom: 1.25rem
}

.title-card-wrapper :is(.mb-8) {
  margin-bottom: 2rem
}

.title-card-wrapper :is(.mt-4) {
  margin-top: 1rem
}

.title-card-wrapper :is(.block) {
  display: block
}

.title-card-wrapper :is(.flex) {
  display: flex
}

.title-card-wrapper :is(.w-1\/6) {
  width: 16.666667%
}

.title-card-wrapper :is(.w-3\/4) {
  width: 75%
}

.title-card-wrapper :is(.w-full) {
  width: 100%
}

.title-card-wrapper :is(.max-w-\[800px\]) {
  max-width: 800px
}

.title-card-wrapper :is(.flex-col) {
  flex-direction: column
}

.title-card-wrapper :is(.justify-center) {
  justify-content: center
}

.title-card-wrapper :is(.border-t-4) {
  border-top-width: 4px
}

.title-card-wrapper :is(.border-\[\#ff7223\]) {
  --tw-border-opacity: 1;
  border-color: rgb(255 114 35 / var(--tw-border-opacity))
}

.title-card-wrapper :is(.text-center) {
  text-align: center
}

.title-card-wrapper :is(.font-sans) {
  font-family: rockwell
}

.title-card-wrapper :is(.text-3xl) {
  font-size: 1.875rem;
  line-height: 2.25rem
}

.title-card-wrapper :is(.text-6xl) {
  font-size: 3.75rem;
  line-height: 1
}

.title-card-wrapper :is(.text-base) {
  font-size: 1rem;
  line-height: 1.5rem
}

.title-card-wrapper :is(.text-xl) {
  font-size: 1.25rem;
  line-height: 1.75rem
}

.title-card-wrapper :is(.font-light) {
  font-weight: 300
}

.title-card-wrapper :is(.font-semibold) {
  font-weight: 600
}

.title-card-wrapper :is(.tracking-normal) {
  letter-spacing: 0em
}

.title-card-wrapper :is(.text-slate-800) {
  --tw-text-opacity: 1;
  color: rgb(30 41 59 / var(--tw-text-opacity))
}

@media (min-width: 640px) {
  .title-card-wrapper :is(.sm\:text-5xl) {
    font-size: 3rem;
    line-height: 1
  }
}

@media (min-width: 768px) {
  .title-card-wrapper :is(.md\:max-w-\[800px\]) {
    max-width: 800px
  }
}

@media (min-width: 1024px) {
  .title-card-wrapper :is(.lg\:pt-14) {
    padding-top: 3.5rem
  }

  .title-card-wrapper :is(.lg\:text-7xl) {
    font-size: 4.5rem;
    line-height: 1
  }

  .title-card-wrapper :is(.lg\:text-\[27px\]) {
    font-size: 27px
  }
}