.container {
  width: 100%
}

@media (min-width: 640px) {
  .container {
    max-width: 640px
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px
  }
}

.product-overview-wrapper :is(.relative) {
  position: relative
}

.product-overview-wrapper :is(.top-\[3px\]) {
  top: 3px
}

.product-overview-wrapper :is(.col-span-7) {
  grid-column: span 7 / span 7
}

.product-overview-wrapper :is(.mx-4) {
  margin-left: 1rem;
  margin-right: 1rem
}

.product-overview-wrapper :is(.my-6) {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem
}

.product-overview-wrapper :is(.mb-1) {
  margin-bottom: 0.25rem
}

.product-overview-wrapper :is(.mb-2) {
  margin-bottom: 0.5rem
}

.product-overview-wrapper :is(.mb-4) {
  margin-bottom: 1rem
}

.product-overview-wrapper :is(.mb-6) {
  margin-bottom: 1.5rem
}

.product-overview-wrapper :is(.mt-2) {
  margin-top: 0.5rem
}

.product-overview-wrapper :is(.mt-4) {
  margin-top: 1rem
}

.product-overview-wrapper :is(.mt-8) {
  margin-top: 2rem
}

.product-overview-wrapper :is(.block) {
  display: block
}

.product-overview-wrapper :is(.flex) {
  display: flex
}

.product-overview-wrapper :is(.grid) {
  display: grid
}

.product-overview-wrapper :is(.h-44) {
  height: 11rem
}

.product-overview-wrapper :is(.h-\[5px\]) {
  height: 5px
}

.product-overview-wrapper :is(.h-auto) {
  height: auto
}

.product-overview-wrapper :is(.h-full) {
  height: 100%
}

.product-overview-wrapper :is(.w-7) {
  width: 1.75rem
}

.product-overview-wrapper :is(.w-fit) {
  width: -moz-fit-content;
  width: fit-content
}

.product-overview-wrapper :is(.w-full) {
  width: 100%
}

.product-overview-wrapper :is(.cursor-pointer) {
  cursor: pointer
}

.product-overview-wrapper :is(.touch-pan-x) {
  --tw-pan-x: pan-x;
  touch-action: var(--tw-pan-x) var(--tw-pan-y) var(--tw-pinch-zoom)
}

.product-overview-wrapper :is(.select-none) {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none
}

.product-overview-wrapper :is(.appearance-none) {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none
}

.product-overview-wrapper :is(.grid-cols-3) {
  grid-template-columns: repeat(3, minmax(0, 1fr))
}

.product-overview-wrapper :is(.flex-wrap) {
  flex-wrap: wrap
}

.product-overview-wrapper :is(.flex-nowrap) {
  flex-wrap: nowrap
}

.product-overview-wrapper :is(.items-end) {
  align-items: flex-end
}

.product-overview-wrapper :is(.gap-2) {
  gap: 0.5rem
}

.product-overview-wrapper :is(.gap-4) {
  gap: 1rem
}

.product-overview-wrapper :is(.gap-x-3) {
  -moz-column-gap: 0.75rem;
       column-gap: 0.75rem
}

.product-overview-wrapper :is(.gap-y-10) {
  row-gap: 2.5rem
}

.product-overview-wrapper :is(.overflow-x-auto) {
  overflow-x: auto
}

.product-overview-wrapper :is(.overflow-y-hidden) {
  overflow-y: hidden
}

.product-overview-wrapper :is(.break-words) {
  overflow-wrap: break-word
}

.product-overview-wrapper :is(.break-keep) {
  word-break: keep-all
}

.product-overview-wrapper :is(.rounded-md) {
  border-radius: 0.375rem
}

.product-overview-wrapper :is(.rounded-e) {
  border-start-end-radius: 0.25rem;
  border-end-end-radius: 0.25rem
}

.product-overview-wrapper :is(.border) {
  border-width: 1px
}

.product-overview-wrapper :is(.border-t-\[1px\]) {
  border-top-width: 1px
}

.product-overview-wrapper :is(.border-\[\#dde1e1\]) {
  --tw-border-opacity: 1;
  border-color: rgb(221 225 225 / var(--tw-border-opacity))
}

.product-overview-wrapper :is(.border-\[rgb\(44\2c 101\2c 107\)\]) {
  --tw-border-opacity: 1;
  border-color: rgb(44 101 107 / var(--tw-border-opacity))
}

.product-overview-wrapper :is(.bg-\[\#edf6f7\]) {
  --tw-bg-opacity: 1;
  background-color: rgb(237 246 247 / var(--tw-bg-opacity))
}

.product-overview-wrapper :is(.bg-\[rgb\(237\2c 246\2c 247\)\]) {
  --tw-bg-opacity: 1;
  background-color: rgb(237 246 247 / var(--tw-bg-opacity))
}

.product-overview-wrapper :is(.bg-white) {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.product-overview-wrapper :is(.px-2) {
  padding-left: 0.5rem;
  padding-right: 0.5rem
}

.product-overview-wrapper :is(.py-1) {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem
}

.product-overview-wrapper :is(.py-6) {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem
}

.product-overview-wrapper :is(.pb-4) {
  padding-bottom: 1rem
}

.product-overview-wrapper :is(.pl-2) {
  padding-left: 0.5rem
}

.product-overview-wrapper :is(.pr-2) {
  padding-right: 0.5rem
}

.product-overview-wrapper :is(.pt-0) {
  padding-top: 0px
}

.product-overview-wrapper :is(.pt-10) {
  padding-top: 2.5rem
}

.product-overview-wrapper :is(.text-left) {
  text-align: left
}

.product-overview-wrapper :is(.font-sans) {
  font-family: rockwell
}

.product-overview-wrapper :is(.text-2xl) {
  font-size: 1.5rem;
  line-height: 2rem
}

.product-overview-wrapper :is(.text-4xl) {
  font-size: 2.25rem;
  line-height: 2.5rem
}

.product-overview-wrapper :is(.text-base) {
  font-size: 1rem;
  line-height: 1.5rem
}

.product-overview-wrapper :is(.text-sm) {
  font-size: 0.875rem;
  line-height: 1.25rem
}

.product-overview-wrapper :is(.text-xl) {
  font-size: 1.25rem;
  line-height: 1.75rem
}

.product-overview-wrapper :is(.text-xs) {
  font-size: 0.75rem;
  line-height: 1rem
}

.product-overview-wrapper :is(.font-bold) {
  font-weight: 700
}

.product-overview-wrapper :is(.font-normal) {
  font-weight: 400
}

.product-overview-wrapper :is(.font-semibold) {
  font-weight: 600
}

.product-overview-wrapper :is(.font-thin) {
  font-weight: 100
}

.product-overview-wrapper :is(.tracking-wide) {
  letter-spacing: 0.025em
}

.product-overview-wrapper :is(.tracking-wider) {
  letter-spacing: 0.05em
}

.product-overview-wrapper :is(.text-\[\#2a3c3c\]) {
  --tw-text-opacity: 1;
  color: rgb(42 60 60 / var(--tw-text-opacity))
}

.product-overview-wrapper :is(.text-\[\#2c656b\]) {
  --tw-text-opacity: 1;
  color: rgb(44 101 107 / var(--tw-text-opacity))
}

.product-overview-wrapper :is(.text-\[\#378189\]) {
  --tw-text-opacity: 1;
  color: rgb(55 129 137 / var(--tw-text-opacity))
}

.product-overview-wrapper :is(.text-\[\#575757\]) {
  --tw-text-opacity: 1;
  color: rgb(87 87 87 / var(--tw-text-opacity))
}

.product-overview-wrapper :is(.text-\[\#65797c\]) {
  --tw-text-opacity: 1;
  color: rgb(101 121 124 / var(--tw-text-opacity))
}

.product-overview-wrapper :is(.text-\[rgb\(44\2c 101\2c 107\)\]) {
  --tw-text-opacity: 1;
  color: rgb(44 101 107 / var(--tw-text-opacity))
}

.product-overview-wrapper :is(.text-\[rgb\(55\2c 129\2c 137\)\]) {
  --tw-text-opacity: 1;
  color: rgb(55 129 137 / var(--tw-text-opacity))
}

.product-overview-wrapper :is(.text-black) {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity))
}

.product-overview-wrapper :is(.underline) {
  text-decoration-line: underline
}

.product-overview-wrapper :is(.hover\:bg-\[\#0000000d\]:hover) {
  background-color: #0000000d
}

@media (max-width: 799px) {
  .product-overview-wrapper :is(.max-\[799px\]\:grid-cols-1) {
    grid-template-columns: repeat(1, minmax(0, 1fr))
  }
}