.elouqa-form-wrapper :is(.block) {
  display: block
}

.elouqa-form-wrapper :is(.flex) {
  display: flex
}

.elouqa-form-wrapper :is(.hidden) {
  display: none
}

.elouqa-form-wrapper :is(.flex-col) {
  flex-direction: column
}

.elouqa-form-wrapper :is(.gap-1) {
  gap: 0.25rem
}

.elouqa-form-wrapper :is(.gap-4) {
  gap: 1rem
}

.elouqa-form-wrapper :is(.rounded) {
  border-radius: 0.25rem
}

.elouqa-form-wrapper :is(.rounded-md) {
  border-radius: 0.375rem
}

.elouqa-form-wrapper :is(.border) {
  border-width: 1px
}

.elouqa-form-wrapper :is(.border-red-400) {
  --tw-border-opacity: 1;
  border-color: rgb(248 113 113 / var(--tw-border-opacity))
}

.elouqa-form-wrapper :is(.bg-green-400) {
  --tw-bg-opacity: 1;
  background-color: rgb(74 222 128 / var(--tw-bg-opacity))
}

.elouqa-form-wrapper :is(.p-1) {
  padding: 0.25rem
}

.elouqa-form-wrapper :is(.font-sans) {
  font-family: Noto Sans
}

.elouqa-form-wrapper :is(.text-sm) {
  font-size: 0.875rem;
  line-height: 1.25rem
}

.elouqa-form-wrapper :is(.font-semibold) {
  font-weight: 600
}

.elouqa-form-wrapper :is(.tracking-wide) {
  letter-spacing: 0.025em
}

.elouqa-form-wrapper :is(.text-red-600) {
  --tw-text-opacity: 1;
  color: rgb(220 38 38 / var(--tw-text-opacity))
}

.elouqa-form-wrapper :is(.text-white) {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}

.elouqa-form-wrapper :is(.blur) {
  --tw-blur: blur(8px);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}