.table-wrapper :is(.relative) {
  position: relative
}

.table-wrapper :is(.mb-2) {
  margin-bottom: 0.5rem
}

.table-wrapper :is(.\!block) {
  display: block !important
}

.table-wrapper :is(.block) {
  display: block
}

.table-wrapper :is(.table) {
  display: table
}

.table-wrapper :is(.hidden) {
  display: none
}

.table-wrapper :is(.w-full) {
  width: 100%
}

.table-wrapper :is(.w-max) {
  width: -moz-max-content;
  width: max-content
}

.table-wrapper :is(.table-auto) {
  table-layout: auto
}

.table-wrapper :is(.space-y-1 > :not([hidden]) ~ :not([hidden])) {
  --tw-space-y-reverse: 0;
  margin-top: calc(0.25rem * calc(1 - var(--tw-space-y-reverse)));
  margin-bottom: calc(0.25rem * var(--tw-space-y-reverse))
}

.table-wrapper :is(.overflow-x-auto) {
  overflow-x: auto
}

.table-wrapper :is(.rounded-lg) {
  border-radius: 0.5rem
}

.table-wrapper :is(.border) {
  border-width: 1px
}

.table-wrapper :is(.border-t) {
  border-top-width: 1px
}

.table-wrapper :is(.border-\[\#273F3F\]) {
  --tw-border-opacity: 1;
  border-color: rgb(39 63 63 / var(--tw-border-opacity))
}

.table-wrapper :is(.border-gray-300) {
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity))
}

.table-wrapper :is(.border-opacity-25) {
  --tw-border-opacity: 0.25
}

.table-wrapper :is(.bg-gray-50) {
  --tw-bg-opacity: 1;
  background-color: rgb(249 250 251 / var(--tw-bg-opacity))
}

.table-wrapper :is(.bg-yellow-200) {
  --tw-bg-opacity: 1;
  background-color: rgb(254 240 138 / var(--tw-bg-opacity))
}

.table-wrapper :is(.p-4) {
  padding: 1rem
}

.table-wrapper :is(.p-2) {
  padding: 0.5rem
}

.table-wrapper :is(.p-2\.5) {
  padding: 0.625rem
}

.table-wrapper :is(.text-left) {
  text-align: left
}

.table-wrapper :is(.text-sm) {
  font-size: 0.875rem;
  line-height: 1.25rem
}

.table-wrapper :is(.font-semibold) {
  font-weight: 600
}

.table-wrapper :is(.leading-5) {
  line-height: 1.25rem
}

.table-wrapper :is(.text-\[\#378189\]) {
  --tw-text-opacity: 1;
  color: rgb(55 129 137 / var(--tw-text-opacity))
}

.table-wrapper :is(.text-gray-900) {
  --tw-text-opacity: 1;
  color: rgb(17 24 39 / var(--tw-text-opacity))
}

.table-wrapper :is(.text-slate-400) {
  --tw-text-opacity: 1;
  color: rgb(148 163 184 / var(--tw-text-opacity))
}

.table-wrapper :is(.underline) {
  text-decoration-line: underline
}

.table-wrapper :is(.filter) {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

@media (min-width: 1024px) {
  .table-wrapper :is(.lg\:w-1\/4) {
    width: 25%
  }
}