.cross-sell-hub-links-wrapper :is(.mb-4) {
  margin-bottom: 1rem
}

.cross-sell-hub-links-wrapper :is(.block) {
  display: block
}

.cross-sell-hub-links-wrapper :is(.basis-1\/2) {
  flex-basis: 50%
}

.cross-sell-hub-links-wrapper :is(.pt-6) {
  padding-top: 1.5rem
}

.cross-sell-hub-links-wrapper :is(.text-lg) {
  font-size: 1.125rem;
  line-height: 1.75rem
}

.cross-sell-hub-links-wrapper :is(.font-semibold) {
  font-weight: 600
}

.cross-sell-hub-links-wrapper :is(.text-\[\#378189\]) {
  --tw-text-opacity: 1;
  color: rgb(55 129 137 / var(--tw-text-opacity))
}

.cross-sell-hub-links-wrapper :is(.filter) {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)
}

.cross-sell-hub-links-wrapper :is(.hover\:underline:hover) {
  text-decoration-line: underline
}