.mb-6 {
  margin-bottom: 1.5rem
}

.mb-0 {
  margin-bottom: 0px
}

.mb-2 {
  margin-bottom: 0.5rem
}

.block {
  display: block
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem
}

.pt-4 {
  padding-top: 1rem
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem
}

.font-bold {
  font-weight: 700
}

.font-normal {
  font-weight: 400
}

.capitalize {
  text-transform: capitalize
}

.leading-6 {
  line-height: 1.5rem
}

.leading-4 {
  line-height: 1rem
}

.text-black {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity))
}

.text-\[\#8B8B8B\] {
  --tw-text-opacity: 1;
  color: rgb(139 139 139 / var(--tw-text-opacity))
}

@media (min-width: 1024px) {
  .lg\:px-80 {
    padding-left: 20rem;
    padding-right: 20rem
  }
}