.mb-0 {
  margin-bottom: 0px
}

.mb-2 {
  margin-bottom: 0.5rem
}

.ml-4 {
  margin-left: 1rem
}

.mt-32 {
  margin-top: 8rem
}

.flex {
  display: flex
}

.w-full {
  width: 100%
}

.min-w-56 {
  min-width: 14rem
}

.flex-col {
  flex-direction: column
}

.items-center {
  align-items: center
}

.justify-between {
  justify-content: space-between
}

.gap-y-2 {
  row-gap: 0.5rem
}

.rounded {
  border-radius: 0.25rem
}

.bg-\[\#EDF6F7\] {
  --tw-bg-opacity: 1;
  background-color: rgb(237 246 247 / var(--tw-bg-opacity))
}

.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem
}

.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem
}

.pt-4 {
  padding-top: 1rem
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem
}

.text-xs {
  font-size: 0.75rem;
  line-height: 1rem
}

.font-bold {
  font-weight: 700
}

.font-normal {
  font-weight: 400
}

.font-semibold {
  font-weight: 600
}

.capitalize {
  text-transform: capitalize
}

.leading-4 {
  line-height: 1rem
}

.leading-6 {
  line-height: 1.5rem
}

.text-\[\#378189\] {
  --tw-text-opacity: 1;
  color: rgb(55 129 137 / var(--tw-text-opacity))
}

.text-\[\#8B8B8B\] {
  --tw-text-opacity: 1;
  color: rgb(139 139 139 / var(--tw-text-opacity))
}

.text-black {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity))
}

@media (min-width: 768px) {
  .md\:inline-flex {
    display: inline-flex
  }
}

@media (min-width: 1024px) {
  .lg\:max-w-72 {
    max-width: 18rem
  }

  .lg\:px-80 {
    padding-left: 20rem;
    padding-right: 20rem
  }
}

@media (min-width: 1280px) {
  .xl\:ml-0 {
    margin-left: 0px
  }
}