.footer-wrapper :is(.mx-auto) {
  margin-left: auto;
  margin-right: auto
}

.footer-wrapper :is(.my-6) {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem
}

.footer-wrapper :is(.my-8) {
  margin-top: 2rem;
  margin-bottom: 2rem
}

.footer-wrapper :is(.mt-2) {
  margin-top: 0.5rem
}

.footer-wrapper :is(.mt-4) {
  margin-top: 1rem
}

.footer-wrapper :is(.mt-auto) {
  margin-top: auto
}

.footer-wrapper :is(.block) {
  display: block
}

.footer-wrapper :is(.flex) {
  display: flex
}

.footer-wrapper :is(.hidden) {
  display: none
}

.footer-wrapper :is(.h-\[84px\]) {
  height: 84px
}

.footer-wrapper :is(.h-6) {
  height: 1.5rem
}

.footer-wrapper :is(.w-\[72px\]) {
  width: 72px
}

.footer-wrapper :is(.w-6) {
  width: 1.5rem
}

.footer-wrapper :is(.shrink-0) {
  flex-shrink: 0
}

.footer-wrapper :is(.rotate-45) {
  --tw-rotate: 45deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.footer-wrapper :is(.transform) {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.footer-wrapper :is(.flex-row) {
  flex-direction: row
}

.footer-wrapper :is(.flex-col) {
  flex-direction: column
}

.footer-wrapper :is(.flex-wrap) {
  flex-wrap: wrap
}

.footer-wrapper :is(.items-end) {
  align-items: flex-end
}

.footer-wrapper :is(.items-center) {
  align-items: center
}

.footer-wrapper :is(.justify-end) {
  justify-content: flex-end
}

.footer-wrapper :is(.justify-between) {
  justify-content: space-between
}

.footer-wrapper :is(.gap-x-1) {
  -moz-column-gap: 0.25rem;
       column-gap: 0.25rem
}

.footer-wrapper :is(.gap-x-1\.5) {
  -moz-column-gap: 0.375rem;
       column-gap: 0.375rem
}

.footer-wrapper :is(.gap-x-20) {
  -moz-column-gap: 5rem;
       column-gap: 5rem
}

.footer-wrapper :is(.gap-y-4) {
  row-gap: 1rem
}

.footer-wrapper :is(.space-x-5 > :not([hidden]) ~ :not([hidden])) {
  --tw-space-x-reverse: 0;
  margin-right: calc(1.25rem * var(--tw-space-x-reverse));
  margin-left: calc(1.25rem * calc(1 - var(--tw-space-x-reverse)))
}

.footer-wrapper :is(.rounded-sm) {
  border-radius: 0.125rem
}

.footer-wrapper :is(.border-2) {
  border-width: 2px
}

.footer-wrapper :is(.border-t) {
  border-top-width: 1px
}

.footer-wrapper :is(.border-t-2) {
  border-top-width: 2px
}

.footer-wrapper :is(.border-r-2) {
  border-right-width: 2px
}

.footer-wrapper :is(.border-t-0) {
  border-top-width: 0px
}

.footer-wrapper :is(.border-b-0) {
  border-bottom-width: 0px
}

.footer-wrapper :is(.border-l-0) {
  border-left-width: 0px
}

.footer-wrapper :is(.border-solid) {
  border-style: solid
}

.footer-wrapper :is(.border-white) {
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity))
}

.footer-wrapper :is(.border-current) {
  border-color: currentColor
}

.footer-wrapper :is(.bg-black) {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity))
}

.footer-wrapper :is(.px-\[30px\]) {
  padding-left: 30px;
  padding-right: 30px
}

.footer-wrapper :is(.pb-8) {
  padding-bottom: 2rem
}

.footer-wrapper :is(.pt-8) {
  padding-top: 2rem
}

.footer-wrapper :is(.text-end) {
  text-align: end
}

.footer-wrapper :is(.text-sm) {
  font-size: 0.875rem;
  line-height: 1.25rem
}

.footer-wrapper :is(.text-lg) {
  font-size: 1.125rem;
  line-height: 1.75rem
}

.footer-wrapper :is(.font-light) {
  font-weight: 300
}

.footer-wrapper :is(.font-normal) {
  font-weight: 400
}

.footer-wrapper :is(.font-medium) {
  font-weight: 500
}

.footer-wrapper :is(.font-bold) {
  font-weight: 700
}

.footer-wrapper :is(.text-white) {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}

.footer-wrapper :is(.text-gray-800) {
  --tw-text-opacity: 1;
  color: rgb(31 41 55 / var(--tw-text-opacity))
}

.footer-wrapper :is(.opacity-50) {
  opacity: 0.5
}

.footer-wrapper :is(.opacity-80) {
  opacity: 0.8
}

.footer-wrapper :is(.opacity-90) {
  opacity: 0.9
}

.footer-wrapper :is(.after\:m-0)::after {
  content: var(--tw-content);
  margin: 0px
}

.footer-wrapper :is(.after\:ml-0)::after {
  content: var(--tw-content);
  margin-left: 0px
}

.footer-wrapper :is(.after\:ml-0\.5)::after {
  content: var(--tw-content);
  margin-left: 0.125rem
}

.footer-wrapper :is(.after\:h-6)::after {
  content: var(--tw-content);
  height: 1.5rem
}

.footer-wrapper :is(.after\:w-6)::after {
  content: var(--tw-content);
  width: 1.5rem
}

.footer-wrapper :is(.after\:rotate-180)::after {
  content: var(--tw-content);
  --tw-rotate: 180deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.footer-wrapper :is(.after\:rotate-0)::after {
  content: var(--tw-content);
  --tw-rotate: 0deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.footer-wrapper :is(.after\:p-0)::after {
  content: var(--tw-content);
  padding: 0px
}

.footer-wrapper :is(.after\:text-red-500)::after {
  content: var(--tw-content);
  --tw-text-opacity: 1;
  color: rgb(239 68 68 / var(--tw-text-opacity))
}

.footer-wrapper :is(.after\:text-white)::after {
  content: var(--tw-content);
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}

.footer-wrapper :is(.after\:content-\[\'\*\'\])::after {
  --tw-content: '*';
  content: var(--tw-content)
}

.footer-wrapper :is(.after\:content-\[\'\\\*\'\])::after {
  --tw-content: '\*';
  content: var(--tw-content)
}

.footer-wrapper :is(.after\:content-\[\'\'\])::after {
  --tw-content: '';
  content: var(--tw-content)
}

.footer-wrapper :is(.after\:content-\[\'\^\'\])::after {
  --tw-content: '^';
  content: var(--tw-content)
}

.footer-wrapper :is(.after\:content-\[\'\\\\\^\'\])::after {
  --tw-content: '\\^';
  content: var(--tw-content)
}

.footer-wrapper :is(.after\:content-\[\'\/\^\'\])::after {
  --tw-content: '/^';
  content: var(--tw-content)
}

.footer-wrapper :is(.after\:content-\[\'\/\\\^\'\])::after {
  --tw-content: '/\^';
  content: var(--tw-content)
}

.footer-wrapper :is(.after\:content-\[\'\\\^\'\])::after {
  --tw-content: '\^';
  content: var(--tw-content)
}

.footer-wrapper :is(.after\:content-\[\'\\\/\^\'\])::after {
  --tw-content: '\/^';
  content: var(--tw-content)
}

.footer-wrapper :is(.after\:content-\[\^\])::after {
  --tw-content: ^;
  content: var(--tw-content)
}

.footer-wrapper :is(.after\:content-\[\'\'\*\'\'\])::after {
  --tw-content: ''*'';
  content: var(--tw-content)
}

.footer-wrapper :is(.after\:content-\[\'\\\\\*\'\])::after {
  --tw-content: '\\*';
  content: var(--tw-content)
}

.footer-wrapper :is(.after\:content-\[\*\])::after {
  --tw-content: *;
  content: var(--tw-content)
}

.footer-wrapper :is(.after\:content-\[\])::after {
  --tw-content: ;
  content: var(--tw-content)
}

.footer-wrapper :is(.after\:content-\[\\\'\*\\\'\])::after {
  --tw-content: \'*\';
  content: var(--tw-content)
}

.footer-wrapper :is(.after\:content-\[\\\'\\\'\])::after {
  --tw-content: \'\';
  content: var(--tw-content)
}

.footer-wrapper :is(.after\:content-\[\\\'\^\\\'\])::after {
  --tw-content: \'^\';
  content: var(--tw-content)
}

.footer-wrapper :is(.hover\:underline:hover) {
  text-decoration-line: underline
}

@media (min-width: 768px) {
  .footer-wrapper :is(.md\:block) {
    display: block
  }

  .footer-wrapper :is(.md\:hidden) {
    display: none
  }

  .footer-wrapper :is(.md\:flex-row) {
    flex-direction: row
  }

  .footer-wrapper :is(.md\:gap-x-4) {
    -moz-column-gap: 1rem;
         column-gap: 1rem
  }

  .footer-wrapper :is(.md\:px-32) {
    padding-left: 8rem;
    padding-right: 8rem
  }
}

@media (min-width: 1024px) {
  .footer-wrapper :is(.lg\:my-7) {
    margin-top: 1.75rem;
    margin-bottom: 1.75rem
  }

  .footer-wrapper :is(.lg\:my-6) {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem
  }
}

@media (min-width: 1280px) {
  .footer-wrapper :is(.xl\:max-w-\[1120px\]) {
    max-width: 1120px
  }

  .footer-wrapper :is(.xl\:px-0) {
    padding-left: 0px;
    padding-right: 0px
  }
}

@media (prefers-color-scheme: dark) {
  .footer-wrapper :is(.dark\:text-white) {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity))
  }
}