.product-overview-wrapper :is(.visible) {
  visibility: visible
}

.product-overview-wrapper :is(.fixed) {
  position: fixed
}

.product-overview-wrapper :is(.absolute) {
  position: absolute
}

.product-overview-wrapper :is(.relative) {
  position: relative
}

.product-overview-wrapper :is(.right-\[1\%\]) {
  right: 1%
}

.product-overview-wrapper :is(.top-\[35\%\]) {
  top: 35%
}

.product-overview-wrapper :is(.top-\[50\%\]) {
  top: 50%
}

.product-overview-wrapper :is(.left-0) {
  left: 0px
}

.product-overview-wrapper :is(.right-0) {
  right: 0px
}

.product-overview-wrapper :is(.top-1\/2) {
  top: 50%
}

.product-overview-wrapper :is(.z-10) {
  z-index: 10
}

.product-overview-wrapper :is(.z-\[100\]) {
  z-index: 100
}

.product-overview-wrapper :is(.mx-12) {
  margin-left: 3rem;
  margin-right: 3rem
}

.product-overview-wrapper :is(.block) {
  display: block
}

.product-overview-wrapper :is(.flex) {
  display: flex
}

.product-overview-wrapper :is(.hidden) {
  display: none
}

.product-overview-wrapper :is(.size-8) {
  width: 2rem;
  height: 2rem
}

.product-overview-wrapper :is(.h-16) {
  height: 4rem
}

.product-overview-wrapper :is(.h-full) {
  height: 100%
}

.product-overview-wrapper :is(.w-full) {
  width: 100%
}

.product-overview-wrapper :is(.min-w-28) {
  min-width: 7rem
}

.product-overview-wrapper :is(.grow) {
  flex-grow: 1
}

.product-overview-wrapper :is(.translate-y-\[-50\%\]) {
  --tw-translate-y: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.product-overview-wrapper :is(.-translate-y-1\/2) {
  --tw-translate-y: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.product-overview-wrapper :is(.-translate-x-1\/2) {
  --tw-translate-x: -50%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.product-overview-wrapper :is(.rotate-90) {
  --tw-rotate: 90deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.product-overview-wrapper :is(.rotate-\[270deg\]) {
  --tw-rotate: 270deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.product-overview-wrapper :is(.transform) {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}

.product-overview-wrapper :is(.cursor-pointer) {
  cursor: pointer
}

.product-overview-wrapper :is(.flex-row) {
  flex-direction: row
}

.product-overview-wrapper :is(.items-center) {
  align-items: center
}

.product-overview-wrapper :is(.justify-center) {
  justify-content: center
}

.product-overview-wrapper :is(.gap-4) {
  gap: 1rem
}

.product-overview-wrapper :is(.overflow-hidden) {
  overflow: hidden
}

.product-overview-wrapper :is(.rounded) {
  border-radius: 0.25rem
}

.product-overview-wrapper :is(.border) {
  border-width: 1px
}

.product-overview-wrapper :is(.border-\[\#0711121a\]) {
  border-color: #0711121a
}

.product-overview-wrapper :is(.bg-white) {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.product-overview-wrapper :is(.bg-red-300) {
  --tw-bg-opacity: 1;
  background-color: rgb(252 165 165 / var(--tw-bg-opacity))
}

.product-overview-wrapper :is(.px-12) {
  padding-left: 3rem;
  padding-right: 3rem
}

.product-overview-wrapper :is(.py-5) {
  padding-top: 1.25rem;
  padding-bottom: 1.25rem
}

.product-overview-wrapper :is(.px-5) {
  padding-left: 1.25rem;
  padding-right: 1.25rem
}

.product-overview-wrapper :is(.transition-transform) {
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms
}

.product-overview-wrapper :is(.duration-300) {
  transition-duration: 300ms
}

.product-overview-wrapper :is(.ease-in-out) {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
}

.product-overview-wrapper :is(.hover\:bg-\[\#0000000d\]:hover) {
  background-color: #0000000d
}