@font-face {
  font-family: sanchez;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/sanchez-regular-webfont.woff2') format('woff2'),
  url("../fonts/Sanchez-Regular.ttf") format("truetype")
}

@font-face {
  font-family: sanchez;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/sanchez-regular-webfont.woff2') format('woff2'),
  url("../fonts/Sanchez-Regular.ttf") format("truetype") 
}

@font-face {
  font-family: sanchez;
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/sanchez-italic-webfont.woff2') format('woff2'),
  url("../fonts/Sanchez-Italic.ttf") format("truetype")
}
