.breadcrumb-wrapper :is(.relative) {
  position: relative
}

.breadcrumb-wrapper :is(.z-10) {
  z-index: 10
}

.breadcrumb-wrapper :is(.m-auto) {
  margin: auto
}

.breadcrumb-wrapper :is(.mt-20) {
  margin-top: 5rem
}

.breadcrumb-wrapper :is(.block) {
  display: block
}

.breadcrumb-wrapper :is(.flex) {
  display: flex
}

.breadcrumb-wrapper :is(.w-3\/4) {
  width: 75%
}

.breadcrumb-wrapper :is(.max-w-max) {
  max-width: -moz-max-content;
  max-width: max-content
}

.breadcrumb-wrapper :is(.flex-1) {
  flex: 1 1 0%
}

.breadcrumb-wrapper :is(.flex-col) {
  flex-direction: column
}

.breadcrumb-wrapper :is(.items-center) {
  align-items: center
}

.breadcrumb-wrapper :is(.justify-center) {
  justify-content: center
}

.breadcrumb-wrapper :is(.font-sans) {
  font-family: rockwell
}

.breadcrumb-wrapper :is(.text-base) {
  font-size: 1rem;
  line-height: 1.5rem
}

.breadcrumb-wrapper :is(.text-lg) {
  font-size: 1.125rem;
  line-height: 1.75rem
}

.breadcrumb-wrapper :is(.underline) {
  text-decoration-line: underline
}

.breadcrumb-wrapper :is(.hover\:underline:hover) {
  text-decoration-line: underline
}