.link-list-wrapper :is(.block) {
  display: block
}

.link-list-wrapper :is(.w-full) {
  width: 100%
}

.link-list-wrapper :is(.items-center) {
  align-items: center
}

.link-list-wrapper :is(.justify-center) {
  justify-content: center
}

.link-list-wrapper :is(.text-sm) {
  font-size: 0.875rem;
  line-height: 1.25rem
}

.link-list-wrapper :is(.text-xs) {
  font-size: 0.75rem;
  line-height: 1rem
}

.link-list-wrapper :is(.font-bold) {
  font-weight: 700
}

.link-list-wrapper :is(.font-semibold) {
  font-weight: 600
}

.link-list-wrapper :is(.leading-10) {
  line-height: 2.5rem
}

.link-list-wrapper :is(.leading-4) {
  line-height: 1rem
}

.link-list-wrapper :is(.tracking-wider) {
  letter-spacing: 0.05em
}

.link-list-wrapper :is(.text-\[\#4CA6B3\]) {
  --tw-text-opacity: 1;
  color: rgb(76 166 179 / var(--tw-text-opacity))
}