.product-header-wrapper :is(.ml-2) {
  margin-left: 0.5rem
}

.product-header-wrapper :is(.block) {
  display: block
}

.product-header-wrapper :is(.flex) {
  display: flex
}

.product-header-wrapper :is(.cursor-pointer) {
  cursor: pointer
}

.product-header-wrapper :is(.flex-row) {
  flex-direction: row
}

.product-header-wrapper :is(.flex-col) {
  flex-direction: column
}

.product-header-wrapper :is(.items-center) {
  align-items: center
}

.product-header-wrapper :is(.gap-1) {
  gap: 0.25rem
}

.product-header-wrapper :is(.gap-2) {
  gap: 0.5rem
}

.product-header-wrapper :is(.gap-2\.5) {
  gap: 0.625rem
}

.product-header-wrapper :is(.gap-4) {
  gap: 1rem
}

.product-header-wrapper :is(.break-keep) {
  word-break: keep-all
}

.product-header-wrapper :is(.rounded) {
  border-radius: 0.25rem
}

.product-header-wrapper :is(.border) {
  border-width: 1px
}

.product-header-wrapper :is(.border-\[\#EDF6F7\]) {
  --tw-border-opacity: 1;
  border-color: rgb(237 246 247 / var(--tw-border-opacity))
}

.product-header-wrapper :is(.bg-\[\#EDF6F7\]) {
  --tw-bg-opacity: 1;
  background-color: rgb(237 246 247 / var(--tw-bg-opacity))
}

.product-header-wrapper :is(.px-2) {
  padding-left: 0.5rem;
  padding-right: 0.5rem
}

.product-header-wrapper :is(.py-1) {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem
}

.product-header-wrapper :is(.py-2) {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem
}

.product-header-wrapper :is(.pb-2) {
  padding-bottom: 0.5rem
}

.product-header-wrapper :is(.font-sans) {
  font-family: Noto Sans
}

.product-header-wrapper :is(.\!text-\[10px\]) {
  font-size: 10px !important
}

.product-header-wrapper :is(.text-base) {
  font-size: 1rem;
  line-height: 1.5rem
}

.product-header-wrapper :is(.text-sm) {
  font-size: 0.875rem;
  line-height: 1.25rem
}

.product-header-wrapper :is(.text-xs) {
  font-size: 0.75rem;
  line-height: 1rem
}

.product-header-wrapper :is(.\!font-semibold) {
  font-weight: 600 !important
}

.product-header-wrapper :is(.font-medium) {
  font-weight: 500
}

.product-header-wrapper :is(.font-normal) {
  font-weight: 400
}

.product-header-wrapper :is(.font-semibold) {
  font-weight: 600
}

.product-header-wrapper :is(.lowercase) {
  text-transform: lowercase
}

.product-header-wrapper :is(.\!not-italic) {
  font-style: normal !important
}

.product-header-wrapper :is(.\!leading-3) {
  line-height: .75rem !important
}

.product-header-wrapper :is(.\!leading-7) {
  line-height: 1.75rem !important
}

.product-header-wrapper :is(.tracking-\[1px\]) {
  letter-spacing: 1px
}

.product-header-wrapper :is(.tracking-wide) {
  letter-spacing: 0.025em
}

.product-header-wrapper :is(.text-\[\#378089\]) {
  --tw-text-opacity: 1;
  color: rgb(55 128 137 / var(--tw-text-opacity))
}

.product-header-wrapper :is(.text-\[\#378189\]) {
  --tw-text-opacity: 1;
  color: rgb(55 129 137 / var(--tw-text-opacity))
}

.product-header-wrapper :is(.text-\[\#65797C\]) {
  --tw-text-opacity: 1;
  color: rgb(101 121 124 / var(--tw-text-opacity))
}

.product-header-wrapper :is(.text-black) {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity))
}

.product-header-wrapper :is(.underline) {
  text-decoration-line: underline
}

.product-header-wrapper :is(.transition-transform) {
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms
}

.product-header-wrapper :is(.duration-300) {
  transition-duration: 300ms
}

@media (min-width: 1024px) {
  .product-header-wrapper :is(.lg\:\!text-3xl) {
    font-size: 1.875rem !important;
    line-height: 2.25rem !important
  }
}